<template>
  <div>

    <v-container grid-list-sm fluid>
      <v-row row wrap>
        <v-col>
          <v-card flat>
            <v-card-actions>
              <v-menu bottom right>
                <template v-slot:activator="{ on }">
                  <v-btn
                    outlined
                    v-on="on"
                  >
                    <span>{{ typeToLabel[type] }}</span>
                    <v-icon right>mdi-menu-down</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item @click="type = 'day'">
                    <v-list-item-title>Day</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="type = 'week'">
                    <v-list-item-title>Week</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="type = 'month'">
                    <v-list-item-title>Month</v-list-item-title>
                  </v-list-item>
                  <v-list-item @click="type = '4day'">
                    <v-list-item-title>4 days</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>

              <v-btn @click="$refs.calendar.prev()" icon text>
                <v-icon dark small>
                  mdi-chevron-left
                </v-icon>
              </v-btn>
              <v-btn @click="$refs.calendar.next()" icon text>
                <v-icon dark small>
                  mdi-chevron-right
                </v-icon>
              </v-btn>

              <v-spacer></v-spacer>

              <v-btn class="text-capitalize mr-3 hidden-xs-only" 
                tile depressed 
                @click="$router.push('/reservations/')" >
                All reservations
              </v-btn>
              <v-btn color="primary" @click="$router.push('/reservations/?new=true')"
                depressed tile class="text-capitalize" right slot="activator">
                <v-icon class="">mdi-plus</v-icon>
                New <span class="hidden-xs-only">Reservation</span>
              </v-btn>
              
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <v-sheet height="500">
            <v-calendar ref="calendar" 
              color="primary" 
              :type="type"
              :focus="today"
              :now="today"
              :event-color="getEventColor"
              :event-margin-bottom="3"
              :events="events"
              v-model="today"
              @click:event="showEvent"
              @click:more="viewWeek"
              @click:date="viewDay"
              @change="updateRange"
            >
            </v-calendar>

            <v-menu
              v-model="selectedOpen"
              :close-on-content-click="false"
              :activator="selectedElement"
              offset-x>
              <v-card
                color="grey lighten-4"
                min-width="350px"
                flat
              >
                <v-toolbar dense flat
                  :color="getEventColor(selectedEvent)"
                  dark
                >
                  <v-toolbar-title v-html="selectedEvent.title"></v-toolbar-title>
                  
                </v-toolbar>
                <v-card-text>
                  <div><span><strong>Arrival</strong>: {{selectedEvent.date}}</span></div>
                  <div><span><strong>Departure</strong>: {{selectedEvent.checkout}}</span></div>
                  <div><span><strong>Rooms</strong>: {{selectedEvent.rooms}}</span></div>
                  <!-- <div><span><strong>Status</strong>: {{selectedEvent.status}}</span></div> -->
                  <div><span><strong>Made on</strong>: {{selectedEvent.date_created}}</span></div>
                </v-card-text>
                <v-card-actions>

                  <v-btn text small color="error" v-if="selectedEvent.status == 'cancelled'">Booking Cancelled</v-btn>
                  <v-btn text small color="success" v-if="selectedEvent.status == 'checked_in'">Checked In</v-btn>
                  <v-btn text small color="orange" v-if="selectedEvent.status == 'checked_out'">Checked out</v-btn>

                  <v-spacer></v-spacer>

                  <v-btn color="primary"
                    depressed small
                    :to="`/reservations?search=${selectedEvent.title}`">
                    View Details
                  </v-btn>

                </v-card-actions>
              </v-card>
            </v-menu>

          </v-sheet>
        </v-col>
      </v-row>

    </v-container>
  </div>
</template>
<script>
export default {
  data: () => ({
    loading: false,
    new_booking: false,
    selected_room_type: {},
    guest_name: '',
    guest_phone: '',
    reserving: false, // reserving room in progress
    checking_in: false, // checking in guest
    checking_out: false, // checking out guest in progress
    bookings: [],
    today: today,
    start: null,
    end: null,
    type: 'month',
    typeOptions: [
      { text: 'Day', value: 'day' },
      { text: '4 Day', value: '4day' },
      { text: 'Week', value: 'week' },
      { text: 'Month', value: 'month' },
    ],
    typeToLabel: {
      month: 'Month',
      week: 'Week',
      day: 'Day',
      '4day': '4 Days',
    },
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    checkin_dialog: false,
    checkin: new Date().toISOString().substr(0, 10),
		checkout: new Date(new Date().getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10),
		menu1: false,
		menu2: false,
		menu: false,
		qty: 1,
		guests: 1,
    children: 0,
    rooms: [],
    assigned_room: '',
  }),
  watch: {
    'this_hotel': function(){
      this.initialize()
    }
  },
  computed: {
    ...mapState([
      'auth',
      'this_hotel'
    ]),
    // convert the list of bookings into a map of lists keyed by date
    events () {

      return this.bookings.map(e => {
        // console.log(e.checkin, e.checkout)
        return {

          title: e.booking_for.customer_name,
          name: e.booking_for.customer_name,
          start: e.checkin,
          end: e.checkout,
          date: e.checkin,
          checkout: e.checkout,
          rooms: e.room_type,
          room_types: e.rooms,
          open: false,
          date_created: e.date_created.toDate().toISOString().substr(0,10),
          status: e.status,
          docId: e.docId,
          userId: e.userId
        }
      })
    },
    format_date1 () {
      return this.checkin ? moment(this.checkin).format('ddd, MM Do YYYY') : ''
    },
    format_date2 () {
      return this.checkout ? moment(this.checkout).format('ddd, MM Do YYYY') : ''
    },
  },
  methods: {
    open (event) {
      alert(event.title)
    },
    showEvent ({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        setTimeout(() => this.selectedOpen = true, 10)
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        setTimeout(open, 10)
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    updateRange ({ start, end }) {
      this.start = start
      this.end = end
    },
    getEventColor (event) {
      
      switch (event.status) {
        case 'cancelled':
          return 'orange'
        case 'checked_in':
          return 'success';
        case 'checked_out':
          return 'orange';
        default:
          return 'primary'
          break;
      }
    },
    initialize(){
      // console.log(this.this_hotel)
      this.loading = true
      this.$db.collection('bookings')
      .where('hotelId', '==',this.this_hotel.docId)
      .onSnapshot(docs =>{
        // console.log(docs)
        this.bookings = []
        docs.forEach(doc =>{
          let book = doc.data()
          let room_types = Object.keys(book.rooms)
          let rooms = []
          room_types.forEach(room_type => {
            rooms.push({
              [room_type]: book.rooms[room_type].qty
            })
          })
          this.bookings.push({
            ...book,
            room_type: rooms.map(item => {
              return `${Object.values(item)[0]} ${Object.keys(item)[0]}`
            }).join(', ')
          })
          
        // console.log(this.bookings)
        })
        this.loading = false
      })

      // get all rooms
      this.$db.collection('hotels').doc(this.this_hotel.docId).collection('rooms')
      .onSnapshot(docs => {
        let rooms = []
        docs.forEach(doc => {
          rooms.push(doc.data())
        })
        this.rooms = rooms
        // console.log({rooms})
      })
    },
    allowedDates(val){
			// only allow dates greater than or equal to today
			let today = new Date().getTime()

			let toAllow = new Date(val).getTime()
			
			return toAllow - today >= 0
		},
		allowedDates2(val){
			// only allow dates greater than the checkin date
			let checkin = new Date(this.checkin).getTime()

			let toAllow = new Date(val).getTime()
			let oneDay = 24 * 60 * 60 * 1000
			
			return toAllow - checkin  - oneDay >= 0
		},
    viewDay ({ date }) {
      this.focus = date
      this.type = 'day'
    },
    viewWeek ({ date }) {
      this.focus = date
      this.type = 'week'
    },
    
  },
  components: {

  },
  mounted(){
    this.initialize()
    // this.$refs.calendar.checkChange()
  }
}

let today = new Date().toISOString().substring(0,10)

import { mapState } from 'vuex';
import moment from 'moment'
</script>

<style lang="scss">
  .my-event {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    background-color: #1867c0;
    color: #ffffff;
    border: 1px solid #1867c0;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    font-size: 12px;
    padding: 3px;
    cursor: pointer;
    margin-bottom: 1px;
    margin-right: 3px;
  }

  // .theme--light.v-calendar-weekly .v-calendar-weekly__day {
  //   display: inherit;
  // }
</style>
