<template>
  <div>
    <t-navigation :breadcrumbs_items="items">
      <template v-slot:right></template>
    </t-navigation>

    <v-toolbar color="grey lighten-5" flat tile dense>
      <v-toolbar-items>
        <template v-for="menu in menuItems">
          <v-btn 
            depressed
            color="" active-class="primary--text"
            :key="menu.text + '-menu'"
            :to="menu.link" exact
            class="text-capitalize font-weight-light">
            {{menu.text}}
          </v-btn>
          <v-divider vertical v-if="menu.divider" :key="menu.text + '-div'"></v-divider>
        </template>

      </v-toolbar-items>
    </v-toolbar>
    <v-divider></v-divider>

    <router-view/>

  </div>
</template>
<script>
export default {
  data: () => ({
    items: [
      {
        text: 'Dashboard',
        disabled: false,
        to: '/'
      },
      {
        text: 'rates-availability-inventory',
        disabled: true,
        to: '/'
      }
    ],
    menuItems: [
      {text: 'Calendar', link: '/rates-availability-inventory', divider: true, hidden_sm: false, hidden_xs: false},
      {text: 'Rooms and facilities', link: '/rates-availability-inventory/rooms', divider: true},
    ]
  }),
  mounted(){
    // console.log(this.$router)
  }
}
</script>
