<template>
	<div>
		<v-container grid-list-lg :class="[{'mx-0': $vuetify.breakpoint.xsOnly}]">
			<v-row>
				<v-col cols="12">
					<v-card flat>

						<v-card-text>
							<v-toolbar flat color="white">
								<v-toolbar-title class="ml-0 primary--text font-weight-bold">Rooms</v-toolbar-title>
								<!-- <v-divider
									class="mx-2"
									inset
									vertical
								></v-divider> -->
								<v-spacer></v-spacer>
								

								<!-- ROOM CATEGORIES -->
								<v-dialog 
									v-model="dialog" max-width="500px" 
									:persistent="adding_cat || uploading" 
									:fullscreen="$vuetify.breakpoint.xsOnly">

									<template v-slot:activator="{ on }">
										<v-btn color="primary" dark class="mb-2 text-capitalize" depressed v-on="on">
											<v-icon>mdi-plus</v-icon>
											 Add Room</v-btn>
									</template>
									<v-card>
										<v-card-title class="primary white--text">
											<span class="title">{{ formTitle }}</span>
										</v-card-title>

										<v-card-text>
											<v-tabs v-model="tabs" color="" slider-color="red">
												<v-tab href="#tab-1" :disabled="uploading">
													Details
												</v-tab>
												<v-tab href="#tab-2" :disabled="uploading || editedIndex === -1">
													Photo
												</v-tab>
												<v-tab href="#tab-3" :disabled="uploading || editedIndex === -1">
													Video
												</v-tab>
											</v-tabs>

											<v-tabs-items v-model="tabs">
												<v-tab-item
													value="tab-1">
													<v-container grid-list-md>
														<v-row wrap>
															<v-col cols="12" sm="6" md="4">
																<v-text-field v-model="editedItem.room_type" :disabled="editedIndex !== -1" label="Room Type"></v-text-field>
															</v-col>
															<v-col cols="12" sm="6" md="4">
																<v-text-field v-model="editedItem.qty" type="number" min="1" label="Number of rooms"></v-text-field>
															</v-col>
															<v-col cols="12" sm="6" md="4">
																<v-text-field v-model="editedItem.price_per_night" type="number" min="1" label="Rack Rate (NGN)"></v-text-field>
															</v-col>
															<v-col cols="12" sm="6" md="4">
																<v-text-field v-model="editedItem.discounted_rate" type="number" min="1" label="Discouted Rate (NGN)"></v-text-field>
															</v-col>
															<v-col cols="12" sm="6" md="4">
																<v-text-field v-model="editedItem.non_refundable_rate" type="number" min="1" label="Non Refundable (NGN)"></v-text-field>
															</v-col>
															<v-col cols="12" sm="6" md="4">
																<v-text-field v-model="editedItem.free_cancellation_rate" type="number" min="1" label="Free Cancellation (NGN)"></v-text-field>
															</v-col>
															<v-col cols="12" sm="6" md="4">
																<v-text-field v-model="editedItem.sleeps" type="number" min="1" label="Sleeps"></v-text-field>
															</v-col>
															<v-col cols="12" sm="6" md="4">
																<v-text-field v-model="editedItem.beds" type="number" min="1" label="Beds"></v-text-field>
															</v-col>
														</v-row>
													</v-container>
												</v-tab-item>

												<v-tab-item
													value="tab-2">
													<v-card flat>
														<v-card-text>
															<v-img :src="editedItem.imgSrc" v-show="editedItem.imgSrc"  width="50%" height="100">
																<v-row slot="placeholder" fill-height align-center justify-center ma-0>
																	<v-progress-circular indeterminate color="grey lighten-2"></v-progress-circular>
																</v-row>
															</v-img>

															<v-file-input
																v-model="selected_image"
																color="primary accent-4"
																counter class="mt-6"
																accept="image/png, image/jpeg"
																label="Photo"
																:rules="imageRules"
																placeholder="Select Photo"
																prepend-icon="mdi-paperclip"
																hint="Image size should be less than 2mb"
																outlined persistent-hint
																:show-size="1000">
																<template v-slot:selection="{ index, text }">
																	<v-chip
																		v-if="index < 2"
																		color="deep-purple accent-4"
																		dark
																		label
																		small
																	>
																		{{ text }}
																	</v-chip>

																</template>
															</v-file-input>

															
															<v-btn color="success"
																depressed class="ml-2 mt-4 text-capitalize"
																:disabled="imageRules[0] !== true"
																@click="upload" :loading="uploading">
																Upload
															</v-btn>
														</v-card-text>
													</v-card>
												</v-tab-item>

												<v-tab-item
													value="tab-3">
													<v-card flat>
														<v-card-text >
															<video controls :src="editedItem.videoSrc" 
																v-if="editedItem.videoSrc" style="width: 100%; height: 200px;">
															</video>
															
															<v-file-input
																v-model="selected_video"
																color="primary accent-4"
																counter class="mt-6"
																accept="video/mp4"
																label="files"
																:rules="videoRules"
																placeholder="Select Video"
																prepend-icon="mdi-paperclip"
																hint="Video size should be less than 3mb"
																outlined persistent-hint
																:show-size="1000">
																<template v-slot:selection="{ index, text }">
																	<v-chip
																		v-if="index < 2"
																		color="deep-purple accent-4"
																		dark
																		label
																		small
																	>
																		{{ text }}
																	</v-chip>
																</template>
															</v-file-input>

															<v-btn color="success"
																:disabled="videoRules[0] !== true"
																depressed class="ml-2 mt-4 text-capitalize"
																@click="upload($event,true)" :loading="uploading">
																Upload
															</v-btn>
														</v-card-text>
													</v-card>
												</v-tab-item>
											</v-tabs-items>
										</v-card-text>

										<v-card-actions v-if="tabs == 'tab-1'">
											<v-spacer></v-spacer>
											<v-btn color="blue darken-1" text @click="close" :disabled="adding_cat">Cancel</v-btn>
											<v-btn color="blue darken-1"
												:disabled="disable_cat_save"
												text @click="save" 
												:loading="adding_cat">Save
											</v-btn>
										</v-card-actions>
									</v-card>
								</v-dialog>
							</v-toolbar>

							<v-data-table
								:headers="headers"
								:items="room_types"
								class="elevation-1"
							>
								<template v-slot:item.action="{ item }">
									<v-icon
										small
										class="mr-2"
										@click="editItem(item)"
									>
										mdi-pencil
									</v-icon>
									<v-icon
										small
										@click="deleteItem(item)"
									>
										mdi-delete
									</v-icon>
								</template>
								<template v-slot:no-data>
									No rooms yet
								</template>
							</v-data-table>
						</v-card-text>
					</v-card>
				</v-col>

				<!-- FACILITIES -->
				<v-col xs8>
					<v-card flat >
						<v-card-text>
							<v-subheader 
								class="title font-weight-bold pl-0 ml-0 primary--text">
								Hotel Facilities
							</v-subheader>
							<v-select
								label="Add Facilities"
								:items="items" outlined hide-details
								v-model="facilities" item-value="code"
								multiple deletable-chips
								chips return-object item-text="text"
							></v-select>
							
						</v-card-text>
						<v-card-actions>
							<v-btn color="success" class="ml-2"
								@click="saveFacilities" 
								:loading="updating_facilities"
								:disabled="facilities.length == 0">Save Changes</v-btn>
						</v-card-actions>
					</v-card>
				</v-col>
			</v-row>
		</v-container>
		
	</div>
</template>
<script>
export default {
	data: () => ({
		show: [],
		dialog: false,
		new_room_dialog: false,
		adding_room: false,
		adding_cat: false,
		tabs: 'tab-1',
		updating_facilities: false,
		uploading: false,
		headers: [
			{
				text: 'Room type',
				align: 'left',
				sortable: false,
				value: 'room_type'
			},
			{ text: '# of Rooms', value: 'qty' },
			{ text: 'Rack Rate (NGN)', value: 'price_per_night' },
			{ text: 'Discounted Rate', value: 'discounted_rate' },
			{ text: 'Free Cancellation Rate', value: 'free_cancellation_rate' },
			{ text: 'Sleeps', value: 'sleeps' },
			{ text: 'Beds', value: 'beds' },
			{ text: 'Actions', value: 'action', sortable: false }
		],
		headers2: [
			{
				text: 'Room title',
				align: 'left',
				value: 'title'
			},
			{ text: 'Room type', value: 'room_type' },
			{ text: 'Rack Rate (NGN) ', value: 'price_per_night' },
			{ text: 'Occupied', value: 'occupied' },
			{ text: 'Room State', value: 'state' },
			{ text: 'Actions', value: 'action', sortable: false }
		],
		facilities: [],
		room_types: [],
		all_rooms: [],
		editedIndex: -1,
		selected_cat: '',
		new_room: {
			title: '',
			room_type: '',
			state: '',
			occupied: false
		},
		editedItem: {
			room_type: '',
			qty: 0,
			price_per_night: 0,
			rack_rate: 0,
			discounted_rate: 0,
			non_refundable_rate: 0,
			free_cancellation_rate: 0,
			sleeps: 0,
			beds: 0,
			imgSrc: '',
			videoSrc: ''
		},
		defaultItem: {
			room_type: '',
			qty: 0,
			price_per_night: 0,
			rack_rate: 0,
			discounted_rate: 0,
			non_refundable_rate: 0,
			free_cancellation_rate: 0,
			sleeps: 0,
			beds: 0,
			imgSrc: '',
			videoSrc: ''
		},
		items: [
			{text: 'bar', code: '001'},
			{text: 'free parking', code: '002'},
			{text: 'tv', code: '003'},
			{text: 'taxi', code: '004'},
			{text: 'meeting rooms', code: '005'},
			{text: 'free wifi', code: '006'},
			{text: 'DSTV', code: '007'},
			{text: 'Pets allowed', code: '008' },
			{text: 'restaurant', code: '009' },
			{text: 'pool', code: '010' },
			{text: 'whirlpool', code: '011' },
			{text: 'non-smoking rooms', code: '012' },
		],
		selected_image: null,
		selected_video: null,
	}),
	computed: {
		formTitle () {
			return this.editedIndex === -1 ? 'New Room' : 'Edit Room'
		},
		...mapState([
			'auth',
			'this_hotel'
		]),
		imageRules() {
			// value => value.size < 2000000 || 'Total Image size should be less than 2 MB!'
			let totalSize = this.selected_image ? this.selected_image.size : 0
			return [totalSize > 0 && totalSize < 2000000 || 'Total Image size should be less than 2 MB!']
		},
		videoRules() {
			// value => value.size < 3000000 || 'Video size should be less than 3 MB!'
			let totalSize = this.selected_video ? this.selected_video.size : 0
			return [totalSize > 0 && totalSize < 3000000 || 'Video size should be less than 3 MB!']
		},
		disable_cat_save(){
			let itm = this.editedItem
			return !itm.room_type || (itm.price_per_night < 1)
			|| (itm.sleeps < 1) || (itm.beds < 1) || (itm.discounted_rate < 1) || 
			(itm.free_cancellation_rate < 1) || (itm.non_refundable_rate < 1) || 
			(itm.qty < 1)
		}
	},

	watch: {
		dialog (val) {
			val || this.close()
		},
		this_hotel(){
			this.initialize()
		}
	},
	methods: {
		async initialize () {
			this.selected_image = []
			this.selected_video = []
			
			this.room_types = this.this_hotel.rooms ? this.this_hotel.rooms : []
			// console.log(this.this_hotel)
			this.facilities = this.this_hotel.facilities ? 
			Object.assign(this.facilities, this.this_hotel.facilities) : 
			this.facilities

			// get all rooms
			await this.getAllRooms()
		},
		getAllRooms(){
			// all rooms for this hotel
			this.$db.collection('hotels').doc(this.this_hotel.docId).collection('rooms')
			.where('hotelId', '==', this.this_hotel.docId)
			.onSnapshot(docs => {
				let rooms = []
				docs.forEach(doc => {
					rooms.push({
						...doc.data(),
						occupied: doc.data().occupied ? 'Yes' : 'No',
					})
				})
				this.all_rooms = rooms.map(room => {
					let rmt = this.room_types.find(rm => rm.room_type == room.room_type)
					return {
						...room,
						...rmt
					}
				})
				
				// console.log({rooms})
			})
		},
		upload(e,video) {
			this.uploading = true
			// console.log(video)
			let options = {
        files: video ? [this.selected_video] : [this.selected_image],
				path: `${this.this_hotel.name.split(' ').join('-')}/${video ? 'videos' :'images'}`,
				file_names: [`${video ? 'room-video' : 'room-photo'}-${this.editedItem.room_type}`]
			}

			this.$helpers.upload(options).then((uploaded)=>{
				// console.log(uploaded)
				
				let modified_rooms = []
				if(video){
					this.this_hotel.rooms.forEach(room => {
						modified_rooms.push({
							...room,
							videoSrc: room.room_type == this.editedItem.room_type ? uploaded[0] : room.videoSrc || false
						})
					})
				}
				else {
					this.this_hotel.rooms.forEach(room => {
						modified_rooms.push({
							...room,
							imgSrc: room.room_type == this.editedItem.room_type ? uploaded[0] : room.imgSrc || false
						})
					})
				}

				this.$db.collection('hotels').doc(this.this_hotel.docId)
				.update({
					rooms: modified_rooms
				}).then(()=>{

					this.uploading = false
	
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Uploaded successfull',
						color: 'success'
					})
					
					this.selected_video = []
					this.selected_image = []
					this.initialize()
				})
			}).catch(err => {
				// console.log(err)

				this.uploading = false
				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: 'Upload failed',
					color: 'error'
				})
			})
		},
		editItem (item) {
			this.editedIndex = this.room_types.indexOf(item)
			this.editedItem = Object.assign({}, item)
			this.dialog = true
		},
		deleteItem (item) {
			const index = this.room_types.indexOf(item)
			let confirmed = confirm(`Are you sure you want to delete this item? This will affect all bookings for this room type. Proceed?`)
			if(confirmed) {

				let removed = this.room_types.splice(index, 1)
				// console.log(removed)
				let batch = this.$db.batch()

				let hRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
				batch.update(hRef, {
					rooms: this.$firebase.firestore.FieldValue.arrayRemove(removed[0])
				})

				// delete rooms in this category
				this.all_rooms.forEach(room => {
					if(room.room_type == item.room_type){
						let roomRef = this.$db.collection('hotels').doc(this.this_hotel.docId).collection('rooms').doc(room.roomId)
						batch.delete(roomRef)
					}
				})

				batch.commit().then(()=>{

					this.adding_cat = false
					this.close()
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Rooms updated',
						color: 'success'
					})
				})
				.catch(err=>{
					console.log(err)

					this.adding_cat = false
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Something went wrong',
						color: 'error'
					})
				})
			}
		},
		deleteItem2 (item) {
			const index = this.all_rooms.indexOf(item)
			let confirmed = confirm('Are you sure you want to delete this item?')
			if(confirmed) {

				let removed = this.all_rooms.splice(index, 1)

				let batch = this.$db.batch()


				// update the room category's qty
				let rm_in_focus = this.room_types.find(rm => rm.room_type == item.room_type)
				rm_in_focus.qty ? rm_in_focus.qty-- : rm_in_focus.qty = 0

				let hotelRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
				batch.update(hotelRef, {
					rooms: this.room_types
				})

				let rmRef = this.$db.collection('hotels').doc(this.this_hotel.docId).collection('rooms').doc(item.roomId)
				batch.delete(rmRef)

				batch.commit().then(()=>{
					this.adding_cat = false
					this.close()
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Rooms updated',
						color: 'success'
					})
				})
			}
		},
		close () {
			this.dialog = false
			setTimeout(() => {
				this.editedItem = Object.assign({}, this.defaultItem)
				this.editedIndex = -1
			}, 300)
		},
		save () {

			this.adding_cat = true
			let modified
			this.editedItem.rack_rate = this.editedItem.price_per_night*1
			this.editedItem.price_per_night = this.editedItem.price_per_night*1
			this.editedItem.discounted_rate = this.editedItem.discounted_rate*1
			this.editedItem.non_refundable_rate = this.editedItem.non_refundable_rate*1
			this.editedItem.free_cancellation_rate = this.editedItem.free_cancellation_rate*1
			this.editedItem.sleeps = this.editedItem.sleeps*1
			this.editedItem.beds = this.editedItem.beds*1
			this.editedItem.qty = this.editedItem.qty*1

			if (this.editedIndex > -1) {
				// edit room type
				modified = Object.assign(this.room_types[this.editedIndex], this.editedItem)

			} else {
				// add new room type
				this.room_types.push(this.editedItem)
				modified = this.editedItem
			}

		
			this.$db.collection('hotels').doc(this.this_hotel.docId)
			.update({
				rooms: this.room_types
			})
			.then(()=>{
				this.adding_cat = false
				this.close()
				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: 'Room types updated',
					color: 'success'
				})
			})
			
		},
		newRoom(){
			// add new room to categories
			this.adding_room = true
			let batch = this.$db.batch()

			let roomRef = this.$db.collection('hotels').doc(this.this_hotel.docId).collection('rooms').doc()
			let {room_type, price_per_night, sleeps, beds } = this.selected_cat
			batch.set(roomRef, {
				roomId: roomRef.id,
				hotelId: this.this_hotel.docId,
				title: this.new_room.title,
				room_type,
				occupied: this.new_room.occupied,
				state: this.new_room.state
			})

			// update the room category's qty
			let rm_in_focus = this.room_types.find(rm => rm.room_type == room_type)
			rm_in_focus.qty ? rm_in_focus.qty++ : rm_in_focus.qty = 1

			let hotelRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
			batch.update(hotelRef, {
				rooms: this.room_types
			})


			batch.commit().then(()=>{
				this.new_room_dialog = false
				this.adding_room = false
				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: 'Rooms updated',
					color: 'success'
				})
			}).catch(err => {

				// console.log(err)
				this.adding_room = false
				
				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: 'Something went wrong',
					color: 'error'
				})
			})
		},
		saveFacilities(){
			// save facilities changes
			this.updating_facilities = true
			this.$db.collection('hotels').doc(this.this_hotel.docId)
			.update({
				facilities: this.facilities
			}).then(()=> {
				this.updating_facilities = false
				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: 'Facilities Updated',
					color: 'success'
				})
			}).catch(err => {
				this.updating_facilities = false
			})
		}
	},
	mounted(){
		
	},
	created () {
		this.initialize()
	},
}
import { mapGetters, mapState } from 'vuex'
</script>