<template>
  <div>
    <t-navigation :breadcrumbs_items="breadcrumbs_items"/>

    <v-container grid-list-lg>
      <v-layout row wrap justify-space-between>
        <v-flex cols="12" sm="4">
          <v-card flat>
            <div class="pa-1 grey lighten-4">

              <v-img
                :src="guest.photoURL || require('@/assets/no-image.png')"
                height="200px" contain>
              </v-img>
            </div>

            <v-list two-line>
              <v-list-item @click="''">
                <v-list-item-action>
                  <v-icon color="indigo">mdi-account</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>{{guest.title}} {{guest.fname}} {{guest.lname}}</v-list-item-title>
                  <v-list-item-subtitle>Name</v-list-item-subtitle>
                </v-list-item-content>

              </v-list-item>

              <v-list-item @click="''">
                <v-list-item-action>
                  <v-icon color="indigo">mdi-phone</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>{{guest.phone || 'N/A'}}</v-list-item-title>
                  <v-list-item-subtitle>Mobile</v-list-item-subtitle>
                </v-list-item-content>

              </v-list-item>


              <v-divider inset></v-divider>

              <v-list-item @click="''">
                <v-list-item-action>
                  <v-icon color="indigo">mdi-email</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>{{guest.email}}</v-list-item-title>
                  <v-list-item-subtitle>Email</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-divider inset></v-divider>

            </v-list>
            
          </v-card>
        </v-flex>
        <v-flex cols="12" sm="7">
          <v-card flat>
            <!-- orders -->
            <v-list two-line>
              <v-subheader class="title">Orders</v-subheader>
              <v-subheader v-if="guest_orders.length == 0">No recent orders</v-subheader>
              <template v-for="(order, i) in guest_orders">

                <v-list-item @click="''"  :key="i + 'orders'">
                  <v-list-item-content>
                    <v-list-item-title>{{order.request.message}}</v-list-item-title>
                    <v-list-item-subtitle>Date: 
                      {{new Date(order.date_created.toMillis()).toLocaleString('en-US')}}
                    </v-list-item-subtitle>
                  </v-list-item-content>
                  <v-list-item-action >
                    <span 
                      class="text-capitalize"
                      :class="order.status == 'pending' ? 'error--text' : 'success--text'">
                      {{order.status}}
                    </span>
                    <!-- <span>status</span> -->
                  </v-list-item-action>
                </v-list-item>
                <v-divider :key="i + 'divider-orders'" v-if="i + 1 < guest_orders.length"></v-divider>
                
              </template>
            </v-list>

            <v-divider></v-divider>

            <!-- purchases -->
            <v-list two-line dense>
              <v-subheader class="title">Purchases</v-subheader>
              <v-subheader v-if="guest_purchases.length == 0">No recent purchases</v-subheader>
              <template v-for="(item, index) in guest_purchases">
                <v-subheader v-if="item.header" :key="item.header">{{ $helpers.parseDate(item.header, true) }}</v-subheader>
                <v-divider v-else-if="item.divider" :inset="item.inset" :key="index +'a'"></v-divider>
                <v-list-item v-else :key="item.id + item.price + item.qty + 'id'" @click="''">
                  <v-list-item-avatar color="grey lighten-3">
                    <img :src="item.avatar" v-if="item.avatar">
                    <v-icon v-else>mdi-cart</v-icon>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-html="item.name"></v-list-item-title>
                    <v-list-item-subtitle >Qty: {{item.qty}};  Price: {{item.price}}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </template>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  data: () => ({
    showUi: false,
    breadcrumbs_items: [
      {
        text: 'Dashboard',
        disabled: false,
        exact: true,
        to: '/'
      },
      {
        text: 'Guests Manager',
        disabled: false,
        exact: true,
        to: '/guests-management'
      },
      {
        text: 'Guest Details',
        disabled: true,
        exact: true,
        to: '/guests-management/guestId'
      }
    ],
    guest: {},
    guest_orders: [],
    guest_purchases: [],
    booking_data: {},
  }),
  computed:{
    ...mapState([
      'auth',
      'this_hotel'
    ])
  },
  methods: {
    async initialize(){

      this.showUi = true
      try {
        this.booking_data = JSON.parse(atob(this.$route.query.data))
        // console.log(this.booking_data)
        
      } catch (error) {
        
      }

      if(this.booking_data.docId){

        let guestId = this.booking_data.userId;
        
        this.guest = {
          fname: this.booking_data.booking_for.customer_name.split(' ')[0],
          lname: this.booking_data.booking_for.customer_name.split(' ')[1],
          email: this.booking_data.booking_for.customer_email,
          phone: this.booking_data.booking_for.customer_phone
        }
  
        if(guestId){
  
          // this.$db.collection('users').doc(guestId).get()
          // .then(doc => {
          //   this.guest = doc.data()
          // })
    
          // get guest orders and purchase history
          await this.getGuestOrders(guestId)
          
          await this.getStorePurchases(guestId)
        }
      }
      
    },
    getGuestOrders(guestId){
      return new Promise((resolve, reject) => {
        // let guestId = this.$route.params.guestId;

        this.$db.collection('orders')
        .where('requester.uid', '==', guestId)
        .where('hotelId', '==', this.this_hotel.docId)
        .get().then(docs => {
          let arr = []
          docs.forEach(doc => {arr.push(doc.data())})
          
          this.guest_orders = arr
          resolve(arr)
        })
      })
    },
    getStorePurchases(guestId){
      return new Promise((resolve, reject) => {
        let purchases = []
        // let guestId = this.$route.params.guestId;

        this.$db.collection('storePurchase')
        .where('buyer.uid', '==', guestId)
        .get().then(docs => {
          
          docs.forEach(doc => {
          
            doc.data().items.forEach(item => {
              purchases.push({
                timestamp: doc.data().timestamp,
                ...item
              })
            })
          })

          let arr = []
          let last_timestamp = 0
          purchases.forEach((order,index) => {
            last_timestamp == order.timestamp ? '' : arr.push({header: order.timestamp})
            last_timestamp = order.timestamp
            arr.push(order)
            index != purchases.length ? arr.push({divider: true, inset: true}) : ''
          })

          this.guest_purchases = arr
          resolve(arr)
        })
      })
    }
  },
  mounted(){
    this.initialize()
  }
}
import { mapState, mapGetters } from 'vuex'
</script>