<template>
  <div>
    <t-navigation :breadcrumbs_items="breadcrumbs_items">
    </t-navigation>
    
    <v-container>
      <v-row>
        <v-col cols="12" sm="8">
          <v-card flat>
            <v-toolbar  flat dense>

              <v-toolbar-title>Checked in Guests</v-toolbar-title>
            </v-toolbar>
            <v-subheader v-if="guests.length == 0">No guests checked in</v-subheader>
            <v-list two-line dense>
              <template v-for="(guest, index) in guests">
                <!-- <v-divider v-if="item.divider" :inset="item.inset" :key="index"></v-divider> -->
                <v-list-item :key="index + 'guest'" 
                  @click="$router.push(`/guests-management/profile?data=${guest.data}`)">
                  <v-list-item-avatar color="accent">
                    <span class="text-capitalize white--text">
                      {{guest.booking_for.customer_name.charAt(0)}}
                    </span>
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title v-html="guest.booking_for.customer_name" class="text-capitalize"></v-list-item-title>
                    <v-list-item-subtitle v-html="guest.booking_for.customer_email"></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-divider :key="index + 'key'"></v-divider>
              </template>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

  </div>
</template>
<script>

export default {
  data: () => ({
    breadcrumbs_items: [
      {
        text: 'Dashboard',
        disabled: false,
        to: '/'
      },
      {
        text: 'Guest Manager',
        disabled: true,
        to: '/guest-management'
      },
      
    ],
    showUi: false,
    viewedGuest: {},
    guest_dialog: false,
    loading_info: false,
    all_orders: {},
    all_purchases: {},
    guest_purchases: [],
    guest_orders: [],
    options: {
      day: 'numeric',
      month: 'short',
      year: 'numeric'
      
    }
  }),
  computed: {
    ...mapState([
      'auth',
      'this_hotel',
      'checkedInGuests'
    ]),
    guests(){
      return this.checkedInGuests.map(item => {
        return {
          ...item,
          data: btoa(JSON.stringify(item))
        }
      })
    }
  },
  methods: {
    initialize(){
      // this.retrieveGuests().then(guests => {
        // console.log(guests)
        this.showUi = true
      // })
    },
    async showGuestDetails(guest){

      this.loading_info = true
      this.viewedGuest = guest;
      this.guest_dialog = true

      // get guest orders and purchase history
      // do these only if userId exists
      if(this.viewedGuest.userId){

        if(!this.all_orders[this.viewedGuest.userId]){
          await this.getGuestOrders();
          
        }
        if(!this.all_purchases[this.viewedGuest.userId]){
          
          await this.getStorePurchases()
  
        }
      }
      
    },
    getGuestOrders(){
      return new Promise((resolve, reject) => {

        this.$db.collection('orders')
        .where('requester.uid', '==', this.viewedGuest.userId)
        .get().then(docs => {
          let arr = []
          docs.forEach(doc => {arr.push(doc.data())})
          this.all_orders[this.viewedGuest.userId] = arr
          this.guest_orders = arr
          resolve(arr)
        })
      })
    },
    getStorePurchases(){
      return new Promise((resolve, reject) => {
        let purchases = []

        this.$db.collection('storePurchase')
        .where('buyer.uid', '==', this.viewedGuest.userId)
        .get().then(docs => {
          
          docs.forEach(doc => {
          
            doc.data().items.forEach(item => {
              purchases.push({
                timestamp: doc.data().timestamp,
                ...item
              })
            })
          })



          this.all_purchases[this.viewedGuest.userId] = purchases

          let arr = []
          let last_timestamp = 0
          purchases.forEach((order,index) => {
            last_timestamp == order.timestamp ? '' : arr.push({header: order.timestamp})
            last_timestamp = order.timestamp
            arr.push(order)
            index != purchases.length ? arr.push({divider: true, inset: true}) : ''
          })

          this.guest_purchases = arr
          resolve(arr)
        })
      })
    }
  },
  mounted(){
    this.initialize()
  }
}

import { mapState } from 'vuex';
</script>