<template>
	<div>
		<v-container grid-list-xs pt-0>
			<v-row row wrap justify-center>
				<v-col>
					<v-card flat>
						<v-card-text>
							<!-- <h3 class="mb-6">Setup Your Bank Details</h3> -->
							<p>This is the account where you recieve payments for all bookings and store
								purchases. Please ensure you provide accurate information.
								<a href="https://help.hotelsmart.com.ng" >Learn more about this </a>
							</p>
							<v-subheader class="pl-0 mb-4">Account Details</v-subheader>
							<v-row row wrap class="mb-4">
								<v-col cols="4" sm="3">
									<span class="font-weight-bold">Bank Name</span>
								</v-col>
								<v-col cols="6">
									<span>{{bank_details.bank_name || 'N/A'}}</span>
								</v-col>
							</v-row>
							<v-row row wrap class="mb-4">
								<v-col cols="4" sm="3">
									<span class="font-weight-bold">Account Name</span>
								</v-col>
								<v-col cols="6">
									<span>{{bank_details.acc_name || 'N/A'}}</span>
								</v-col>
							</v-row>
							<v-row row wrap class="mb-4">
								<v-col cols="4" sm="3">
									<span class="font-weight-bold">Account Number</span>
								</v-col>
								<v-col cols="6">
									<span>{{bank_details.acc_number || 'N/A'}}</span>
								</v-col>
							</v-row>
						</v-card-text>
						<v-card-actions>
							<v-dialog max-width="500" v-model="edit_dialog" :persistent="saving" v-if="!this_hotel.bank_details">
								<template v-if="!this_hotel.bank_details" v-slot:activator="{on}">
									<v-btn color="success" depressed v-on="on" @click="editItem">
										<v-icon small class="mr-2">mdi-pencil</v-icon>
										Edit</v-btn>
								</template>

									<v-card>
										<v-card-title>
											<span class="headline grey--text">Edit Bank Details</span>
										</v-card-title>

										<v-card-text>
											<v-container grid-list-md>
												<v-row wrap>
													<v-col cols="12" sm6 md6>
														<v-select item-value="name" dense
															:items="banks" item-text="name"
															v-model="editedItem.bank_name"
															label="Bank Name"
														></v-select>
													</v-col>
													<v-col cols="12" sm6 md6>
														<v-text-field v-model="editedItem.acc_name" label="Account Name"></v-text-field>
													</v-col>
													<v-col cols="12" sm6 md4>
														<v-text-field v-model="editedItem.acc_number" type="number" label="Account Number"></v-text-field>
													</v-col>
												</v-row>
											</v-container>
										</v-card-text>

										<v-card-actions>
											<v-spacer></v-spacer>
											<v-btn color="blue darken-1" text @click="edit_dialog = false;" :disabled="saving">Cancel</v-btn>
											<v-btn color="blue darken-1" text @click="save" :loading="saving" :disabled="disabled_save">Save</v-btn>
										</v-card-actions>
									</v-card>

							</v-dialog>
						</v-card-actions>
					</v-card>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>
<script>
export default {
	data: () =>({
		edit_dialog: false,
		saving: false,
		banks: [],
		bank_details: {
			bank_name: 'N/A',
			acc_name: 'N/A',
			acc_number: '0'
		},
		editedItem: {
			bank_name: 'N/A',
			acc_name: 'N/A',
			acc_number: '0'
		},
	}),
	watch: {
		'this_hotel': function(){
			this.initialize()
		}
	},
	computed: {
		...mapGetters([
			
		]),
		...mapState([
			'auth',
			'this_hotel'
		]),
		disabled_save(){
			
			return Object.values(this.editedItem).find(item => !item.trim())
		}
	},
	methods: {
		async initialize(){
			this.this_hotel.bank_details ? this.bank_details = this.this_hotel.bank_details : this.bank_details = {}
			// console.log(this.this_hotel, this.bank_details)
			const instance = axios.create({
				baseURL: 'https://us-central1-hotelsmart-a28dd.cloudfunctions.net'
			});

			try {
				
				let token = await this.$firebase.auth().currentUser.getIdToken()
				// console.log(token)
				let resp = await instance.post('listbanks', {
					idToken: token
				})
	
				this.banks = resp.data.data
				
			} catch (error) {
				// console.log(error)
			}
		
		},

		editItem(){
			Object.assign(this.editedItem, this.bank_details)
		},
		async save(){
			this.saving = true
			let update = Object.assign(this.bank_details, this.editedItem)
			
			const instance = axios.create({
				baseURL: 'https://us-central1-hotelsmart-a28dd.cloudfunctions.net'
			});

			try {

				let token = await this.$firebase.auth().currentUser.getIdToken()
				
				let resp = await instance.post('createSubaccount', {
					idToken: token,
					...update,
					hotel_name: this.this_hotel.name,
					hotel_email: this.this_hotel.email,
					hotelId: this.this_hotel.docId,
				})

				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: 'Bank details updated',
					color: 'success'
				})

				this.$eventBus.$emit('Re_Initialize')

				this.saving = false
				this.edit_dialog = false

			} catch (error) {
				this.saving = false

				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: error.response.data.message,
					color: 'error'
				})
				// console.log(error.response.data)
			}
			
		}
	},
	mounted(){
		this.initialize()
		
	}
}
import { mapGetters, mapState } from 'vuex'
import axios from 'axios'
</script>
