<template>
	<div>
		<v-container grid-list-xs>
			<v-row row wrap justify="center">
				<v-col cols="12" md="8">
					<v-card class="pb-4" flat>
						<v-subheader class="font-weight-bold">Activate Your Business</v-subheader>
						<v-card-text>
								<div>Activating your business is the process of making your hotel available to the public. 
									This enables your hotel to be listed in search results and hence, ready for business.
									Only activated hotels/business can be booked. <br>
									Fill and submit the form below to activate your hotel in no time.
								</div>

							<v-alert type="success" outlined class="mt-4" 
								:value="this_hotel.active_status === 'active'"
								icon="mdi-check">
								Property is activated
							</v-alert>
						</v-card-text>
						
						<v-divider></v-divider>

						<v-stepper 
							v-model="step" vertical 
							class="elevation-0"
							v-if="this_hotel.active_status !== 'active'">
							
							<v-stepper-step step="1" :complete="step > 1">Verify Your Contact Details</v-stepper-step>
							<v-stepper-content step="1">
								<p>Verify that your property's email address and phone number is correct</p>
								<p>Your Email: <strong>{{this_hotel.email}}</strong></p>
								<p>Your Phone: <strong>{{this_hotel.phone}}</strong></p>

								<v-btn color="success" outlined 
									@click.native="step = 2" small
									class="text-capitalize mr-3">
									Yes contact details is correct
								</v-btn>

								<v-dialog
									v-model="dialog"
									persistent :overlay="false"
									max-width="500px"
									transition="dialog-transition"
								>
									<template v-slot:activator="{on}">
										<v-btn color="info" outlined v-on="on"
											small	class="text-capitalize">
											Update Details
										</v-btn>
									</template>
									<v-card flat>
										<div class="v-card__title">Update Contact details</div>
										<v-card-text class="mt-5">
											<v-text-field
												name="email" outlined
												label="Enter your email"
												v-model="new_email"
												type="email" lazy
												:rules="[rules.required]"
												append-icon="mdi-email"
											></v-text-field>
											<v-text-field
												name="phone" outlined
												label="Enter your phone"
												v-model="new_phone" lazy
												:rules="[rules.required]"
												append-icon="mdi-phone"
											></v-text-field>
										</v-card-text>
										<v-card-actions>
											<v-spacer></v-spacer>
											<v-btn text small class="text-capitalize mr-2" @click="dialog = false">Cancel</v-btn>
											<v-btn 
												color="info" depressed 
												class="text-capitalize" 
												small @click="updateDetails"
												:disabled="!isValidDetails"
												:loading="loading">
												Update
											</v-btn>
										</v-card-actions>
									</v-card>
								</v-dialog>

							</v-stepper-content>

							<v-stepper-step step="2" :complete="step > 2"> Agreement</v-stepper-step>
							<v-stepper-content step="2">
								<agreement/>

								<v-btn text @click.native="step = 1" class="mr-3 text-capitalize">
									<v-icon>mdi-chevron-left</v-icon>
									Previous</v-btn>

								<v-btn color="primary" 
									@click.native="step = 3" 
									v-if="this_hotel.agreement"
									class="text-capitalize">
									Next</v-btn>
							</v-stepper-content>

							<v-stepper-step step="3" :complete="step > 3">Setup Your Bank Details</v-stepper-step>
							<v-stepper-content step="3">

								<hs-account/>

								<v-btn text @click.native="step = 2" class="text-capitalize">
									<v-icon>mdi-chevron-left</v-icon>
									Previous</v-btn>
								<v-btn color="primary" @click.native="step = 4" v-if="this_hotel.bank_details">Continue</v-btn>
								
							</v-stepper-content>

							<v-stepper-step step="4" :complete="step > 4">Upload Documents</v-stepper-step>
							<v-stepper-content step="4">
								<v-card flat>
									<v-card-text>
										
										<v-text-field
											v-model="form.business_name"
											label="Business Name"
											outlined hide-details
											class="mb-4"
										></v-text-field>

										<v-text-field
											v-model="form.reg_no"
											label="Registration Number"
											outlined hide-details
											hint="BN or RC Number"
											persistent-hint
										></v-text-field>

										<v-row row wrap class="mt-5 mb-4">
											<v-col cols="12" class="text-xs-left">
												<div class="mt-1 font-weight-bold">Registration document</div>
												<p>Upload a document that shows that you own or manage this property</p>
											</v-col>
											<v-col cols="12" sm="6">
												<input 
													type="file" ref="reg_doc" 
													placeholder="Registration document" 
													class="custom-input" 
													@change="selectDoc"
													accept="image/jpeg, image/png"
												>
												<i class="orange--text">*Only images are allowed</i>
											</v-col>
										</v-row>

									</v-card-text>
									<v-card-actions v-if="this_hotel.active_status == 'inactive'">
										<v-btn color="success" 
											:disabled="disabled_btn" 
											@click="submit" :loading="loading"
											v-if="show_btn">
											Submit
										</v-btn>
									</v-card-actions>
								</v-card>
								<!-- <v-btn text small v-show="!this_hotel.bank_details" @click="step = 1">Previous</v-btn> -->
								<!-- <v-btn color="primary" depressed small @click.native="step = 3">Continue</v-btn> -->
							</v-stepper-content>

							<v-stepper-step step="5" :complete="this_hotel.active_status == 'active'">Done</v-stepper-step>
							<v-stepper-content step="5" >
								<v-card flat height="100" class="grey lighten-3">
									<v-subheader v-if="this_hotel.active_status == 'pending'" class="orange--text title">Activation request sent. We will contact you very soon.</v-subheader>
									<v-subheader v-if="this_hotel.active_status == 'active'" class="primary--text">Hotel has been activated</v-subheader>
								</v-card>
							</v-stepper-content>
						</v-stepper>

					</v-card>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>
<script>
export default {
	data: () =>({
		show_btn: true,
		step: 1,
		form: {
			business_name: '',
			reg_no: '',
			reg_doc: ''
		},
		dialog: false,
		new_email: '',
		new_phone: '',
		loading: false,
		rules: {
			required: value => !!value || 'Required.',
			email: value => {
				const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
				return pattern.test(value) && this.new_phone || 'Invalid e-mail.'
			},
		},
		cloudinary: {
      cloud_name: 'unplugged',
      upload_preset: 'pe4iolek'
    },
	}),
	watch: {
		'this_hotel': function(){
			this.form = {
				business_name: '',
				reg_no: '',
				reg_doc: ''
			}

			if(this.this_hotel.active_status == 'pending'){
				this.step = 5
			}
		}
	},
	computed: {
		...mapState([
			'auth',
			'this_hotel'
		]),
		isValidEmail(){
			const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
				return pattern.test(this.new_email) || false
		},
		isValidDetails(){
			return this.isValidEmail && !!this.new_phone
		},
		disabled_btn(){
			return !this.form.business_name.trim() || !this.form.reg_doc || 
			!this.form.reg_no.trim() || !this.this_hotel.bank_details
		},
		title(){
			return `Activate Your business - ${$appName}`
		}
	},
	methods: {
		selectDoc(e){
			this.form.reg_doc = e.target.files[0]
		},
		submit(){
			// console.log(this.form)
			this.loading = true

			// upload activation documents
			this.$helpers.fileUploader([this.form.reg_doc], this.cloudinary)
			.then((uploaded)=>{
				// console.log(uploaded)

				let batch = this.$db.batch()

				let docRef = this.$db.collection('activation_requests').doc()
				batch.set(docRef, {
					hotelId: this.this_hotel.docId,
					userId: this.auth.user.uid,
					reg_no: this.form.reg_no,
					business_name: this.form.business_name,
					docSrc: uploaded[0],
					dateCreated: this.$firebase.firestore.FieldValue.serverTimestamp()
				})
				
				let hotelRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
				batch.update(hotelRef, {
					active_status: 'pending'
				})
				
				batch.commit().then(() => {
					this.loading = false
					this.show_btn = false

					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Activation request sent',
						color: 'success'
					})
					this.step = 5

					setTimeout(function() {
						window.location.reload()
					}, 2000)
				})
			}).catch(err => {
				// console.log(err)
				this.loading = false
			})
			
		},
		updateDetails(){
			this.loading = true

			this.$db.collection('hotels').doc(this.this_hotel.docId)
			.update({
				email: this.new_email,
				phone: this.new_phone
			}).then(() => {
				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: 'Contact details updated',
					color: 'success'
				})
				this.loading = false
				this.dialog = false
			}).catch(err => {
				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: 'An error occured. Try again',
					color: 'error'
				})
				this.loading = false
			})

			this.loading = false
		}
	},
	mounted(){
		
		if(this.this_hotel.active_status == 'pending'){
			this.step = 5
		}
	},
	components: {
		'hs-account': Accounts,
		Agreement
	}
}
import { mapState } from 'vuex'
import Accounts from '@/components/setup/accounts.vue'
import Agreement from '@/components/setup/agreement.vue'
</script>
<style lang="scss" scoped>
	.custom-input {
		padding: 5px;
		border: 1px solid rgba(115, 114, 114, 0.54);
		border-radius: 2px;
		width: 100%;
		color: #9E9E9E;
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	}
</style>