<template>
  <div>
    <v-container grid-list-xs>
      <v-row justify-center>
        <v-col cols="12">
          <v-card flat>
            <v-subheader class="font-weight-bold">Setup FAQs</v-subheader>
            <v-card-text>
              <p >
                FAQs allows you to provide answers to questions that your customers or guests
                are likely to ask about your hotel. Answer their questions even before they ask them. <br/>
                A good FAQ setup can act as a self help service for guests.
                Edit or create new FAQ sets below
              </p>
              <div>

              <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{on}">
                  <v-btn color="primary" v-on="on" dark class="my-6" outlined>New Item</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container grid-list-md>
                      <v-row wrap>
                        <v-col cols="12">
                          <v-text-field label="Question" outline v-model="editedItem.question"></v-text-field>
                        </v-col>
                        <v-col cols="12">
                          <v-textarea label="Answer" outline v-model="editedItem.answer"></v-textarea>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click.native="close" :disabled="saving">Cancel</v-btn>
                    <v-btn color="blue darken-1" text @click.native="save" :loading="saving">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>

                <v-data-table
                  :headers="headers"
                  :items="items"
                  hide-default-footer
                  :loading="loading"
                >
                <template v-slot:item.question="{item}">
                  <td>{{ $helpers.truncateText(item.question, 50) }}</td>
                </template>
                <template v-slot:item.answer="{item}">
                  <td class="text-xs-left">{{ $helpers.truncateText(item.answer, 50) }}</td>
                </template>

                <template v-slot:item.action="{item}">
                  <v-btn icon class="mx-0" @click="editItem(item)">
                    <v-icon color="teal">mdi-pencil</v-icon>
                  </v-btn>
                  <v-btn icon class="mx-0" @click="deleteItem(item)">
                    <v-icon color="pink">mdi-delete</v-icon>
                  </v-btn>
                </template>
              </v-data-table>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data: ()=> ({
    saving: false,
    dialog: false,
    headers: [
      {
        text: 'Question',
        align: 'left',
        value: 'question'
      },
      { text: 'Answer', value: 'answer' },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    items: [],
    editedIndex: -1,
    editedItem: {question: '', answer: ''},
    defaultItem: {question: '', answer: ''}
  }),
  computed: {
    ...mapState([
      'this_hotel',
    ]),
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  methods: {
    initialize () {

      this.loading = true

      this.$db.collection('hotels').doc(this.this_hotel.docId)
        .collection('faqs')
        .onSnapshot( docs => {
          let arr = []
          docs.forEach(doc => arr.push(doc.data()))
          this.items = arr
          this.loading = false
        })
    },

    editItem (item) {
      this.editedIndex = this.items.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    async deleteItem (item) {
      const index = this.items.indexOf(item)
      let yes = confirm('Are you sure you want to delete this item?')

      if(yes){

        this.items.splice(index, 1)

        let col_ref = this.$db.collection('hotels')
        .doc(this.this_hotel.docId)
        .collection('faqs')

        await col_ref.doc(item.docId).delete()

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Item deleted',
          color: 'success'
        })
      }
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    async save () {
      
      this.saving = true

      let col_ref = this.$db.collection('hotels')
        .doc(this.this_hotel.docId)
        .collection('faqs')

      if (this.editedIndex > -1) {
        // editing item
        Object.assign(this.items[this.editedIndex], this.editedItem)
        let docRef = col_ref.doc(this.editedItem.docId)
  
        await docRef.update({
          question: this.editedItem.question,
          answer: this.editedItem.answer,
          last_updated: this.$firebase.firestore.FieldValue.serverTimestamp()
        })

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Item updated',
          color: 'success'
        })

        this.saving = false
        this.close()
      } else {
        // Creating new item

        let docRef = col_ref.doc()
        await docRef.set({
          docId: docRef.id,
          date_created: this.$firebase.firestore.FieldValue.serverTimestamp(),
          question: this.editedItem.question,
          answer: this.editedItem.answer,
          hotelRef: this.this_hotel.docId
        })

        // this.items.push(this.editedItem)

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'New Q&A added',
          color: 'success'
        })

        this.saving = false
        this.close()
      }
    }
  },
  created () {
    this.initialize()
  },
}
import { mapState } from 'vuex'
</script>