<template>
	<div>
		<v-container grid-list-md>
			<v-row row wrap>
				<v-col cols="12">
					<v-card flat>
						<v-subheader>General Hotel Information</v-subheader>
						<v-card-text>
							<v-row class="mb-6">
								<v-col cols="4" sm="2" class="text-xs-left">
									<div class="mt-1 font-weight-bold">Hotel Name</div>
								</v-col>
								<v-col cols="8" sm="4">
									<!-- <input type="text" v-model="form.name" class="custom-input"> -->
									<v-text-field
										v-model="form.name"
										label="Hotel Name" dense
										hide-details outlined>
									</v-text-field>
								</v-col>
							</v-row>
							<v-row row wrap class="mb-6">
								<v-col cols="4" sm="2" class="text-xs-left">
									<div class="mt-1 font-weight-bold">Full Address</div>
								</v-col>
								<v-col cols="8" sm="4">
									<!-- <input type="text" v-model="form.address" class="custom-input"> -->
									<v-text-field dense
										v-model="form.address"
										label="Hotel address"
										hide-details outlined>
									</v-text-field>
								</v-col>
							</v-row>
							<v-row row wrap class="mb-6">
								<v-col cols="4" sm="2" class="text-xs-left">
									<div class="mt-1 font-weight-bold">Location</div>
								</v-col>
								<v-col cols="4" sm="2">
									<!-- <select placeholder="State" v-model="form.location.state" class="custom-input">
										<option v-for="state in states" :value="state" :key="state">{{state}}</option>
									</select> -->
									<v-select
										v-model="form.location.state"
										label="State" dense
										:items="states"
										hide-details outlined>
									</v-select>
								</v-col>
								<v-col cols="4">
									<!-- <input type="text" placeholder="City" v-model="form.location.city" class="custom-input"> -->
									<v-text-field
										v-model="form.location.city"
										label="City" dense
										hide-details outlined>
									</v-text-field>
								</v-col>
							</v-row>
							<v-row row wrap class="mb-6">
								<v-col cols="4" sm="2">
									<div class="mt-1 font-weight-bold">Contact Information</div>
								</v-col>
								<v-col cols="4" sm="2">
									<!-- <input type="email" placeholder="Email" v-model="form.email" class="custom-input"> -->
									<v-text-field
										v-model="form.email"
										label="Email" dense
										type="email" :disabled="this_hotel.active_status != 'inactive'"
										hide-details outlined>
									</v-text-field>
								</v-col>
								<v-col cols="4">
									<!-- <input type="phone" placeholder="Phone Number" v-model="form.phone" class="custom-input"> -->
									<v-text-field
										v-model="form.phone"
										label="Phone Number" dense
										hide-details outlined>
									</v-text-field>
								</v-col>
							</v-row>

							<v-row row wrap class="mb-6">
								<v-col cols="4" sm="2">
									<div class="mt-1 font-weight-bold">Hotel Type</div>
								</v-col>
								<v-col cols="4" sm6>
									<v-select
										v-model="form.hotel_type"
										label="Type of hotel"
										:items="hotelTypes"
										outlined dense
									></v-select>
								</v-col>
								<v-col cols="4" sm6>
									<v-select
										v-model="form.star_rating"
										label="Select star rating"
										:items="['1 Star', '2 Star', '3 Star', '4 Star', '5 Star']"
										outlined dense
									></v-select>
								</v-col>
							</v-row>

							<v-row row wrap class="mb-6">
								<v-col cols="4" sm="2">
									<div class="mt-1 font-weight-bold">Description</div>
								</v-col>
								<v-col cols="8" sm6>
									<v-textarea
										v-model="form.description"
										label="Describe your hotel"
										rows='10' auto-grow outlined
									></v-textarea>
								</v-col>
							</v-row>
							<v-row row wrap class="mb-6">
								<v-col cols="4" sm="2">
									<div class="mt-1 font-weight-bold">Time in/out</div>
								</v-col>
								<v-col cols="4" sm="2">
									<v-text-field
										v-model="form.checkin_time"
										label="Checkin time" dense
										hide-details outlined>
									</v-text-field>
								</v-col>
								<v-col cols="4">
									<v-text-field
										v-model="form.checkout_time"
										label="Checkout time" dense
										hide-details outlined>
									</v-text-field>
								</v-col>
							</v-row>
							<v-row row wrap>
								<v-col cols="4" sm="2">
									<div class="mt-1 font-weight-bold">Cancellations</div>
								</v-col>
								<v-col cols="8" sm6>
									<v-select
										v-model="form.cancellations"
										:items="cancellations"
										label="How would you handle booking cancellations"
										outlined dense
									></v-select>
								</v-col>
							</v-row>
							<v-row row wrap>
								<v-col cols="4" sm="2">
									<div class="mt-1 font-weight-bold">Other policies</div>
								</v-col>
								<v-col cols="8" sm6>
									<v-textarea
										v-model="form.policies"
										label="List Your policies"
										rows='5' auto-grow outlined
									></v-textarea>
								</v-col>
							</v-row>
							<v-row row wrap>
								<v-col cols="4" sm="2">
								</v-col>
								<v-col xs6>
									<v-btn 
										color="success" 
										depressed large 
										@click="saveChanges"
										:disabled="disabled_save"
										:loading="saving">
										Save Changes
									</v-btn>
								</v-col>
							</v-row>
						</v-card-text>
						
					</v-card>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>
<script>
export default {
	data: () =>({
		saving: false,
		form: {
			name: 'Hotel Name',
			address: '',
			location: {
				state: 'Your state',
				city: 'City or town',
			},
			email: 'Contact Email',
			phone: 'Contact phone numbers',
			hotel_type: '',
			star_rating: '',
			description: '',
			checkin_time: '',
			checkout_time: '',
			cancellations: '',
			policies: '',
			langs_spoken: 'en-US',
		},
		states: [
			'Abia',
			'Adamawa',
			'Akwa-Ibom',
			'Anambara',
			'Bauchi',
			'Bayelsa',
			'Benue',
			'Borno',
			'Cross-River',
			'Delta',
			'Ebonyi',
			'Edo',
			'Enugu',
			'Ekiti',
			'Gombe',
			'Jigawa',
			'Kaduna',
			'Kano',
			'Katsina',
			'kebbi',
			'Kogi',
			'Kwara',
			'Lagos',
			'Nassarawa',
			'Niger',
			'Ogun',
			'Ondo',
			'Oshun',
			'Oyo',
			'Plateau',
			'Rivers',
			'Sokoto',
			'Taraba',
			'Yobe',
			'Zamfara',
			'Abuja'
		],
		hotelTypes: ['Airport Hotel', 'Business Hotel', 'Bed and Breakfast (B&B)', 'Casino Hotel', 'Resort', 'Service Apartments', 'Suite Hotel'],
		cancellations: [
			{text:'Free cancellations', value: 'free'}, 
			{text: 'Charge a cancellation fee', value: 'paid'}
		]
	}),
	watch: {
		'this_hotel': function(){
			this.init()
		},
	},
	computed: {
		...mapGetters([
			
		]),
		...mapState([
			'auth',
			'this_hotel'
		]),
		disabled_save(){
			return !this.form.name || !this.form.address || !this.form.email || !this.form.phone || 
			!this.form.star_rating || !this.form.hotel_type || !this.form.description || !this.form.cancellations || 
			!this.form.checkin_time || !this.form.checkout_time || !this.form.location.state || !this.form.location.city
		}
	},
	methods: {
		init(){
			Object.keys(this.this_hotel).forEach(item => {
				this.form[item] = this.this_hotel[item]
			})
		},
		createSearchIndex(str){
			let splited = str.toLowerCase().split('')
			let broken = []
			splited.forEach((s,i) => {
				broken.push(str.toLowerCase().substr(0, i+1))
				
			})
			return broken
		},
		saveChanges(){
			this.saving = true
			
			this.$db.collection('hotels').doc(this.this_hotel.docId)
			.update(this.form).then(()=>{
				// update successfull
				this.saving = false
				this.$eventBus.$emit('Snackbar', {
					show: true, 
					message: 'Changes Saved', 
					color: 'success'
				})
			}).catch(err => {
				this.$eventBus.$emit('Snackbar', {
					show: true, 
					message: 'Something went wrong', 
					color: 'error'
				})
			})
		}
	},
	mounted(){
		this.init()
	}
}
import { mapGetters, mapState } from 'vuex'
</script>
<style lang="scss" scoped>
	.custom-input {
		padding: 5px;
		border: 1px solid rgba(115, 114, 114, 0.54);
		border-radius: 2px;
		width: 100%;
		color: #9E9E9E;
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	}
</style>
