<template>
  <div>
    <t-navigation :breadcrumbs_items="items">
      <template v-slot:right></template>
    </t-navigation>

    <v-toolbar color="grey lighten-5" flat tile dense>
      <v-toolbar-items>
        <template v-for="menu in menuItems">
          <v-btn 
            depressed
            color="" active-class="primary--text"
            :key="menu.text + '-menu'"
            :to="menu.link" exact
            :class="{'hidden-sm-and-down': menu.hidden_sm, 'hidden-xs-only': menu.hidden_xs}"
            class="text-capitalize font-weight-light">
            {{menu.text}}
          </v-btn>
          <v-divider vertical v-if="menu.divider && !menu.hidden_xs && !menu.hidden_sm" :key="menu.text + '-div'"></v-divider>
        </template>

      </v-toolbar-items>
      <v-spacer></v-spacer>

      <v-menu bottom offset-y>
        <template v-slot:activator="{on}">
          <v-btn text dark color="primary" v-on="on" class="hidden-md-and-up">
            <!-- <v-icon color="grey">menu</v-icon> -->
            More
          </v-btn>
        </template>

        <v-list dense>
          <template v-for="(item, i) in menuItems">
            <v-list-item 
              :key="i + 'dd'" :to="item.link" exact 
              :class="{'hidden-sm-and-down': !item.hidden_sm && !item.hidden_xs, 'hidden-xs-only': !item.hidden_xs}">

              <v-list-item-title>{{ item.text }}</v-list-item-title>
            </v-list-item>
          </template>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-divider></v-divider>
    
    <v-container grid-list-xs v-if="$route.query.new">
      <v-row class="px-4">
        <v-col cols="12" sm="">
          <v-alert
            border="left"
            type="success"
            dismissible
          >
          <div class="title">Welcome to your dashboard!</div>
          <div>
            Setup your hotel to start recieving guests immediately.
            <br>
            We are here to help. Feel free to ask us any question.
          </div>
          </v-alert>

        </v-col>
      </v-row>
    </v-container>
    <router-view/>

  </div>
</template>
<script>
export default {
  data: () => ({
    tabs: 'general',
    items: [
      {
        text: 'Dashboard',
        disabled: false,
        to: '/'
      },
      {
        text: 'Hotel Setup',
        disabled: true,
        to: '/setup'
      }
    ],
    alert: true,
    menuItems: [
      {text: 'General', link: '/setup', divider: true, hidden_sm: false, hidden_xs: false},
      {text: 'Photos and Videos', link: '/setup/media', divider: true, hidden_sm: false, hidden_xs: false},
      {text: 'FAQ', link: '/setup/faq', divider: true, hidden_sm: false, hidden_xs: true},
      {text: 'Reservations', link: '/setup/reservations', divider: false, hidden_sm: true, hidden_xs: true},
      {text: 'Notifications', link: '/setup/notifications', divider: false, hidden_sm: true, hidden_xs: true},
      // {text: 'Bank Accounts', link: '/setup/accounts', divider: true, hidden_sm: false, hidden_xs: true},
      {text: 'Activate', link: '/setup/activate', divider: false, hidden_sm: true, hidden_xs: true},
      {text: 'Users and permissions', link: '/setup/users-and-permissions', divider: true, hidden_sm: false, hidden_xs: true},
    ]
  }),
  mounted(){
    // console.log(this.$router)
  }
}
</script>
