<template>
	<div>
		<v-toolbar color="grey lighten-3" flat dense>
			Upload Hotel Media
			<v-spacer></v-spacer>
			<v-btn color="primary" class="mr-2" 
				outlined depressed 
				@click="upload_type = 'video'; file_dialog = true">
				Upload Video
			</v-btn>
			<v-btn color="primary" depressed 
				@click="upload_type = 'image'; file_dialog = true">
				Add Images
			</v-btn>
		</v-toolbar>

		<v-container grid-list-md>
			<v-subheader class="mt-0 font-weight-bold">Images</v-subheader>
			<small v-if="images.length == 0">No images</small>
			<small>The first image will be the main image for this property.</small>
			<v-row row wrap>
				<v-col cols="6" sm="2" v-for="(image,i) in images" :key="i">
					<v-card outlined>
						<v-img
							class="white--text"
							height="150px"
							:src="image"
						>
						</v-img>
						<v-card-actions>
							<v-btn text small 
								color="orange" class="text-capitalize" 
								@click="remove_dialog = true; removeIndex = i; remove_type = 'image'">
								Remove
							</v-btn>
							
						</v-card-actions>
					</v-card>
				</v-col>
			</v-row>
			


			<v-subheader class="mt-5 font-weight-bold">Videos</v-subheader>
			<v-card width="300" v-if="this_hotel.videoSrc">
				<video controls :src="this_hotel.videoSrc" width="100%" height="200" />
				<v-card-actions>
					<v-btn text small 
						color="orange" 
						@click="remove_dialog = true; remove_type = 'video'">
						Remove
					</v-btn>
				</v-card-actions>
			</v-card>
			<v-subheader v-else>No video</v-subheader>
		</v-container>

		<v-dialog max-width="350" v-model="remove_dialog">
			<v-card>
				<v-card-title class="title">
					Are you sure ?
				</v-card-title>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn text small @click="remove_dialog = false" :disabled="removing">Cancel</v-btn>
					<v-btn color="orange" dark small 
						depressed @click="removeImage"
						v-if="remove_type == 'image'" 
						:loading="removing">Delete
					</v-btn>
					<v-btn color="orange" dark small 
						depressed @click="removeVideo"
						v-if="remove_type == 'video'"
						:loading="removing">Delete
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

		<v-dialog
			v-model="file_dialog" 
			:persistent="uploading" :overlay="false"
			max-width="500px"
			transition="dialog-transition">
			<v-card>
				<v-toolbar flat dense>
					Upload Media
				</v-toolbar>
				<v-card-text>
					<v-container>

						<v-file-input
							v-model="selected_files"
							color="primary accent-4"
							counter :rules="upload_type == 'image' ? imageRules : videoRules"
							:accept="upload_type == 'image' ? 'image/png, image/jpeg, image/bmp' : 'video/mp4'"
							label="files"
							:multiple="upload_type == 'image'"
							placeholder="Select files"
							prepend-icon="mdi-paperclip"
							outlined lazy
							:show-size="1000" persistent-hint
							:hint="upload_type == 'image' ? 'Total Image size should be less than 2 MB!' : 'Video size should be less than 3 MB!'"
						>
							<template v-slot:selection="{ index, text }">
								<v-chip
									v-if="index < 2"
									color="deep-purple accent-4"
									dark
									label
									small
								>
									{{ text }}
								</v-chip>

								<span
									v-else-if="index === 2"
									class="overline grey--text text--darken-3 mx-2"
								>
									+{{ selected_files.length - 2 }} File(s)
								</span>
							</template>
						</v-file-input>
					</v-container>
					<v-subheader v-show="upload_type == 'image'">Recommended size is 760 X 300</v-subheader>
				</v-card-text>

				<v-progress-linear :indeterminate="true" v-if="uploading"></v-progress-linear>

				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn text @click="file_dialog = false" :disabled="uploading">Cancel</v-btn>
					<v-btn color="success" depressed 
						:disabled="videoRules[0] !== true"
						@click="addVideo" :loading="uploading" 
						v-if="upload_type == 'video'">Upload
					</v-btn>
					<v-btn color="success" depressed
						:disabled="imageRules[0] !== true"
						@click="addImages" :loading="uploading" 
						v-if="upload_type == 'image'">Upload Images
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>

	</div>
</template>
<script>
export default {
	data: () =>({
		remove_dialog: false,
		remove_type: '',
		upload_type: '',
		removeIndex: -1,
		removing: false,
		images: [],
		selected_files: [],
		imgSrc: null,
		file_dialog: false,
		video_dialog: false,
		uploading: false
	}),
	watch: {
		'this_hotel': function(){
			this.initialize()
		},
		file_dialog: function(to){
			to ? this.selected_files = [] : ''
		}
	},
	computed: {
		imageRules() {
			// value => value.size < 2000000 || 'Total Image size should be less than 2 MB!'
			let totalSize = this.selected_files ? this.selected_files.reduce((p, c) => p +c.size, 0) : 0
			return [totalSize > 0 && totalSize < 2000000 || 'Total Image size should be less than 2 MB!']
		},
		videoRules() {
			// value => value.size < 3000000 || 'Video size should be less than 3 MB!'
			let totalSize = this.selected_files ? this.selected_files.reduce((p, c) => p +c.size, 0) : 0
			return [totalSize > 0 && totalSize < 3000000 || 'Video size should be less than 3 MB!']
		},
		...mapState([
			'auth',
			'this_hotel'
		])
	},
	methods: {
		initialize(){
			this.this_hotel.images ? this.images = this.this_hotel.images : ''
		},
		addImages(){
			this.uploading = true
			
			let options = {
        files: this.selected_files,
				path: `${this.this_hotel.name.split(' ').join('-')}/images`,
				file_names: this.selected_files.map((f,i) => {
					return `hotel-images-${(this.this_hotel.images || []).length + i + 1}`
				})
			}

			if(this.selected_files[0]){

				this.$helpers.upload(options).then((uploaded)=>{
					
					this.$db.collection('hotels').doc(this.this_hotel.docId)
					.update({
						images: [...this.images, ...uploaded]
					}).then(()=>{
	
						// this.images = [...this.images, ...uploaded]
						this.uploading = false
						this.file_dialog = false
		
						this.$eventBus.$emit('Snackbar', {
							show: true,
							message: 'Photos uploaded successfully',
							color: 'success'
						})
					})
				}).catch(err => {
					// console.log(err)

					this.uploading = false
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Upload failed',
						color: 'error'
					})
				})
			}
		},
		removeImage(){
			this.removing = true
			let removed = this.images.splice(this.removeIndex, 1)
			
			this.$db.collection('hotels').doc(this.this_hotel.docId).update({
				images: this.$firebase.firestore.FieldValue.arrayRemove(removed[0])
			}).then(()=> {
				this.removing = false
				this.remove_dialog = false

				// delete file permanently from storage
				let imgpath = `${this.this_hotel.name.split(' ').join('-')}/images/hotel-images-${this.removeIndex + 1}`
				let imgRef = storage.ref().child(imgpath)
				imgRef.delete().then(() => {
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Photo Removed',
						color: 'success'
					})
				}).catch(err => {
					// console.log(err)
				})
				
			})
		},
		addVideo(){
			this.uploading = true

			let options = {
        files: [this.selected_files[0]],
				path: `${this.this_hotel.name.split(' ').join('-')}/videos`,
				file_names: ['hotel-video1']
			}

			this.$helpers.upload(options).then((uploaded)=>{
				
				this.$db.collection('hotels').doc(this.this_hotel.docId)
				.update({
					videoSrc: uploaded
				}).then(()=>{

					this.uploading = false
					this.file_dialog = false
	
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Uploaded successfully',
						color: 'success'
					})
				})
				.catch(err => {
					// console.log(err)
					this.uploading = false
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Upload failed',
						color: 'error'
					})
				})

			})
		},
		removeVideo(){
			this.$db.collection('hotels').doc(this.this_hotel.docId)
				.update({
					videoSrc: false
				}).then(()=>{
					this.remove_dialog = false

					// delete file permanently from storage
					let videopath = `${this.this_hotel.name.split(' ').join('-')}/videos/hotel-video1`
					let videoRef = storage.ref().child(videopath)
					videoRef.delete().then(() => {
						this.$eventBus.$emit('Snackbar', {
							show: true,
							message: 'Video Removed',
							color: 'success'
						})
					}).catch(err => {
						// console.log(err)
					})
				})
		}
	},
	mounted(){
		this.initialize()
		this.$eventBus.$on('Selected_Files', data => {
			// console.log(data)
			this.imgSrc = data.imgSrc
			this.selected_files = data.selected_files

			this.file_dialog = true
		})
	}
}
import { mapGetters, mapState } from 'vuex'
import {storage} from '@/plugins/firebase'
</script>