<template>
  <div>
    <v-container grid-list-xs>
      <v-row>
        <v-col>
          <v-card tile outlined>

            <v-card-text>
              <v-list two-line subheader>
                <v-subheader>Notifications</v-subheader>
                <v-switch label="Turn on notifications" v-model="settings.show_notifications" class="pr-4"></v-switch>
                <v-list-item>
                  <v-list-item-action>
                    <v-checkbox v-model="settings.reservations" :disabled="!settings.show_notifications"></v-checkbox>
                    <!-- <v-switch label="" v-model="settings.reservations"></v-switch> -->
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>Reservations</v-list-item-title>
                    <v-list-item-subtitle>Notify me whenever a reservation is made, updated, or cancelled</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-action>
                    <v-checkbox v-model="settings.shop_purchases" :disabled="!settings.show_notifications"></v-checkbox>
                    <!-- <v-switch label="" v-model="settings.shop_purchases"></v-switch> -->
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>Shop Purchases</v-list-item-title>
                    <v-list-item-subtitle>Receive notifications for new shop purchases</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-action>
                    <v-checkbox v-model="settings.orders" :disabled="!settings.show_notifications"></v-checkbox>
                    <!-- <v-switch label="" v-model="settings.orders"></v-switch> -->
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>Orders</v-list-item-title>
                    <v-list-item-subtitle>Notify me when new orders are made</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn depressed color="primary" @click="save" :loading="saving">Save</v-btn>
            </v-card-actions>

            <div style="flex: 1 1 auto;"></div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    saving: false,
    settings: {
      show_notifications: false,
      reservations: false,
      shop_purchases: false,
      orders: true,
    }
  }),
  watch: {
    'notification_settings': function(to, from){
      if(!from)
      Object.assign(this.settings, to)
    }
  },
  computed: {
    ...mapState([
      'auth',
      'this_hotel',
      'hotel_settings'
    ]),
    ...mapGetters([
      'notification_settings'
    ])
  },
  methods: {
    async saveSubscription(token){
      // save a subscription
      let subsRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
        .collection('settings')
        .doc('notification_settings')
      try {
        
        await subsRef.set({
          tokens: this.$firebase.firestore.FieldValue.arrayUnion(token),
          last_updated: this.$firebase.firestore.FieldValue.serverTimestamp(),
          docId: subsRef.id,
          ...this.settings
        }, {merge: true})

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Preferences updated',
          color: 'success'
        })

        this.saving = false

      } catch (error) {
        this.saving = false
        throw error
      }


    },
    monitorTokenRefresh(){
      messaging.onTokenRefresh(() => {
        messaging.getToken().then((refreshedToken) => {
          this.saveSubscription(refreshedToken)
        }).catch((err) => {
          // console.log('Unable to retrieve refreshed token ', err);
          throw err
        })
      })
    },
    async save(){

      this.saving = true;

      try {
        // if(this.settings.show_notifications){
          
        //   let res = await askToReceiveNotifications()
          
        //   await this.saveSubscription(res)

        // }
        // else {
          let subsRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
          .collection('settings')
          .doc('notification_settings')

          await subsRef.set({
            show_notifications: false,
            ...this.settings,
            last_updated: this.$firebase.firestore.FieldValue.serverTimestamp()
          }, {merge: true})

          this.$eventBus.$emit('Snackbar', {
            show: true,
            message: 'Preferences updated',
            color: 'success'
          })

          this.saving = false
        // }
      } catch (error) {
        // console.log(error)
        this.saving = false
      }
    },
    
  },
  mounted(){
    // this.getSettings()
    // console.log(this.notification_settings)
    Object.assign(this.settings, this.notification_settings)
  }
}
import { mapState, mapGetters } from 'vuex'
import { askToReceiveNotifications } from '@/push-notification.js'
import { messaging } from '@/plugins/firebase'
</script>

<style>

</style>