<template>
  <div>
    <v-container grid-list-xs>
      <v-row>
        <v-col>
          <v-card tile outlined>
            <v-card-text>
              
              <v-list two-line subheader>
                <!-- <v-subheader>Allowed Payment methods</v-subheader>
                <v-list-item>
                  <v-list-item-action>
                    <v-checkbox v-model="settings.allow_online_payments"></v-checkbox>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>Online Payments</v-list-item-title>
                    <v-list-item-subtitle>Guests can pay for their reservations online</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-action>
                    <v-checkbox v-model="settings.allow_front_desk_payments"></v-checkbox>
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>Front Desk Payments</v-list-item-title>
                    <v-list-item-subtitle>Guests can pay at your hotel</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item> -->
                
                <div class="error--text pl-12 font-weight-bold" v-show="!settings.allow_online_payments && !settings.allow_front_desk_payments">Select atleast one option</div>
                <v-subheader>Checking In</v-subheader>
                <v-list-item>
                  <v-list-item-action>
                    <v-checkbox v-model="settings.online_checkin" :disabled="!settings.allow_online_payments"></v-checkbox>
                    <!-- <v-switch label="" v-model="settings.shop_purchases"></v-switch> -->
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>Online Checkin</v-list-item-title>
                    <v-list-item-subtitle>Let guests that book online be able to checkin online before arrival</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-list-item>
                  <v-list-item-action>
                    <v-checkbox v-model="settings.auto_room_allocation" :disabled="!settings.allow_online_payments"></v-checkbox>
                    
                  </v-list-item-action>
                  <v-list-item-content>
                    <v-list-item-title>Auto Room Allocation</v-list-item-title>
                    <v-list-item-subtitle>Automatically allocate rooms to guests during checkin</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn depressed color="primary" @click="save" :loading="saving">Save</v-btn>
            </v-card-actions>

            <div style="flex: 1 1 auto;"></div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    saving: false,
    settings: {
      allow_online_payments: '',
      allow_front_desk_payments: '',
      online_checkin: '',
      auto_room_allocation: '',
    }
  }),
  watch: {
    'reservation_settings': function(to,from){
      if(!from){
        Object.assign(this.settings, this.reservation_settings)
      }
    }
  },
  computed: {
    ...mapState([
      'auth',
      'this_hotel',
      'hotel_settings'
    ]),
    ...mapGetters([
      'reservation_settings'
    ]),
    non_selected(){
      return
        !this.settings.allow_online_payments && 
        !this.settings.allow_front_desk_payments
    }
  },
  methods: {
    async save(){

      this.saving = true;

      try {
        
        let batch = this.$db.batch()
        
        let hotelRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
        let settingsRef = hotelRef
          .collection('settings')
          .doc('reservation_settings')

        batch.set(settingsRef, {
          docId: settingsRef.id,
          last_updated: this.$firebase.firestore.FieldValue.serverTimestamp(),
          ...this.settings,
        })

        batch.update(hotelRef, {
          allowed_payments: {
            online: this.settings.allow_online_payments,
            front_desk: this.settings.allow_front_desk_payments,
            online_checkin: this.settings.online_checkin,
            auto_room_allocation: this.settings.auto_room_allocation
          }
        })

        await batch.commit()

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Preferences updated',
          color: 'success'
        })

        this.saving = false
        
      } catch (error) {
        // console.log(error)
        this.saving = false
      }
    },
  },
  mounted(){
    Object.assign(this.settings, this.reservation_settings)
    // console.log(this.settings, this.reservation_settings, this.hotel_settings)
  }
}
import { mapState, mapGetters } from 'vuex'
// import { askToReceiveNotifications } from '@/push-notification.js'
// import { messaging } from '@/plugins/firebase'
</script>

<style>

</style>