<template>
	<div>
		<v-container grid-list-lg>
			<v-row row wrap justify-center>
				<v-col cols="12" sm="10">
					<v-card flat>

						<v-card-text>
							<v-toolbar flat color="white">
								<v-toolbar-title>Users and permissions</v-toolbar-title>
								<v-divider
									class="mx-2"
									inset
									vertical
								></v-divider>
								<v-spacer></v-spacer>
								<v-dialog v-model="dialog" max-width="500px" :persistent="saving">
									<template v-slot:activator="{ on }">
										<v-btn color="primary" 
											dark class="mb-2 text-capitalize" 
											depressed v-on="on" 
											:disabled="!is_an_owner">
											Invite Team Member
										</v-btn>
									</template>
									<v-card>
										<v-card-title>
											<span class="title font-weight-light">{{ formTitle }}</span>
										</v-card-title>

										<v-card-text>
											<v-container grid-list-md>
												<v-row wrap>
													<v-col cols="12" sm="6" md="6">
														<v-text-field v-model="editedItem.email" type="email" label="Email"></v-text-field>
													</v-col>
													<v-col cols="12" sm="6" md="4">
														<v-select
															:items="[{text: 'Owner', value: 'owners',}]"
															v-model="editedItem.role"
															label="Choose Role"
														></v-select>
													</v-col>
												</v-row>
											</v-container>
										</v-card-text>

										<v-card-actions>
											<v-spacer></v-spacer>
											<v-btn color="blue darken-1" text @click="close" :disabled="saving">Cancel</v-btn>
											<v-btn color="blue darken-1" text @click="save" :loading="saving" :disabled="disabled_save">Save</v-btn>
										</v-card-actions>
									</v-card>
								</v-dialog>
							</v-toolbar>
							<v-data-table
								:headers="headers"
								:items="teams"
								class="elevation-1"
								:loading="loading"
							>
								<template v-slot:item.action="{item}">
									<v-icon
										small :disabled="auth.user.uid == item.uid || disableDelete"
										@click="deleteItem(item)"
									>
										mdi-delete
									</v-icon>
								</template>
							</v-data-table>
						</v-card-text>
					</v-card>
				</v-col>
			</v-row>
		</v-container>
	</div>
</template>
<script>
export default {
	data: () => ({
		show: [],
		dialog: false,
		loading: false,
		saving: false,
		headers: [
			{
				text: 'Name',
				align: 'left',
				sortable: false,
				value: 'name'
			},
			{ text: 'Email', value: 'email' },
			{ text: 'Role', value: 'role' },
			{ text: 'Action', value: 'action', sortable: false },
		],
		teams: [],
		editedIndex: -1,
		editedItem: {
			email: '',
			role: '',
		},
		defaultItem: {
			email: '',
			role: ''
		}
	}),
	watch: {
		'this_hotel': function(){
			this.teams = []
			this.initialize()
		},
		dialog (val) {
			val || this.close()
		}
	},
	computed: {
		...mapGetters([
			
		]),
		...mapState([
			'auth',
			'this_hotel'
		]),
		disabled_save(){
			return Object.values(this.editedItem).find(item => !item.trim())
		},
		formTitle () {
			return this.editedIndex === -1 ? 'Add Team Member' : 'Edit Member'
		},
		disableDelete(){
			// delete only if you are an owner
			// delete owner only if there is more than one owners
			// can't delete yourself
			
			if (!this.is_an_owner) return true;
			else if(this.this_hotel.roles.owners.length <= 1) return true;
		},
		is_an_owner(){
			return this.this_hotel.roles.owners.find(o => o == this.auth.user.uid)
		}
	},
	methods: {
		initialize () {
			// get all admin or team members
			this.loading = true
			let arr = []
			
			let all_roles = Object.keys(this.this_hotel.roles)
			let members = []
			let members_by_roles = {}

			all_roles.map(role => {

				members_by_roles[role] = this.this_hotel.roles[role].map( async userId => {
					let u = await this.$db.collection('users').doc(userId).get()
					let user = u.data()

					this.teams.push({
						name: user.fname,
						email: user.email, 
						uid: user.uid, 
						role: role
					})

					return {user: u.data(), role: role}
				})
			})

			// console.log(members, members_by_roles)

			this.loading = false
			
		},
		
		deleteItem (item) {
			const index = this.teams.indexOf(item)
			let confirmed = confirm('Are you sure you want to delete this item?')
			
			if(confirmed && !this.disableDelete){
				this.removing = true
				this.teams.splice(index, 1)

				let batch = this.$db.batch()

				let userRef = this.$db.collection('users').doc(item.uid)
				batch.update(userRef, {
					properties: this.$firebase.firestore.FieldValue
						.arrayRemove({hotelId: this.this_hotel.docId, role: item.role})
					
				})

				let nr = this.this_hotel.roles[item.role].filter(i => i != this.auth.user.uid)
				let roles = Object.assign({}, this.this_hotel.roles)
				let nrc = roles[item.role] = nr

				let hotelRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
				batch.update(hotelRef, {
					roles: roles,
				})

				batch.commit().then(()=>{
					this.removing = false
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Team member has been removed',
						color: 'success'
					})
				}).catch(err => {
					this.removing = false
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Something went wrong',
						color: 'error'
					})
				})

			}

		},

		close () {
			this.dialog = false
			setTimeout(() => {
				this.editedItem = Object.assign({}, this.defaultItem)
				this.editedIndex = -1
			}, 300)
		},

		async save () {
			// TODO: SEND INVITATION TO THE EMAIL ADDRESS PROVIDED

			// Check if user has account
			this.saving = true
			this.$db.collection('users')
			.where('email', '==', this.editedItem.email)
			.get().then(docs => {

				let arr = []
				docs.forEach(doc => {
					arr.push(doc.data())
				})

				if(arr.length > 0){
					// account exists, check if is already admin
					let newMember = arr[0]
					// console.log({newMember})

					let is_already_admin = !!this.this_hotel.roles.owners.find(id => id == newMember.uid)
					// console.log({is_already_admin})
					if(is_already_admin){
						this.saving = false
						this.$eventBus.$emit('Snackbar', {
							show: true,
							message: 'The provided email is already an admin',
							color: 'error'
						})
					}
					else {

						let batch = this.$db.batch()
	
						let userRef = this.$db.collection('users').doc(newMember.uid)
						batch.update(userRef, {
							properties: this.$firebase.firestore.FieldValue
								.arrayUnion({hotelId: this.this_hotel.docId, role: this.editedItem.role}),
						})
	
						let hotelRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
						batch.update(hotelRef, {
							'roles.owners': this.$firebase.firestore.FieldValue.arrayUnion(newMember.uid),
						})
	
						batch.commit().then(()=>{
							// TODO: SEND INVITATION TO THE EMAIL ADDRESS PROVIDED
							this.saving = false
							this.$eventBus.$emit('Snackbar', {
								show: true,
								message: 'Successfull',
								color: 'success'
							})
	
							this.saving = false
							this.close()
						}).catch(err => {
							this.saving = false
							this.$eventBus.$emit('Snackbar', {
								show: true,
								message: 'Something went wrong',
								color: 'error'
							})
						})
					}
				}
				else {
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Please make sure this team member has an account already',
						color: 'error'
					})
					this.saving = false
					this.close()
				}
			})
			
		}
	},
	created () {
		this.initialize()
	},
}
import { mapGetters, mapState } from 'vuex'
</script>
