<template>
  <div>
    <t-navigation :breadcrumbs_items="breadcrumbs_items"/>

    <v-container grid-list-xs>
      <v-row ustify-center justify-space-around>
        <v-col cols="12">
          <v-card height="400" outlined>
            <v-toolbar flat color="white">
							<v-btn color="primary" class="mb-2 text-capitalize" outlined
								@click="$router.push('/messages/sent')">
								<v-icon class="mr-3">mdi-chevron-left</v-icon>
								Go to Sent</v-btn>

                <v-spacer></v-spacer>
                <v-btn color="primary" class="text-capitalize" 
                  depressed
                  @click="$eventBus.$emit('Send_Message')">
                  Compose
                </v-btn>
						</v-toolbar>
            <v-card-title>
              <span class="hidden-xs-only">Inbox</span>
              <div class="flex-grow-1"></div>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search inbox"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
						<v-data-table
							:headers="headers"
							:items="items"
              :search="search"
							class="elevation-0"
              :loading="loading"
						>
              <template v-slot:item.name="{ item }">
                <router-link :to="item.docId ? `open/${item.docId}` : '#'">{{ item.name }}</router-link>
              </template>

							<template v-slot:items="props" >
								<td 
                  class="text-xs-left"
                  :class="[{'font-weight-bold': !props.item.read}]"
                >
                  
                </td>
								<td 
                  class="text-xs-left"
                  :class="[{'font-weight-bold': !props.item.read}]">
                  {{ $helpers.truncateText(props.item.message) }}
                </td>
								<td class="text-xs-right">{{ props.item.time }}</td>
								
							</template>
							<template v-slot:no-data>
								<v-subheader>Your inbox is empty</v-subheader>
							</template>
						</v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

  </div>
</template>
<script>
export default {
  data: () => ({
    breadcrumbs_items: [
      {
        text: 'Dashboard',
        disabled: false,
        exact: true,
        to: '/'
      },
      {
        text: 'Messages',
        disabled: true,
        exact: true,
        to: '/messages'
      },
      {
        text: 'Inbox',
        disabled: true,
        exact: true,
        to: '/messages/inbox'
      }
		],
    headers: [
			{
				text: '',
				align: 'left',
				sortable: false,
        value: 'image',
        width: '5'
			},
			{
				text: 'From',
				align: 'left',
				sortable: true,
        value: 'name',
        width: '200'
			},
			{ text: 'Message', align: 'left', value: 'message' },
			{ text: 'Time', align: 'left', value: 'time' }
    ],
    search: '',
    items: [],
    inbox: [],
    loading: false,
  }),
  watch: {
    'this_hotel': function(){
      this.items = []
      this.initialize()
    }
  },
  computed: {
    ...mapState([
      'auth',
      'this_hotel'
    ])
  },
  methods: {
    async initialize(){
      
      (await this.getInbox()).forEach(item => {
        // console.log(item)
        this.items.push({
          name: item.from.name,
          message: item.data.message,
          type: item.type,
          to: item.to,
          time: this.$helpers.parseDate(item.date_created.toMillis()),
          docId: item.docId,
          read: item.read
        })
      })
      this.loading = false
      // console.log(this.$store.state.checkedInGuests)

    },
    async getInbox () {
      // get user bookings
      this.loading = true;

			let arr = []
			await this.$db.collection('notifications')
      .where('to.uid', '==', this.this_hotel.docId)
      .orderBy('date_created', 'desc')
			.get().then( docs => {
				
				docs.forEach(doc => {
					arr.push(doc.data())
				})
			})
      this.loading = false
			return arr
    },
    
  },
  mounted(){
    // console.log(this.$route)
    this.auth ? this.initialize() : ''
  },
  components: {
    
  }
}
import { mapState } from 'vuex';
</script>
