<template>
  <div>
    <t-navigation :breadcrumbs_items="breadcrumbs_items"/>

    <v-container>
      <v-row>
        <v-col >
          <v-progress-circular v-if="!showUi" :value="20" 
            color="grey lighten-1" indeterminate 
            class="d-block mx-auto">
          </v-progress-circular>

          <v-card class="py-12" v-else outlined>
            <v-card-actions>
              <v-btn outlined color="grey" dark
                @click="$router.back()">
                Back
              </v-btn>
             
              <v-btn outlined color="grey" dark 
                v-if="messages[0].to.uid == this_hotel.docId"
                @click="replyDialog = true">
                <v-icon>mdi-reply</v-icon>
                Reply
              </v-btn>
            </v-card-actions>
            <v-divider></v-divider>
            <v-list two-line dense v-if="messages[0]">
              <v-list-item>
                <v-list-item-avatar color="primary" dark class="white--text">
                  <img v-if="messages[0].from.imgSrc" :src="messages[0].from.imgSrc"/>
                  <span v-else>{{messages[0].from.name.charAt(0)}}</span>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{messages[0].data.subject}}</v-list-item-title>
                  <v-list-item-subtitle>
                    {{messages[0].to.uid == this_hotel.docId ? 'from' : 'to'}}
                    <span class="font-weight-bold">
                      {{messages[0].to.uid == this_hotel.docId ? messages[0].from.name : messages[0].to.name}}
                    </span>

                    </v-list-item-subtitle>
                </v-list-item-content>
                <v-list-item-action>
                  <span>{{$helpers.parseDate(messages[0].date_created.toMillis())}}</span>
                </v-list-item-action>
              </v-list-item>
            </v-list>
            <v-divider></v-divider>
            <v-card-text>
              <p>{{messages[0].data.message}}</p>

              <div class="mt-12">

                <v-card v-for="(message, index) in messages.slice(1)" 
                  :key="message.docId" flat class="" :style="{marginLeft: (index + 1) * 20 +'px' }">

                  <v-subheader >
                    On {{message.date_created.toDate()}} {{message.from.name}} wrote: 
                  </v-subheader>
                  <v-card-text class="border-left pl-2">
                    {{message.data.message}}
                  </v-card-text>
                </v-card>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
     
    <v-row row justify-center >
      <v-dialog v-model="replyDialog" persistent max-width="500px" lazy scrollable>
        <v-card v-if="messages[0]">
          <v-toolbar card dense>
            <v-icon>mdi-reply</v-icon>
            <span class="font-weight-light title" style="font-size: 18px;">Reply to {{messages[0].from.name}} </span>
            
          </v-toolbar>
          <v-card-text>
            <v-container grid-list-md>
              <v-row wrap>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field label="Subject" hide-details outlined v-model.trim="form.subject" required></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-textarea label="Type your reply" outlined auto-grow v-model.trim="form.body"/>
                </v-col>
              </v-row>
            </v-container>

            <v-divider></v-divider>
            <div class="mt-4">
              At {{$helpers.parseDate(messages[0].date_created.toMillis())}}, {{messages[0].from.name}} wrote: <br/>
              <p class="mt-2">{{messages[0].data.message}}</p>
              
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text 
              @click.native="replyDialog = false"
              :disabled="replying">
                Close
            </v-btn>
            <v-btn color="blue darken-1" text
              @click.native="replyMessage"
              :loading="replying"
              :disabled="!form.body || !form.subject">
              Send
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

  </div>
</template>
<script>
export default {
  layout: 'account',
  // middleware: 'auth',
  data: () =>({
    showUi: false,
    breadcrumbs_items: [
      {
        text: 'Dashboard',
        disabled: false,
        exact: true,
        to: '/'
      },
      {
        text: 'Messages',
        disabled: true,
        exact: true,
        to: '/messages'
      },
      {
        text: 'Open',
        disabled: true,
        exact: true,
        to: '/messages/read'
      }
    ],
    message: {},
    messages: [],
    parentMessage: {},
    replyDialog: false,
    form: {
      subject: '',
      body: ''
    },
    replying: false
  }),
  watch: {
    
  },
  computed:{
    ...mapState([
      'auth',
      'this_hotel'
    ])
  },
  methods: {
    async initialize(){
      // console.log(this.$route.params)
      let messageId = this.$route.params.docId
      await this.getMessages(messageId)

      this.showUi = true

      // let messages = this.messages.map(msg => {
      //   return {
      //     ...msg,
      //     date_created: msg.date_created.toMillis()
      //   }
      // })

      // let sorted = this.sortBy(messages, 'date_created')

      // this.arrayToTree(sorted.slice(1), sorted[0].docId).then(output => {
      //   this.items = output
      //   console.log({output})
      //   return true
      // }).then(()=> {

      //   this.showUi = true
      // })
      
    },
    
    async getMessages (messageId) {

      return new Promise((resolve, reject) => {
        
        this.fetchMsg(messageId, resolve)
      })

    },
    async fetchMsg(messageId, resolve){
      try {

        let notifRef = this.$db.collection('notifications').doc(messageId)
        let getmsg = await notifRef.get()
        let message = getmsg.data()

        this.messages.push(message)

        if(message.replyTo){
          // the message is a reply
          this.fetchMsg(message.replyTo, resolve)
          
        }
        else {
          resolve(this.messages)
        }

        // console.log(message)

        if(message.to.uid == this.this_hotel.docId && !message.read){
          this.$db.collection('notifications').doc(message.docId).update({
            read: true
          })
        }
        
      } catch (error) {
        // console.log(error)
      }
    },
    async arrayToTree(arr, parentid){
      
      let output = []
      for(const obj of arr) {
        if(obj.replyTo == parentid) {
          var children = this.arrayToTree(arr, obj.docId)

          if(children.length) {
            obj.children = children
          }
          output.push(obj)
        }
      }
      return output
    },
    sortBy(array){

      return array.sort((a,b) => {


        if(a.date_created > b.date_created) return 1
        if(a.date_created < b.date_created) return -1
        
      })
    },
    replyMessage(){
      // reply to message
      this.replying = true;

      let notifRef = this.$db.collection('notifications').doc()

      notifRef.set({
        docId: notifRef.id,
        from: {
          name: this.this_hotel.name,
          uid: this.this_hotel.docId,
        },
        to: {
          name: this.messages[0].from.name,
          uid: this.messages[0].from.uid
        },
        date_created: this.$firebase.firestore.FieldValue.serverTimestamp(),
        read: false,
        type: this.messages[0].type,
        data: {
          message: this.form.body,
          subject: this.form.subject,
          customer_room: 'customer_room'
        },
        replyTo: this.messages[0].docId
      }).then(() => {

        this.replying = false;
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Reply sent',
          color: 'info'
        })
        this.replyDialog = false;
      })


    }
  },
  mounted(){
    
    this.auth ? this.initialize() : ''
  },
  components: {
    
  }
}
import { mapState } from 'vuex'
</script>
<style lang="scss" scoped>
  .outlined {
    border: 1px solid #eee;
  }
  .border-left {
    border-left: 1px solid #ccc;
  }
</style>
