<template>
  <div>
    <t-navigation :breadcrumbs_items="breadcrumbs_items"/>

     <v-container grid-list-xs>
      <v-row justify-center justify-space-around>
        <v-col>
          <v-card outlined>
            <v-toolbar flat color="white">
							<v-btn color="primary" class="mb-2 text-capitalize" outlined
								to="/messages/inbox">
								<v-icon class="mr-4">mdi-chevron-left</v-icon>
								Go to Inbox</v-btn>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="$eventBus.$emit('Send_Message')">New Message</v-btn>
						</v-toolbar>
            <v-card-title>
              Sent
              <div class="flex-grow-1"></div>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-card-title>
						<v-data-table
							:headers="headers"
							:items="items"
              :search="search"
							class="elevation-0"
              :loading="loading"
						>

            <template v-slot:item.name="{ item }">
              <router-link :to="item.docId ? `open/${item.docId}` : '#'">{{ item.name }}</router-link>
            </template>

							<template v-slot:items="props" >
								<td>
                  {{ $helpers.truncateText(props.item.message, 80) }}
                </td>
								<td  class="text-xs-right">{{ props.item.time }}</td>
								
							</template>
							<template v-slot:no-data>
								<v-subheader>Your outbox is empty</v-subheader>
							</template>
						</v-data-table>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

  </div>
</template>
<script>
export default {
  layout: 'account',
  middleware: 'auth',
  data: () =>({
    breadcrumbs_items: [
      {
        text: 'Home',
        disabled: false,
        to: '/',
        exact: true
      },
      {
        text: 'Messages',
        disabled: true,
        to: '/messages',
        exact: true
      },
      {
        text: 'Inbox',
        disabled: true,
        to: '/messages/outbox',
        exact: true
      }
    ],
    headers: [
			{
				text: '',
				align: 'left',
				sortable: false,
        value: 'image',
        width: '5'
			},
			{
				text: 'From',
				align: 'left',
				sortable: true,
        value: 'name',
        width: '200'
			},
			{ text: 'Message', align: 'left', value: 'message' },
			{ text: 'Time', align: 'left', value: 'time' }
    ],
    search: '',
    items: [],
    sent: [],
    loading: false,
  }),
  watch: {
    'this_hotel': function(){
      this.items = []
      this.initialize()
    }
  },
  computed:{
    ...mapState([
      'auth',
      'this_hotel'
    ])
  },
  methods: {
    async initialize(){
      // let sent = await this.getOutbox()
      
      (await this.getOutbox()).forEach(item => {
        
        this.items.push({
          name: item.from.name,
          message: item.data.message,
          type: item.type,
          to: item.to,
          time: this.$helpers.parseDate(item.date_created.toMillis()),
          docId: item.docId,
        })
      })
      
      this.loading = false
    },
    async getOutbox () {
      // get user bookings
      this.loading = true
			let arr = []
			await this.$db.collection('notifications')
      .where('from.uid', '==', this.this_hotel.docId)
      .orderBy('date_created', 'desc')
			.get().then( docs => {
				
				docs.forEach(doc => {
					arr.push(doc.data())
				})
			})
      // console.log(arr)
      this.sent = arr
			return arr
    },
    
  },
  mounted(){
    // console.log(this.$route)
    this.auth ? this.initialize() : ''
  },
  components: {
    
  }
}
import { mapState } from 'vuex'
</script>
<style lang="scss" scoped>
  
</style>
