<template>
  <div >
  <!-- <transition name="fade" mode="out-in"> -->
    <template>
      <!-- <loading-bar height="65vh"></loading-bar> -->
      <v-overlay :value="!showUi">
        <v-progress-circular indeterminate size="64" :opacity="0.7"></v-progress-circular>
      </v-overlay>
    </template>

    <template v-if="showUi">
      
      <v-navigation-drawer
        app clipped
        v-model="drawer"
        width="250"
        :mini-variant.sync="$vuetify.breakpoint.mdAndUp ? mini : false">

        <v-list dense shaped nav>
          <template v-for="(item, i) in items">
              
            <v-subheader v-if="item.heading && !mini" :key="i" class="mb-3">
              {{ item.heading }}
            </v-subheader>
            <v-divider
              dark
              v-else-if="item.divider"
              class="mt-3"
              :key="i"
            ></v-divider>
            <v-list-item
              :key="i + 'item'"
              v-else
              :to="item.link"
              active-class="default-class list-active"
            >
              <v-list-item-icon>
                <v-icon :color="item.color">mdi-{{ item.icon }}</v-icon>
              </v-list-item-icon>
              <!-- <v-tooltip right> -->
                
                <v-list-item-content>
                  <v-list-item-title class="grey--text">
                    {{ item.text }}
                  </v-list-item-title>
                </v-list-item-content>
                <!-- <span>{{item.coming_soon ? 'Coming Soon' : item.text}}</span>

              </v-tooltip> -->
              <v-list-item-icon 
                v-if="item.value == 'messages' && unread_notifications.length" 
                class="red--text font-weight-bold">
                ({{unread_notifications.length}})
              </v-list-item-icon>

              <v-list-item-icon 
                v-if="item.value == 'room_orders' && pending_orders.length" 
                class="red--text font-weight-bold">
                ({{pending_orders.length}})
              </v-list-item-icon>
            </v-list-item>
          </template>
          <v-list-item href="https://help.hotelsmart.com.ng" target="blank">
            <v-list-item-icon>
              <v-icon>mdi-help-circle</v-icon>
            </v-list-item-icon>
            <v-list-item-title>
              Help
            </v-list-item-title>
          </v-list-item>
        </v-list>
        <v-list dense>
          <v-list-item>
            <v-list-item-title>
              {{this_hotel.name}}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

      <v-app-bar color="#334355" flat dark dense clipped-left app fixed>
        <v-app-bar-nav-icon @click=" $vuetify.breakpoint.mdAndUp ? mini = !mini : drawer = !drawer"></v-app-bar-nav-icon>
        
        <span class="title ml-3 mr-5"><span class="text">Smart Hotelier</span></span>
        <v-spacer></v-spacer>

        <v-btn color="success" 
          to="/setup/activate"
          v-if="this_hotel.active_status != 'active'" 
          class="mr-4 hidden-xs-only">Go Live
        </v-btn>

        <div style="display: table" class="hidden-xs-only mr-2">
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn class="text-capitalize" small outlined dark v-on="on" text>
                {{ $helpers.truncateText(this_hotel.name) }}
                <v-icon color="white">$vuetify.icons.expand</v-icon>
              </v-btn>
            </template>
            
            <v-list dense>
              <v-list-item v-for="hotel in properties" :key="hotel.docId" @click="switchHotel(hotel)">
                <v-list-item-title>{{ hotel.name }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
        <template v-if="auth.loggedIn">

          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn text v-on="on">
                <v-avatar
                  size="30"
                  color="white"
                  
                >
                  <img :src="auth.user.photoURL" alt="alt" v-if="auth.user.photoURL">
                  <span v-else class="black--text text-capitalize">{{auth.user.displayName.charAt(0)}}</span>
                </v-avatar>
                <v-icon>$vuetify.icons.expand</v-icon>
              </v-btn>
            </template>

            <v-list dense>
              <v-list-item v-for="item in ['profile']" :key="item" :to="`/${item}`">
                <v-list-item-title class="text-capitalize">{{ item }}</v-list-item-title>
              </v-list-item>
              <v-list-item href="https://help.hotelsmart.com.ng" target="blank">
                <v-list-item-title class="text-capitalize">Help</v-list-item-title>
              </v-list-item>
              <v-list-item @click="$store.dispatch('logout')">
                <v-list-item-title class="text-capitalize">Logout</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          
        </template>
      </v-app-bar>

      <v-content>
        
        <router-view/>

      </v-content>
    </template>
  
  <v-snackbar
    top right :color="snackbar.color"
    v-model="snackbar.show"
  >
    {{snackbar.message}}
    <v-btn text dark  @click.native="snackbar.show = false">Close</v-btn>
  </v-snackbar>

  <!-- Send message dialog -->
  <v-dialog v-model="dialog" max-width="500" :persistent="sending">
    <v-card>
      <v-toolbar flat>
        <v-toolbar-title>Compose Message</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-select
          name="to"
          label="Select recepient"
          :items="checkedInGuests"
          item-text="customer_name"
          hide-details
          return-object
          v-model="form.to"
          class="mb-3"
        ></v-select>
        <v-text-field
          name="subject"
          label="Subject"
          hide-details
          v-model.trim="form.subject"
          class="mb-3"
        ></v-text-field>

        <v-textarea 
          v-model.trim="form.message" name="message" 
          hide-details label="Your message" 
          outlined class="mb-3">
        </v-textarea>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="info" text @click="dialog = false" :disabled="sending">Cancel</v-btn>
        <v-btn color="info" depressed :loading="sending" :disabled="disabledSend" @click="sendMessage">Send</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-overlay :value="overlay">
    <v-progress-circular indeterminate size="64"></v-progress-circular>
  </v-overlay>

  <input type="file" name="file" id="img_selector" style="visibility:hidden;position:absolute;" 
    @change="onFileSelect($event)" accept="image/jpeg,image/png" multiple>

  <input type="file" name="file" id="video_selector" style="visibility:hidden;position:absolute;" 
    @change="onFileSelect($event,true)" accept="video/mp4" multiple>
</div>
</template>

<script>
  export default {
    data: () => ({
      showUi: false,
      snackbar: {},
      hotel: '',
      drawer: null,
      mini: false,
      notification_dialog: false,
      items: [
        { icon: 'home', color: 'red', text: 'Home', link: '/' },
        // { divider: true },
        { heading: 'Room Operations' },
        { icon: 'hotel', color: 'success', text: 'Reservations', link: '/reservations' },
        { icon: 'earth', color: 'purple', text: 'Channel Manager ', link: '#', coming_soon: true},
        { icon: 'calendar', color: 'primary', text: 'Rates, availability & Inventory', link: '/rates-availability-inventory' },
        { divider: true },
        { heading: 'Guests' },
        { icon: 'bell', color: 'red lighten-1', text: 'Messages', value: 'messages', link: '/messages/inbox', },
        { icon: 'contacts', color: 'primary', text: 'Guest Management', link: '/guests-management' },
        { divider: true },
        { heading: 'Hotel Management' },
        { icon: 'room-service', color: 'primary',value: 'room_orders', text: 'Room Orders', link: '/orders' },
        { icon: 'looks', color: 'success', text: 'House Keeping', link: '/house-keeping', coming_soon: true, },
        { icon: 'swap-horizontal', color: 'teal', text: 'Shift Manager', link: '/shift-manager' },
        { icon: 'cart', color: 'red', text: 'Shop Manager', link: '/shop-manager' },
        { divider: true },
        { icon: 'finance', color: 'primary', text: 'Reports', link: '/reports' },
        // { icon: 'receipt', color: 'primary', text: 'Payments', link: '/payments' },
        { icon: 'settings', color: 'orange lighten-2', text: 'Hotel Settings', link: '/setup' },
        // { icon: 'help', text: 'Help', link: '/' },
      ],
      live_mode: false,
      dialog: false,
      form: {
        subject: '',
        message: '',
        to: {}
      },
      overlay: false,
      sending: false
    }),
    watch: {
      'this_hotel': function(to,from){
        this.form = {
          message: '',
          subject: '',
          to: {}
        }

        if(from.docId != to.docId){

          this.retrieveGuests()
          this.getUnreadMessages()
          this.getPendingOrders()
          this.getSettings()
        }
        // console.log(from.docId, to.docId, from.docId == to.docId)
        if(from.docId && from.docId != to.docId){
          this.overlay = true;
          setTimeout(() => {
            
            this.overlay = false

            this.$eventBus.$emit('Snackbar', {
              message: `Switched to ${this.this_hotel.name}`,
              show: true,
              color: 'success'
            })
  
          }, 2000)

        }

      }
    },
    computed: {
      ...mapGetters([
        
      ]),
      ...mapState([
        'auth',
        'this_hotel',
        'properties',
        'checkedInGuests',
        'unread_notifications',
        'pending_orders',
      ]),
      disabledSend(){
        return !this.form.message || !this.form.to.userId || 
        !this.form.subject
      }
    },
    methods: {
      initialize(){
        // get current hotel information
        
        this.$db.collection('hotels')
        .where('roles.owners', 'array-contains', this.auth.user.uid)
        .onSnapshot(docs => {
          let hotels = []
          docs.forEach(doc => {
            if(doc.exists){
              // console.log(doc.data())
              hotels.push(doc.data())
            }
          })
          if(hotels.length > 0){

            this.$store.dispatch('setHotels', hotels)
          this.showUi = true
          }
          else {
            this.$store.commit('logout')
          }
          // this.retrieveGuests()
          
        })
      },
      switchHotel(hotel){
        this.$store.dispatch('switchHotel', hotel)
        this.$route.name != 'home' ? this.$router.push('/') : ''
      },
      onFileSelect(e, allow_video=false){
        // handle file selecting for all components
        let two_mb = 2000000
        let ten_mb = 13000000
        let blob_urls = []
        // Allow only images
        let stop = true
        let file_sizes = 0
        for(let file of e.target.files){
          if(allow_video) {
            if(file.type == 'video/mp4' || file.type == 'video/m4v'){
                stop = false
              
            }
            else{
              stop = true
              break
            }
          }
          else {
            if(file.type == 'image/jpeg' || 
              file.type == 'image/jpg' || file.type == 'image/png'){
                stop = false
              
            }
            else{
              stop = true
              break
            }
          }
          
          file_sizes += file.size
        }

        if(!stop){
            
          // limit file upload to 1mb
          // console.log(allow_video)
          if((allow_video && file_sizes < ten_mb) || (!allow_video && file_sizes < two_mb)){
            
            for(let file of e.target.files){
              // console.log(file)
              blob_urls.push(URL.createObjectURL(file))
            }

            this.$eventBus.$emit('Selected_Files', {
              imgSrc: blob_urls,
              selected_files: e.target.files
            })
            
          }
          else{
            this.snackbar = {
              show: true,
              message: 'Please select an image that is less than 2mb',
              color: 'error'
            }
          }
        }
        else{
          e.target.value = ''
          this.snackbar = {
            show: true,
            message: 'Only images are allowed!',
            color: 'error'
          }
        }
      },
      async sendMessage(){
        // send a message
        
        if(this.form.to && this.form.to.userId){
          
          this.sending = true
          let docRef = this.$db.collection('notifications').doc()
          await docRef.set({
            docId: docRef.id,
            to: {
              name: this.form.to.customer_name,
              uid: this.form.to.userId
            },
            from: {
              name: this.this_hotel.name,
              uid: this.this_hotel.docId,
            },
            read: false,
            date_created: this.$firebase.firestore.FieldValue.serverTimestamp(),
            data: {
              message: this.form.message,
              subject: this.form.subject
            },
            type: 'message'
          })
  
          this.sending = false
          this.$eventBus.$emit('Snackbar', {
            show: true,
            message: 'Message sent',
            color: 'success'
          })
          this.form = {
            message: '',
            subject: '',
            to: {}
          }
          this.dialog = false
        }

      },
      async retrieveGuests(){
        // get checked-in guests
        return this.$db.collection('bookings')
        .where('hotelId', '==',this.this_hotel.docId)
        .where('status', '==', 'checked_in')
        .onSnapshot(docs => {
          let arr = []
          let userIds = []
          docs.forEach(doc => {
            // get unique guests
            if(userIds.indexOf(doc.data().userId) == -1){
              userIds.push(doc.data().userId)
              arr.push(doc.data())
            }
          })
          
          this.$store.dispatch('checkedInGuests', arr)
          return arr
        })
      },
      getUnreadMessages(){
        let ref = this.$db.collection('notifications')
        .where('to.uid', '==', this.this_hotel.docId)
        .where('read', '==', false)

        ref.onSnapshot(docs => {

          let arr = []
          docs.forEach(doc => {
            arr.push(doc.data())
          })
  
          this.$store.dispatch('setUnreadNotifications', arr)
        })

      },
      getPendingOrders(){
        let ref = this.$db.collection('orders')
        .where('hotelId', '==', this.this_hotel.docId)
        .where('status', '==', 'pending')

        ref.onSnapshot(docs => {
          let arr = []
          docs.forEach(doc => {
            arr.push(doc.data())
          })

          this.$store.dispatch('setPendingOrders', arr)
        })
      },
      async getSettings(){
        let settingsRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
          .collection('settings')
          .onSnapshot(docs => {
            let arr = []
            docs.forEach(doc => {
              arr.push(doc.data())
            })

            this.$store.dispatch('setHotelSettings', arr)
          })
      },
      triggerChatWidget () {
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5d8222859f6b7a4457e250cb/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
      }
    },
    components: {
      LoadingBar
    },
    mounted(){
      this.$firebase.auth().onAuthStateChanged( async user =>{
        if(user){

          let doc = await this.$db.collection('users').doc(user.uid).get()
          // console.log(doc)

          if (doc.exists) {

            let is_hotelier = doc.data().is_hotelier
  
            if(is_hotelier){
  
              this.$store.dispatch('setUser', user)
              // console.log(user)
              this.initialize()

              this.triggerChatWidget()
            }
            else {
              this.$store.dispatch('logout', true)
            }
          } else {
            this.$store.dispatch('logout', true)
          }
              
        }
      })

      this.$eventBus.$on('Snackbar', data => {
        this.snackbar = data
      })
      this.$eventBus.$on('Send_Message', data => {
        this.dialog = true
      })

      this.$eventBus.$on('Re_Initialize', data => {
        this.initialize()
      })

      if(this.$route.query.new){
        this.$router.push('/setup/?new=true')
      }
    },
  }

  // window.appUpdateAvailable = true
  import { mapState, mapGetters } from 'vuex'
  import LoadingBar from '@/spinners/LoadingBar'
</script>
<style lang="scss">
  @mixin borderTopRadius($radius) {
    border-top-right-radius: $radius;
    -webkit-border-top-right-radius:$radius;
    -moz-border-top-right-radius:$radius;
    -o-border--top-right-radius:$radius;
    border-top-left-radius: $radius;
    -webkit-border-top-left-radius:$radius;
    -moz-border-top-left-radius:$radius;
    -o-border--top-left-radius:$radius;
  }
  .round_top{
    @include borderTopRadius(10px);
  }

  body{
    font-size: 14px;
  }
  .navigation-drawer__border {
    display: none;
  }

  // .text {
  //   font-weight: 400;
  // }

  .linkify {
    cursor: pointer;
  }
  .fade-enter-active, .fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  
  // .list-active {
  //   background: #1976D2;
  //   color: #fff;
  // }
</style>
