<template>
  <div>

    <v-snackbar
      v-model="snackbar.show"
      :color="snackbar.color"
      top
      right
    >
      {{snackbar.message}}
      <v-btn text color="white" @click.native="snackbar.show = false">Close</v-btn>
    </v-snackbar>

    <v-container fluid fill-height class="bgd-color fill">
      <v-row justify="center" align="center">
        <v-col cols="12" sm="8" md="4">
          <v-img :src="require('@/assets/logo.png')" height="80" width="80" class="d-block mx-auto"></v-img>
          <h1 class="text-center white--text">Smart Hotelier</h1>

          <v-alert :type="alert.type || 'info'" :value="alert.show">
            {{alert.message}}
          </v-alert>

          <v-card class="mt-5 pt-5 round_top" height="300">

            <firebase-ui/>

          </v-card>

        </v-col>
      </v-row>
    </v-container>

  </div>
</template>
<script>
export default {
  data(){
    return {
      email: '',
      password: '',
      snackbar: {},
      loading: false,
      reset_email: '',
      alert: {show: false},
      dialog: false,
    }
  },
  computed: {

  },
  methods: {
    async login(){
      try {
        this.loading = true
        let msg = await this.$store
        .dispatch('login', {
          email: this.email, password: this.password
        })
        
        this.loading = false
        // this.snackbar = {
        //   show: true,
        //   message: msg.message,
        //   color:'purple'
        // }
        
      } catch (error) {
        // console.log(error)
        this.loading = false

        this.snackbar = {
          show: true,
          message: error.message,
          color:'black'
        }
      }
    },
    sendResetLink(){
      
      if(this.reset_email){

        this.loading = true

        var auth = this.$firebase.auth();
        var emailAddress = this.reset_email
  
        auth.sendPasswordResetEmail(emailAddress).then(() => {
          this.alert = {
            show: true,
            message: 'Check your email for the password reset link we sent you',
            type: 'info'
          }
  
          this.loading = false
          this.dialog = false
          // Email sent.
        }).catch((error) => {
          // An error happened.
          // console.log(error)

          this.snackbar = {
            show: true,
            message: error.message,
            color: 'error'
          }
          this.loading = false
        });
      }
    }
  },
  components: {
    FirebaseUi
  }
}

import FirebaseUi from '@/components/FirebaseUi'
require('firebaseui/dist/firebaseui.css')
</script>

<style>

  .fill {
    height: 100vh;
  }
  .bgd-color { 
    background-color: #334355;
  }
</style>
