<template>
  <div>
    <div id="firebaseui-auth-container"></div>
  </div>
</template>

<script>
export default {
  data: () => ({
    ui: '',
  }),
  methods: {
    createUserData(user){
			
      db.collection('users').doc(user.uid).set({

        uid: user.uid,
        fname: user.displayName.split(' ')[0],
        lname: user.displayName.split(' ')[1],
        email: user.email,
        photoURL: user.photoURL || false

      }).then(done=>{

        this.$eventBus.$emit('Snackbar', {
          show: true,
          color: 'purple',
          message: 'Account created successfully'
        })
        
        
        // send email verification message
        if(!user.emailVerified){

          this.sendVerificationLInk().then((sent)=>{
  
            this.$eventBus.$emit('CloseLoginDialog', false)
  
          }).catch(function(error) {
            // An error happened.
            this.loading = false
            console.log(error)
          })
        }
        
      }).catch(err => console.log(err))
			
    },
    sendVerificationLInk(){
      
      return new Promise((resolve, reject)=>{
        firebase.auth().currentUser.sendEmailVerification().then(done=>{
          resolve(done)
          
        }).catch(err => reject(err))
        
        resolve(true)
      })
    },
  },
  mounted(){
    
    let firebaseui = require('firebaseui')
    const ui = firebaseui.auth.AuthUI.getInstance() || new firebaseui.auth.AuthUI(firebase.auth())
    // this.ui = ui
    let _this = this;
    
    let uiConfig = {
      callbacks: {
        signInSuccessWithAuthResult: function(authResult, redirectUrl) {
          // User successfully signed in.
          // console.log({authResult})

          let user = authResult.user;
          let isNewUser = authResult.additionalUserInfo.isNewUser;

          if(isNewUser){
            this.createUserData(user)
            // ui.delete()
          }
          else {
            
            // ui.reset()
            _this.$router.replace('/')
            return false
          }
          
        },
        uiShown: function() {
          // The widget is rendered.
          // Hide the loader.
          // console.log('UI shown')
        }
      },
      // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
      signInFlow: 'popup',
      signInSuccessUrl: '/',
      credentialHelper: firebaseui.auth.CredentialHelper.NONE,
      signInOptions: [
        {
          provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          scopes: [
            'https://www.googleapis.com/auth/contacts.readonly'
          ],
          customParameters: {
            // Forces account selection even when one account
            // is available.
            // prompt: 'select_account'
          }
        },
        {
          provider: firebase.auth.FacebookAuthProvider.PROVIDER_ID,
          scopes: [
            'public_profile',
            'email',
          ],
          customParameters: {
            // Forces password re-entry.
            // auth_type: 'reauthenticate'
          }
        },
        {
          provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
          // Whether the display name should be displayed in the Sign Up page.
          requireDisplayName: true
        },
      ],
      // Terms of service url.
      tosUrl: 'https://hotelsmart.com.ng/terms-of-use',
      // Privacy policy url.
      privacyPolicyUrl: 'https://hotelsmart.com.ng/privacy-policy'
    }

    ui.start('#firebaseui-auth-container', uiConfig);
    
  },
  beforeDestroy(){
    // this.ui ? this.ui.reset() : ''
  },
  beforeMount(){
    // this.ui ? this.ui.reset() : ''
  }
}

import { firebase, db } from "@/plugins/firebase";
</script>

<style>

</style>