<template>
  <div>

    <t-navigation :breadcrumbs_items="items">
      <template v-slot:left>
        <div class="font-weight-bold"> Today</div>
      </template>
    </t-navigation>
    <v-container grid-list-xl>
      <!-- <v-subheader class="font-weight-bold">Today</v-subheader> -->
      <v-row justify-center>
        <v-col v-for="overview in overview" :key="overview.text">
          <v-card outlined flat height="">
            <v-list class="pt-4">
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title class="font-weight-bold" v-html="overview.value">
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-avatar >
                  <v-icon :color="overview.color" large>{{overview.icon}}</v-icon>
                </v-list-item-avatar>
              </v-list-item>
            </v-list>
            <v-subheader>{{overview.value2}} {{overview.text}}</v-subheader>
          </v-card>
        </v-col>
      </v-row>
      <v-row row wrap>
        
        <v-col cols="12">
          <hs-calendar ></hs-calendar>
        </v-col>

        <v-col cols="12" sm="5" class="d-flex">
          <v-card flat outlined width="100%">
            <v-toolbar flat color="primary" dark>
              <v-tabs
                v-model="tabValue"
                color="primary"
                dark background-color="primary"
                slider-color="white"
              >
                <v-tab href="#tab-1">
                  Messages
                </v-tab>
                <v-tab href="#tab-2">
                  Orders
                </v-tab>
              </v-tabs>
            </v-toolbar>

            <v-tabs-items v-model="tabValue">
              
              <v-tab-item value="tab-1">
                
                <v-card flat min-width="300">
                  <v-card-text>
                    
                    <v-list two-line>
                      <v-subheader>Recent Messages</v-subheader>
                      <v-subheader v-if="messages.length == 0">No Messages</v-subheader>
                      <template v-for="(item, index) in messages">
                        <v-subheader
                          v-if="item.header"
                          :key="item.header"
                        >
                          {{ item.header }}
                        </v-subheader>

                        <v-divider
                          v-else-if="item.divider"
                          :key="index"
                          :inset="item.inset"
                        ></v-divider>

                        <v-list-item
                          v-else
                          :key="item.title"
                          @click="$router.push(`/messages/open/${item.docId}`)"
                        >
                          <v-list-item-avatar color="grey lighten-1">
                            <img :src="item.avatar" v-if="item.avatar">
                            <span v-else class="white--text">{{item.from ? item.from.name.charAt(0) : ''}}</span>
                          </v-list-item-avatar>

                          <v-list-item-content :class="{'font-weight-bold': item.read == false}">
                            <v-list-item-title v-html="item.title"></v-list-item-title>
                            <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </template>
                    </v-list>
                  </v-card-text>
                  <v-card-actions>
                    <v-btn text small v-if="messages.length > 0" color="primary" to="/messages/inbox" class="text-capitalize">See all</v-btn>
                  </v-card-actions>
                </v-card>
              </v-tab-item>
              <v-tab-item value="tab-2">
                <v-card flat>
                  <v-card-actions>
                    <v-subheader class="">Recent Orders</v-subheader>
                    <v-spacer></v-spacer>
                    <v-btn text small v-if="orders.length > 0" color="primary" @click="$router.push('/orders')">See All</v-btn>
                  </v-card-actions>
                  <v-card-text>
                    <v-data-table
                      :headers="headers_orders"
                      :items="orders"
                      class="elevation-1">
                      <template v-slot:items="props">
                        <td>{{ props.item.name }}</td>
                        <td class="text-xs-left">{{ props.item.message }}</td>
                        <!-- <td class="text-xs-left">{{ props.item.order_type }}</td> -->
                        <td class="text-xs-left text-capitalize" 
                          :class="[props.item.status == 'pending' ? 'orange--text' : 'success--text']">
                          {{ props.item.status }}
                        </td>
                        <!-- <td class="text-xs-left">{{ props.item.date_created }}</td> -->
                      </template>
                      <template v-slot:no-data>
                        <div class="text-xs-center">No recent orders</div>
                      </template>
                    </v-data-table>
                    
                  </v-card-text>
                </v-card>
              </v-tab-item>
            </v-tabs-items>

          </v-card>
        </v-col>

        <v-col cols="12" sm="7" class="d-flex">
          <v-card flat outlined>
            <v-toolbar color="primary" flat dark>
              <v-toolbar-title> New Arrivals</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn color="info" @click="$router.push('/reservations?new=true')">Add Reservation</v-btn>
            </v-toolbar>
            <v-card-text>
              <v-row>
                <v-col cols="12">
                  <v-data-table
                    :headers="headers"
                    :items="bookings"
                    class="elevation" :loading="loading"
                    item-key="docId" :no-data-text="loading ? 'Loading...' : 'No reservations'"
                  >
                    <template v-slot:items="props" >
                      <tr @click="'props.expanded = !props.expanded'">
                        <td>{{ props.item.name }}</td>
                        <td class="text-xs-left">{{ props.item.room_type }}</td>
                        <td class="text-xs-left">{{ props.item.checkin }}</td>
                        <td class="text-xs-left">{{ props.item.checkout }}</td>
                        <!-- <td class="text-xs-left">{{ props.item.amount }}</td> -->
                        <!-- <td class="text-xs-left">{{ props.item.rooms }}</td> -->
                      </tr>
                    </template>
                    <template v-slot:expand="props">
                      <v-card flat class="grey lighten-4">
                        <v-card-text>
                          <!-- {{props}} -->
                          <div>
                            Other booking details
                          </div>
                        </v-card-text>
                      </v-card>
                    </template>
                  </v-data-table>
                </v-col>
                <v-col cols="12">
                  <v-card-actions>
                    
                    <v-spacer></v-spacer>
                    <v-btn text small v-if="bookings.length > 0" color="primary" @click="$router.push('/reservations')">See All</v-btn>
                  </v-card-actions>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  data: () => ({
    items: [
      {
        text: 'Front Desk',
        disabled: true,
        to: '/'
      }
    ],
    formatted_msgs: [],
    messages: [],
    tabValue: 'tab-1',
    headers: [
      {
        text: 'Guests',
        align: 'left',
        sortable: false,
        value: 'name'
      },
      { text: 'Room type', value: 'room_type' },
      { text: 'Arrival', value: 'checkin' },
      { text: 'Departure', value: 'checkout' },
      // { text: 'Amount', value: 'amount' },
      // { text: 'Rooms', value: 'rooms' }
    ],
    headers_orders: [
      {
        text: 'From',
        align: 'left',
        value: 'name'
      },
      { text: 'Message', value: 'message' },
      // { text: 'Type', value: 'order_type' },
      { text: 'Status', value: 'status' },
      // { text: 'Time', value: 'date_created' }
    ],
    orders: [],
    today: new Date(),
    yesterday: new Date(d.setDate(d.getDate() - 1)),
    loading: true,
    expand: true,
    bookings: [],
    shopPurchases: [],
  }),
  computed: {
    overview(){
      return [
        {
          icon: 'mdi-bank', 
          text: 'Total Revenue', 
          value: `${this.$nairaSign} ${this.total_revenue.toLocaleString() || 0}`,
          color: 'success'
        },
        {
          icon: 'mdi-hotel', 
          text: 'Bookings', 
          value: `${this.$nairaSign} ${this.bookings_revenue.toLocaleString() || 0}`,
          value2: `${this.no_of_bookings.toLocaleString() || 0}`,
          color: 'purple'
        },
        {
          icon: 'mdi-account-group',  
          text: 'Checked in Guests',
          value: this.checkedInGuests.length || 0,
          color: 'cyan'
        },
        {
          icon: 'mdi-cart', 
          text: 'Purchases', 
          value: `${this.$nairaSign} ${this.shop_revenue.toLocaleString() || 0}`, 
          value2: `${this.shopPurchases.length.toLocaleString() || 0}`, 
          color: 'primary'
        },
        // {
        //   icon: 'rooms', 
        //   text: 'Occupancy', 
        //   value: `${this.occupancy}`, 
        //   color: 'orange'
        // }
      ]
    },
    occupancy(){
      if(this.this_hotel.rooms){
        let left = 0
        let qty = 0
        this.this_hotel.rooms.forEach(room => {
          
          left += room.left != 'undefined' ? room.left : room.qty;
          qty += room.qty
        })
        

        return ((qty-left)/qty* 100).toFixed(1) + ' %'
      }
      else {
        return '0%'
      }
    },
    bookings_revenue(){
      return this.bookings
        .filter(item => item.status != 'cancelled')
        .reduce((prev, curr) => curr.total_price + prev, 0)
    },
    shop_revenue(){
      return this.shopPurchases
      .reduce((prev, curr) => curr.amount + prev, 0)
    },
    total_revenue(){
      return this.bookings_revenue + this.shop_revenue
    },
    no_of_bookings(){
      return this.bookings.length
    },
    cancellations(){
      return this.bookings.filter(item => item.status == 'cancelled')
        .length
    },
    ...mapState([
      'auth',
      'this_hotel',
      'checkedInGuests'
    ])
  },
  methods: {
    initialize(){
      // console.log(this.yesterday)
      this.loading = true
      this.$db.collection('bookings')
      .where('hotelId', '==',this.this_hotel.docId)
      .where('paid', '==', true)
      .where('date_created', '>=', this.yesterday)
      .where('date_created', '<=', this.today)
      .orderBy('date_created', 'desc')
      // .limit(6)
      .get().then(docs =>{

        this.bookings = []
        docs.forEach(doc =>{
          let book = doc.data()
          let room_types = Object.keys(book.rooms)
          let rooms = []
          room_types.forEach(room_type => {
            rooms.push({
              [room_type]: book.rooms[room_type].qty
            })
          })
          this.bookings.push({
            ...book,
            name: book.booking_for.customer_name,
            checkin: book.checkin,
            checkout: book.checkout,
            amount: book.total_price,
            room_type: rooms.map(item => {
              return `${Object.values(item)[0]} ${Object.keys(item)[0]}`
            }).join(', '),
            docId: book.docId
          })
          
        })
        this.loading = false
      })

      this.getOrders()
      this.getShopPurchases()
      this.getMessages()

    },
    async getOrders(){
      // retreive orders from db
      this.$db.collection('orders').where('hotelId', '==', this.this_hotel.docId)
      .orderBy('date_created', 'desc')
      .limit(5)
      .onSnapshot(docs => {
        let arr = []
        docs.forEach(doc => {
          arr.push(doc.data())
        })
        
        this.orders = arr
        .map(order => {
          return {
            ...order,
            message: order.request.message,
            name: order.requester.name,
            uid: order.requester.uid,
            order_type: order.order_type.split('_').join(' '),
            date_created: this.$helpers.parseDate(order.date_created.toMillis())
          }
        })
      })
    },
    async getMessages(){
      // get the most recent messages
      let docs = await this.$db.collection('notifications')
      .where('to.uid', '==', this.this_hotel.docId)
      .orderBy('date_created', 'desc')
      .limit(5).get()

      let arr = []
      docs.forEach(doc => {
        arr.push(doc.data())
      })

      let formatted = []
      arr.forEach(m => {
        formatted.push({
          from: m.from,
          docId: m.docId,
          avatar: m.imgSrc,
          title: m.data.subject,
          read: m.read,
          subtitle: `<span class='text--primary'>from ${m.from.name}</span> &mdash; ${this.$helpers.truncateText(m.data.message)}`
        })
        
        formatted.push({
          divider: true,
          inset: true
        })
      })
      this.messages = formatted
      return arr

    },
    async getShopPurchases(){
      // get shop purchases btw startDate and endDate
      let docs = await this.$db.collection('storePurchase')
      .where('hotelRef', '==', this.this_hotel.docId)
      .where('date_created', '>=', new Date(this.yesterday))
      .where('date_created', '<=', new Date(this.today))
      .get()
      
      let arr = []
      docs.forEach(doc => {
        arr.push(doc.data())
      })
      this.shopPurchases = arr
      return arr
    },
  },
  mounted(){
    this.initialize()
  },
  components: {
    'hs-calendar': Calendar
  }
}

let d = new Date()
import { mapState } from 'vuex'
import Calendar from '@/components/rates-availability-inventory/calendar'
</script>
<style lang="scss" >
  .round {
    border-radius: 10px !important;
  }
  .outline {
    border: 1px solid rgb(221, 219, 219) !important;
  }
</style>
