<template>
  <div>
    <t-navigation :breadcrumbs_items="breadcrumbs_items">
    </t-navigation>

    <v-container grid-list-xs>
      <v-row>
        <v-col>
          <v-card tile outlined>
            <v-card-text>
              
              <v-list two-line subheader>
                <v-subheader>Allowed Payment methods</v-subheader>
                
              </v-list>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn depressed color="primary" @click="''" :loading="saving">Save</v-btn>
            </v-card-actions>

            <div style="flex: 1 1 auto;"></div>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data: () => ({
    breadcrumbs_items: [
      {
        text: 'Dashboard',
        disabled: false,
        to: '/'
      },
      {
        text: 'Payments',
        disabled: true,
        to: '/payments'
      }
    ],
    saving: false,
    
  }),
  watch: {
    
  },
  computed: {
    ...mapState([
      'auth',
      'this_hotel',
    ]),
    ...mapGetters([
      
    ]),
  },
  methods: {
    
  },
  mounted(){
    // Object.assign(this.settings, this.reservation_settings)
  }
}
import { mapState, mapGetters } from 'vuex'
</script>

<style>

</style>