<template>
  <div>
    <t-navigation :breadcrumbs_items="items">
      <template v-slot:right></template>
    </t-navigation>

    <v-container>
      <v-row justify='center'>
        <v-col  cols="12" sm="10" md="8">
          <v-subheader class="pl-1 font-weight-bold">Edit Your Profile</v-subheader>
          <v-row row wrap>
            <v-col cols="12" sm="2">
              <v-select 
                label="Title" 
                name="title" hide-details
                :items="['mr','mrs']" 
                v-model="form.title" 
                outlined>
              </v-select>
            </v-col>
            <v-col cols="8">
              <v-text-field 
                label="First Name" 
                name="first name" 
                v-model="form.fname"
                outlined hide-details
                :placeholder="auth.user.displayName.split(' ')[0]">
              </v-text-field>
            </v-col>
            <v-col cols="12" sm="10">
              <v-text-field 
                label="Last Name" 
                name="last name" 
                v-model="form.lname"	
                outlined hide-details
                :placeholder="auth.user.displayName.split(' ')[1]"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-col>
        
        <v-col cols="12" sm="10" md="8" pt-0>
          <v-row row wrap>
            <!-- <v-col cols="12" sm="10">
              <v-text-field 
                label="Address" 
                name="address" hide-details
                v-model="form.address" 
                outlined >
              </v-text-field>
            </v-col> -->
            <v-col cols="12">
              <v-btn 
                color="success" 
                class="ml-0 font-weight-light" 
                @click="submit" 
                :disabled="disabled"
                :loading="updating"
              >
              Save Changes</v-btn>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="10" md="8" pt-0>
          <v-subheader class="font-weight-bold pl-0">Update Email address</v-subheader>
          <v-row>
            <v-col cols="12" sm="6">
              <v-text-field 
                label="Your email" 
                v-model="form.email" hide-details
                name="email" required
                :placeholder="auth.user.email"	
                dense>
              </v-text-field>
            </v-col>
            <v-col cols="12" sm="4">
              <v-btn color="info" depressed small :loading="saving1" @click="updateEmail">Save</v-btn>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" sm="10" md="8" pt-0>
          <v-subheader class="font-weight-bold pl-0">Change Password</v-subheader>
          <v-row>
            <v-col cols="12" sm="6">
              <p>We will send you an email with a link to reset your password</p>
            </v-col>
            <v-col cols="12" sm="4">
              <v-btn 
                color="info" depressed 
                small :disabled="saving1"
                :loading="saving2" @click="changePassword">
                Reset
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
	data(){
		return {
      items: [
        {
          text: 'Dashboard',
          disabled: false,
          to: '/'
        },
        {
          text: 'Profile',
          disabled: true,
          to: '/profile'
        }
      ],
			form: {
				fname: '',
				lname: '',
				title: '',
				address: '',
				email: '',
        password: ''
      },
      rules: {
        required: value => !!value || 'Required.',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) && this.new_phone || 'Invalid e-mail.'
        },
      },
			showUi: false,
			snackbar: {},
			updating: false,
      saving1: false,
      saving2: false
		}
  },
  watch: {
    'auth': function(){
      this.auth.loggedIn ? this.setUserDetails() : ''
    }
  },
	computed:{
		...mapState([
			'auth',
		]),
		...mapGetters([

		]),
		disabled(){
			return !this.form.fname ||
				!this.form.lname || 
				!this.form.title || 
				!this.form.address ||
        !this.form.phone 
        // ||
				// !this.form.display_name
		}
	},
	methods: {
    setUserDetails(){
      this.$db.collection('users').doc(this.auth.user.uid)
      .get().then(doc => {
        this.form = doc.data()
      })
    },
		submit(){
			this.updating = true
			this.$firebase.auth().currentUser.updateProfile({
				displayName: this.form.fname + ' ' + this.form.lname
			}).then(()=>{

				this.$db.collection('users').doc(this.auth.user.uid)
				.update({
					fname: this.form.fname,
					lname: this.form.lname,
					title: this.form.title,
					address: this.form.address,
					phone: this.form.phone,
					// display_name: this.form.display_name
				}).then((d)=>{
					// console.log({d})
					this.updating = false
					this.$eventBus.$emit('Snackbar', {
						show: true,
						color: 'success',
						message: 'Profile updated successfully'
					})

					this.$firebase.auth().onAuthStateChanged(user =>{
						if (user) {
							// console.log(user)
							this.$store.dispatch('setUser', user)
							
						} else {
							// No user is signed in.
						}
					})

					// this.$store.dispatch('setUser',{
					// 	...this.form
					// })
				}).catch(err =>{
					// console.log(err)
					this.$eventBus.$emit('Snackbar', {
						show: true,
						color: 'error',
						message: 'An error occurred'
					})
				})

			}).catch(err =>{
				// console.log(err)
				this.$eventBus.$emit('Snackbar', {
					show: true,
					color: 'error',
					message: 'An error occurred. Try again'
				})
			})

    },
    updateEmail () {
      this.saving1 = true
      var user = this.$firebase.auth().currentUser;

      user.updateEmail(this.form.email).then(() =>{
        // Update successful.
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Email updated',
          color: 'success'
        })
        this.saving1 = false

      }).catch((error) =>{
        
        this.saving1 = false

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: error.message || 'Something went wrong. Try again.',
          color: 'error'
        })
      });
    },
    changePassword (){
      this.saving2 = true

      var auth = this.$firebase.auth()
      var emailAddress = this.auth.user.email

      auth.sendPasswordResetEmail(emailAddress).then(() => {
        // Email sent.
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Password reset email sent',
          color: 'success'
        })
        this.saving2 = false
      }).catch( error => {
        this.saving2 = false

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: error.message || 'Something went wrong. Try again.',
          color: 'error'
        })
      });
    }
  },
  mounted(){
    this.auth.loggedIn ? this.setUserDetails() : ''
  }
}
import {mapState, mapGetters} from 'vuex'
</script>
