<template>
  <div>

    <t-navigation :breadcrumbs_items="items">
      <template v-slot:right2>
        <v-menu
          ref="menu1"
          :close-on-content-click="false"
          v-model="menu1" class="d-inline-block"
          transition="scale-transition"
          offset-y
          :nudge-right="40" min-width="290px"
          :return-value.sync="startDate">
          <template v-slot:activator="{on}">
            <v-text-field
              label="Start Date" class="mt-6 mr-4"
              v-model="startDate" v-on="on"
              append-icon="mdi-calendar" dense
              readonly hide-details outlined
            ></v-text-field>
          </template>
            <v-date-picker v-model="startDate" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu1 = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.menu1.save(startDate)">OK</v-btn>
            </v-date-picker>
        </v-menu>
      </template>
      <template v-slot:right>
        <v-menu
          ref="menu2"
          :close-on-content-click="false"
          v-model="menu2" class="d-inline-block"
          transition="scale-transition"
          offset-y
          :nudge-right="40" min-width="290px"
          :return-value.sync="endDate" >
          <template v-slot:activator="{on}">
            <v-text-field
              label="End Date" v-on="on"
              v-model="endDate" class="mt-6"
              append-icon="mdi-calendar" dense
              readonly hide-details outlined
            ></v-text-field>
          </template>
            <v-date-picker v-model="endDate" no-title scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menu2 = false">Cancel</v-btn>
              <v-btn text color="primary" @click="$refs.menu2.save(endDate)">OK</v-btn>
            </v-date-picker>
        </v-menu>

      </template>
    </t-navigation>

    <v-alert type="warning" :value="!this_hotel.rooms" class="mt-3 mx-6">
      You don't have any rooms in your property yet. 
      <router-link to="/rates-availability-inventory/rooms"> Click here</router-link> 
      to update your inventory
    </v-alert>

    <v-container grid-list-xl v-if="showUi">
      <v-row>
        <v-col v-for="item in overview" :key="item.text">
          <v-card flat class="outline">
            <v-card-title primary-title>
              {{item.text}}
            </v-card-title>
            <v-card-actions>
              <v-btn icon :color="item.color + ' lighten-4'" class="text-capitalize" dark>
                <v-icon :color="item.color">mdi-{{item.icon}}</v-icon>
              </v-btn>
              <v-spacer></v-spacer>
              
                <div :class="[item.color + '--text lighten-4']" v-html="item.value"></div>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="9">
          <v-card flat class="outline">
            <bar-chart :chart-data="chartdata['bookings']" :options="options1"/>
            
          </v-card>
        </v-col>
        <v-col cols="12" sm="3" class="">
          <v-card class="outline" flat>
            <v-subheader>Booking Channels</v-subheader>
            <v-row row wrap>
              <v-col cols="12" py-0>
                <v-card flat>
                  <p class="pl-4 mb-2 mt-4 title grey--text">{{front_desk_bookings.frequency}}</p>
                  <v-card-actions class="px-4 py-0 my-0">
                    <small>Front Desk</small>
                    <v-spacer></v-spacer>
                    {{front_desk_bookings.percentage}} %
                  </v-card-actions>
                  <div class="px-4">
                    <v-progress-linear :value="front_desk_bookings.percentage" 
                      height="5" class="my-0 mt-2" color="round purple">
                    </v-progress-linear>
                  </div>
                </v-card>
              </v-col>
              <v-col cols="12">
                <v-card flat>
                  <p class="pl-4 mb-2 mt-4 title grey--text">{{online_bookings.frequency}}</p>
                  <v-card-actions class="px-4 py-0 my-0">
                    <small>Online</small>
                    <v-spacer></v-spacer>
                    {{online_bookings.percentage}} %
                  </v-card-actions>
                  <div class="px-4">
                    <v-progress-linear :value="online_bookings.percentage" 
                      height="5" class="round my-0 mt-2" color="green">
                    </v-progress-linear>
                  </div>
                </v-card>
              </v-col>
            </v-row>

            <v-divider ></v-divider>
            <v-row justify-center mt-4>
              <v-col cols shrink class="text-center">
                <div>
                  <v-progress-circular size="70" color="primary" :value="100">
                    {{numberOfRooms}}
                  </v-progress-circular>
                  <div class="mt-2">Total Rooms</div>

                </div>
              </v-col>
              <v-col shrink class="text-center">
                <div>
                  <v-progress-circular size="70" color="primary" :value="100">
                    {{roomCategories}}
                  </v-progress-circular>
                  <div class="mt-2">Categories</div>

                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      
      <v-row>
        <v-col>
          <v-card outlined>
            <v-card-actions>
              <v-subheader>Key Performance Indicators (KPIs)</v-subheader>
              <v-spacer></v-spacer>
              <v-btn color="success" v-if="loading_kpis" small text :loading="loading_kpis">loading</v-btn>
              <v-btn text small color="primary" class="text-capitalize" @click="toggleChartType">{{chart_type}}</v-btn>
            </v-card-actions>
            <bar-chart :chart-data="chartdata2" :options="kpi_options"/>
            
          </v-card>
        </v-col>
      </v-row>

      <v-row align-content="stretch">
        <v-col cols="12" sm="5">
          <v-card outlined style="">
            <v-toolbar color="grey lighten-3" dense flat>
              Shop Stats
            </v-toolbar>
            <v-subheader>Top performing items</v-subheader>
            <v-list two-line dense>
              <template v-for="(item) in shopItems.slice(0,4)">
                <v-list-item :key="item.title" @click="''">
                  <v-list-item-avatar>
                    <img :src="item.imgSrc">
                  </v-list-item-avatar>
                  <v-list-item-content>
                    <v-list-item-title>{{item.name}}</v-list-item-title>
                    <v-list-item-subtitle>in <span class="font-weight-bold">{{item.category}}</span></v-list-item-subtitle>
                  </v-list-item-content>
                    <v-list-item-action>
                      <span>{{item.purchase_freq || 0}}</span>
                      <small>sales</small>
                    </v-list-item-action>
                </v-list-item>
              </template>
            </v-list>

            <v-divider ></v-divider>
            <v-row justify="center" align="center" mt-4 pb-4>
              
              <v-col class="text-center">
                <div>
                  <v-progress-circular size="70" color="primary" :value="100">
                    {{itemsInStock}}
                  </v-progress-circular>
                  <div class="mt-2">In stock</div>

                </div>
              </v-col>
              <v-col class="text-center">
                <div>
                  <v-progress-circular size="70" color="primary" :value="100">
                    {{shopPurchases.length}}
                  </v-progress-circular>
                  <div class="mt-2">Sales</div>

                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" sm="7">
          <v-card outlined>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn text small color="primary" class="text-capitalize" @click="toggleChartType">{{chart_type}}</v-btn>
            </v-card-actions>
            <bar-chart :chart-data="chartdata['shopPurchases']" :options="options2"></bar-chart>
          </v-card>
            
        </v-col>
      </v-row>

      <v-row row wrap>
        <v-col cols="12" sm="6">
          <v-card outlined>
            <pie-chart :chart-data="chartdata['occupancy']" :options="options3"/>
          </v-card>
        </v-col>
        <v-col cols="12" sm="6">
          <v-card outlined>
            <bar-chart :chart-data="chartdata['revenue_combo']" :options="options4"/>
          </v-card>
        </v-col>
      </v-row>

    </v-container>
  </div>
</template>
<script>
export default {
  data: () => ({
    items: [
      {
        text: 'Dashboard',
        disabled: false,
        to: '/'
      },
      {
        text: 'Reports',
        disabled: true,
        to: '/reports'
      }
    ],
    showUi: false,
    tabs: 'all',
    menu1: false,
    menu2: false,
    start: start.toISOString().substr(0,10),
    end: new Date(new Date().getTime() + 24*60*60*1000).toISOString().substr(0,10),
    shopItems: [],
    shopPurchases: [],
    loading: true,
    bookings: [],
    loading_kpis: true,
    chart_type: 'bar',
    chartdata: {},
    chartdata2: {},
    options1: {
      responsive: true, 
      maintainAspectRatio: false,
      title: {
        display: true,
        text: 'Showing Distribution of Bookings With time',
      },
      tooltips: {
        mode: 'index',
        intersect: false
      },
      scales: {
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Revenue'
          },
          ticks: {
            beginAtZero: true,
            // autoSkip: false,
          },
          stacked: true
        }],
        xAxes: [{
          stacked: true,
          type: 'time',
          time: {
            // unit: 'month',
            tooltipFormat: 'lll',
          },
        }]
      }
    },
    options2: {
      responsive: true, 
      maintainAspectRatio: false,
      title: {
        display: true,
        text: 'Distribution of Shop Purchases With time',
      },
      scales: {
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Revenue'
          },
          ticks: {
            beginAtZero: true,
            // autoSkip: false,
          }
        }],
        xAxes: [{
          type: 'time',
          time: {
            // unit: 'month',
            tooltipFormat: 'lll',
          },
          
        }]
      }
    },
    options3: {
      responsive: true, 
      maintainAspectRatio: false,
      title: {
        display: true,
        text: 'Hotel Rooms',
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            autoSkip: false,
          }
        }],
        xAxes: [{
          ticks: {
            beginAtZero: true,
            autoSkip: false,
          }
          
        }]
      }
    },
    options4: {
      responsive: true, 
      maintainAspectRatio: false,
      title: {
        display: true,
        text: 'Revenue from bookings and shop (in Naira)',
      },
      scales: {
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'Revenue'
          },
          ticks: {
            beginAtZero: true,
            // autoSkip: false,
          },
          type: 'linear',
          stacked: true,
        }],
        xAxes: [{
          type: 'time',
          time: {
            // unit: 'month',
            tooltipFormat: 'lll',
          },
          stacked: true,
          gridLines: {
            display: false,
          }
          
        }]
      }
    },
    kpi_options: {
      responsive: true, 
      maintainAspectRatio: false,
      title: {
        display: true,
        text: 'Various Key performance Indicators',
      },
      tooltips: {
        mode: 'index',
        intersect: false
      },
      scales: {
        yAxes: [{
          position: 'left',
          id: 'y-axis-1',
          scaleLabel: {
            display: false,
            labelString: ''
          },
          ticks: {
            beginAtZero: true,
            // autoSkip: false,
          },
          stacked: true
        },
        {
          position: 'right',
          id: 'y-axis-2',
          gridLines: {
            drawOnChartArea: false,
          },
          scaleLabel: {
            display: true,
            labelString: 'Percentage'
          },
          ticks: {
            beginAtZero: true,
            // autoSkip: false,
          },
          stacked: true
        }],
        xAxes: [{
          stacked: true,
          type: 'time',
          time: {
            unit: 'day',
            tooltipFormat: 'lll',
          },
        }]
      }
    },
    kpisData: [],
  }),
  watch: {
    chart_type(){
      this.fillData()
      this.fillData4(this.kpisData)
    },
    menu1(){
      this.initialize()
    },
    menu2(){
      this.initialize()
    },
    // start(){
    //   this.end = new Date(new Date(this.start)
    //     .getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10)
    // }
  },
  computed: {
    overview(){
      return [
        { icon: 'bank', text: 'Total Revenue', value: `${this.$nairaSign} ${this.total_revenue.toLocaleString() || 0}`, color: 'success' },
        { icon: 'hotel', text: 'Bookings', value: `${this.$nairaSign} ${this.total_bookings.toLocaleString() || 0}`, color: 'purple' },
        { icon: 'cancel', text: 'Cancelled', value: `${this.cancelled_bookings}`, color: 'info' },
        { icon: 'cart', text: 'Shop Purchases', value: `${this.$nairaSign} ${this.total_purchases.toLocaleString() || 0}`, color: 'orange' },
      ]
    },
    startDate: {
      get: function(){
        return this.start
      },
      set: function(val){
        this.start = val
      }
    },
    endDate: {
      get: function(){
        return this.end
      },
      set: function(val){
        this.end = val
      }
    },
    total_purchases(){
      return this.shopPurchases
      .reduce((prev, curr) => curr.amount + prev, 0)
      // .toLocaleString()
    },
    total_bookings(){
      return this.bookings
        .filter(item => item.status != 'cancelled')
        .reduce((prev, curr) => curr.total_price + prev, 0)
        // .toLocaleString()
    },
    online_bookings(){
      let a = this.bookings.filter(item => item.channel == 'online')
      return {
        frequency: a.length,
        percentage: (a.length/this.bookings.length * 100 || 0).toFixed(2)
      }
    },
    front_desk_bookings(){
      // console.log(this.bookings)
      let a = this.bookings.filter(item => item.channel == 'front_desk')
      return {
        frequency: a.length,
        percentage: (a.length/this.bookings.length * 100 || 0).toFixed(2)
      }
    },
    total_revenue(){
      return this.total_purchases + this.total_bookings
    },
    cancelled_bookings(){
      return this.bookings.filter(item => item.status == 'cancelled').length
    },
    roomCategories(){
      return this.this_hotel.rooms.length
    },
    numberOfRooms(){
      if(this.this_hotel.rooms){

        return this.this_hotel.rooms.reduce(function(prev, curr){
          return curr.qty*1 + prev
        }, 0)
      }
    },
    itemsInStock(){
      // console.log(this.shopItems)
      return this.shopItems.reduce(function(prev, curr){
        return parseInt(curr.qty) + parseInt(prev)
      }, 0)
    },
    ...mapState([
      'auth',
      'this_hotel'
    ])
  },
  methods: {
    async initialize(){
      // console.log(this.this_hotel)
      this.showUi = true;
      this.loading = true
      this.bookings = await this.getBookings()
      await this.getShopPurchases()
      await this.getShopItems()

      this.loading = false
      this.fillData()
      this.fillData2()
      this.fillData3()
      this.setKpis().then(data => {
        this.kpisData = data
        // console.log(data)
        this.fillData4(data)
        
        // .then(d => console.log({d}))
      })
    },
    randomColor() {
      var letters = '9BCDE'.split('');
      var color = '#';
      for (var i=0; i<3; i++ ) {
          color += letters[Math.floor(Math.random() * letters.length)];
      }
      return color;
    },
    getDaysArray(start, end) {
      for(var arr=[],dt=start; dt<=end; dt.setDate(dt.getDate()+1)){
        arr.push(new Date(dt))
      }
      return arr
    },
    getChartData (data, type){
      let obj = {}
      
      this.getDaysArray(new Date(this.startDate),new Date(this.endDate))
        .map((v)=>v.toISOString().slice(0,10))
        .forEach(d => {
        
        if(type == 'booking'){
          obj[d] = data.filter(itm => itm.checkin == d)
          .reduce((prev, curr) => prev + curr.total_price, 0)
        }

        if(type == 'shop'){
          obj[d] = data.filter(
            itm => new Date(itm.date_created.toDate()).toISOString().substr(0,10) == d
          ).reduce((prev, curr) => prev + curr.amount, 0)
        }
      })
      return Object.values(obj)
    },
    fillData(){


      let front_desk_bookings = this.bookings.filter(bk => bk.channel == 'front_desk')

      let online_bookings = this.bookings.filter(bk => bk.channel == 'online')

      let listOfDaysBtw = this.getDaysArray(new Date(this.startDate),new Date(this.endDate))
        .map((v)=>v.toISOString().slice(0,10))

      this.chartdata['bookings'] = {
        labels: listOfDaysBtw,
        type: 'bar',
        stacked: true,
        datasets: [
          {
            label: 'front desk',
            backgroundColor: this.randomColor(),
            data: this.getChartData(front_desk_bookings, 'booking'),
            type: this.chart_type
          },
          {
            label: 'online',
            backgroundColor: this.randomColor(),
            data: this.getChartData(online_bookings, 'booking'),
            type: this.chart_type
          },
          {
            label: 'all',
            backgroundColor: this.randomColor(),
            data: this.getChartData(this.bookings, 'booking'),
            type: this.chart_type
          },
        ]
      }

      this.chartdata['shopPurchases'] = {
          labels: listOfDaysBtw,
          type: 'bar',
          datasets: [
            {
              label: 'Shop purchases',
              backgroundColor: this.randomColor(),
              data: this.getChartData(this.shopPurchases, 'shop'),
              type: this.chart_type
            }
          ]
      }
      
    },
    fillData2(){
      
      let listOfDaysBtw = this.getDaysArray(new Date(this.startDate),new Date(this.endDate))
        .map((v)=>v.toISOString().slice(0,10))
      let bookings = this.bookings.filter(item => item.state != 'cancelled')

      this.chartdata['revenue_combo'] = {
        labels: listOfDaysBtw,
        type: 'bar',
        datasets: [
          {
            label: `Revenue from bookings`,
            backgroundColor: this.randomColor(),
            data: this.getChartData(bookings, 'booking'),
            type: this.chart_type,
          },
          {
            label: `Revenue from shop`,
            backgroundColor: this.randomColor(),
            data: this.getChartData(this.shopPurchases, 'shop'),
            type: this.chart_type,
          },
        ]
      }
    
    },
    fillData3(){
      this.chartdata['occupancy'] = {
        labels: this.this_hotel.rooms.map(room => room.room_type),
        type: 'pie',
        datasets: [
          {
            backgroundColor: [this.randomColor(), this.randomColor(), this.randomColor()],
            data: this.this_hotel.rooms.map(room => {
              return room.qty
            })
          }
        ]
      }
    },
    fillData4(data){
      // setup for kpi charts
      try {
        
        let listOfDaysBtw = this.getDaysArray(new Date(this.startDate), new Date(this.endDate))
          .map((v)=>v.toISOString().slice(0,10))
  
        let { occupancy_data, revPar_data, adr_data } = data
        
        // console.log({occupancy_data})
  
  
        this.chartdata2 = {
          labels: listOfDaysBtw,
          type: 'bar',
          stacked: true,
          datasets: [
            {
              label: 'Occupancy',
              backgroundColor: this.randomColor(),
              borderColor: 'blue',
              data: occupancy_data,
              type: this.chart_type,
              fill: false,
              yAxisID: 'y-axis-2',
            },
            {
              label: 'ADR',
              backgroundColor: this.randomColor(),
              borderColor: 'orange',
              data: adr_data,
              type: this.chart_type,
              fill: false,
              yAxisID: 'y-axis-1',
            },
            {
              label: 'RevPAR',
              backgroundColor: this.randomColor(),
              borderColor: 'purple',
              data: revPar_data,
              type: this.chart_type,
              fill: false,
              yAxisID: 'y-axis-1',
            }
          ]
        }
        this.loading_kpis = false

      } catch (error) {
        console.log(error)
      }

      // console.log({occupancy_data, revPar_data, adr_data})
    },
    async setKpis(){

      this.loading_kpis = true;

      let listOfDaysBtw = this.getDaysArray(new Date(this.startDate),new Date(this.endDate))
        .map((v)=>v.toISOString().slice(0,10))

      let occupancy_data = []
      let revPar_data = []
      let adr_data = []
      
      for(const d of listOfDaysBtw){

        let nextday = new Date(d)
        nextday.setDate(nextday.getDate() + 1)

        let { total_available_rooms, total_rooms_sold, rooms_revenue } = await this.checkAvailability(d, nextday)

        occupancy_data.push((total_rooms_sold/total_available_rooms * 100).toFixed(2)*1)
        revPar_data.push((rooms_revenue/total_available_rooms).toFixed(2)*1)
        adr_data.push((rooms_revenue/total_rooms_sold || 0).toFixed(2)*1)

      }

      return {occupancy_data, revPar_data, adr_data}
    },
    groupedItems(items){

      let groupToDay = function(group, day){
        // console.log(day)
          return {
              day: new Date(day),
              times: group
          }
      }

      let result = _.chain(items)
        .groupBy('time')
        .map(groupToDay)
        .sortBy('day')
        .value();
      // console.log({result})
      return result
    },
    toggleChartType(){
      let type = this.chart_type
      this.chart_type = type == 'line' ? 'bar' : 'line'
    },
    getRandomInt () {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5
    },
    getShopItems(){
      this.$db.collection('hotels').doc(this.this_hotel.docId)
      .collection('shopItems')
      .orderBy('date_created', 'desc')
      .orderBy('purchase_freq', 'desc').limit(5)
      .get().then(docs => {
        let arr = []
        docs.forEach(doc => {
          // console.log(doc)
          arr.push(doc.data())
        })
        this.shopItems = arr
        // console.log(arr)
      })
    },
    async getShopPurchases(){
      // get shop purchases btw startDate and endDate
      let docs = await this.$db.collection('storePurchase')
      .where('hotelRef', '==', this.this_hotel.docId)
      .where('date_created', '>=', new Date(this.startDate))
      .where('date_created', '<=', new Date(this.endDate))
      .get()
      
      let arr = []
      docs.forEach(doc => {
        arr.push(doc.data())
      })
      this.shopPurchases = arr
      return arr
    },
    async getBookings(){
      let date_plus_one = new Date(this.endDate).getTime() + 24 * 60 * 60 * 1000
      let docs = await this.$db.collection('bookings')
      .where('hotelId', '==',this.this_hotel.docId)
      .where('paid', '==', true)
      .where('date_created', '>=', new Date(this.startDate))
      .where('date_created', '<=', new Date(date_plus_one))
      .orderBy('date_created', 'desc')
      .orderBy('last_updated')
      .get()
      
      let arr = []
      docs.forEach(doc =>{
        arr.push(doc.data())
      })

      // console.log(this.endDate)
      return arr
    },
    async getRervationsBtnDates(hotelId, checkin, checkout){
			// retrieve reservations made for a hotel where checkout date is >
			// <checkin> and checkin date is < <checkout>
			try {
				
				let docs = await this.$db.collection('bookings')
          .where('hotelId', '==', hotelId)
          .where('paid', '==', true)
					.where('checkout_time', '>', checkin)
					.get()
	
				let arr = []
				docs.forEach(doc => arr.push(doc.data()))

				return arr.filter(item => {
          return item.checkout_time > checkin && item.checkin_time < checkout
          && item.state != 'cancelled'
				})

			} catch (error) {
				console.log(error)
			}
		},
		async checkAvailability(start, end){
			// check the availability of rooms for some hotels 
			// within a certain range of dates

			try {
				
				start = new Date(start).getTime()
				end = new Date(end).getTime()

        let hotel = this.this_hotel

        let rd = await this.getRervationsBtnDates(hotel.docId, start, end)
        let hotel_rooms = {}
        hotel.rooms.forEach(rm => hotel_rooms[rm.room_type] = rm)
    
        let rooms_sold = {}
        Object.keys(hotel_rooms).forEach(cat => {
          
          rd.map(itm => itm.rooms).forEach(t => {
            t[cat] ? rooms_sold[cat] ? rooms_sold[cat] += t[cat].qty : rooms_sold[cat] = t[cat].qty : ''
          })
        })

        
        let available_rooms =  {}
        hotel.rooms.forEach(item => {
          available_rooms[item.room_type] = item.qty
        })
        
        let rooms_revenue = rd.reduce((prev, curr) => prev + curr.total_price, 0)

        let total_available_rooms = Object.values(available_rooms)
          .reduce((prev, curr) => prev + curr, 0)
        
        let total_rooms_sold = Object.values(rooms_sold)
          .reduce((prev, curr) => prev + curr, 0)

				return await { total_available_rooms, total_rooms_sold, rooms_revenue }
				
			} catch (error) {
				console.log(error)
			}
		},

  },
  mounted(){
    if(this.this_hotel.rooms){

      this.initialize()
    }
  },
  components: {
    BarChart,
    PieChart
  }
}
let start = new Date();

  // get 14 days in the past.
  var pastDate = start.getDate() - 14;
  start.setDate(pastDate)

import { mapState } from 'vuex'
import BarChart from '@/charts/barchart'
import PieChart from '@/charts/piechart'
import _ from 'underscore'
</script>
<style lang="scss" >
  .round {
    border-radius: 5px !important;
  }
  .outline {
    border: 1px solid rgb(221, 219, 219) !important;
  }
</style>
