<template>
  <div>
    <t-navigation :breadcrumbs_items="items"/>
    <v-alert type="warning" :value="!this_hotel.rooms" class="mt-3 mx-6">
      You don't have any rooms in your property yet. 
      <router-link to="/rates-availability-inventory/rooms"> Click here</router-link>
      to update your inventory
    </v-alert>

    <v-toolbar flat>
      <v-toolbar-title>Guest Reservations</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-dialog v-model="dialog" max-width="500px" scrollable v-if="this_hotel.rooms">
        <template v-slot:activator="{ on }">
          <v-btn color="primary" depressed dark class="mb-2" v-on="on">Add New</v-btn>
        </template>
        <v-card>
          <v-toolbar dense flat color="primary" dark>
            <div class="title">{{ formTitle }}</div>
          </v-toolbar>

          <v-card-text>
            <v-container grid-list-md>
              <v-row>
                <v-col cols="12" sm="4">
                  <v-select outlined dense
                    name="title"
                    label="Title" :items="['Mr', 'Ms', 'Mrs']"
                    hide-details v-model="editedItem.guest_title"
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-text-field
                    name="phone" outlined dense
                    label="Guest Phone Number"
                    hide-details v-model="editedItem.guest_phone"
                  ></v-text-field>
                </v-col>

                <v-col xs="12" sm="6">
                  <v-text-field
                    name="name" outlined dense
                    label="Guest Full Name"
                    hide-details v-model.trim="editedItem.guest_name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="4">
                  <v-menu
                    v-model="menu1"
                    :close-on-content-click="false"
                    max-width="500"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field hide-details
                        :value="format_date1"
                        v-model="editedItem.checkin"
                        label="Check In" outlined
                        v-on="on" dense
                      ></v-text-field>
                    </template>
                    <v-date-picker landscape
                      v-model="editedItem.checkin" :allowed-dates="allowedDates"
                      @change="menu1 = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-menu
                    v-model="menu2"
                    :close-on-content-click="false"
                    max-width="500"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field hide-details
                        :value="format_date2"
                        v-model="editedItem.checkout"
                        label="Check Out"
                        v-on="on" outlined dense
                      ></v-text-field>
                    </template>
                    <v-date-picker landscape
                      v-model="editedItem.checkout" :allowed-dates="allowedDates2"
                      @change="menu2 = false"
                    ></v-date-picker>
                  </v-menu>
                </v-col>

                <v-col cols="12" mt-6>
                  <v-subheader class="pl-0 font-weight-bold">Select Room types</v-subheader>
                  <v-row v-for="(room, i) in hotel.rooms" :key="i" align="center">
                    <v-col cols="4">
                      {{room.room_type}}:
                    </v-col>
                    <v-col cols="6">
                      <v-select
                        name="qty" dense
                        label="qty"
                        :items="roomsLeft(room)"
                        hide-details
                        outlined
                        min="0" :max="room.qty_left"
                        v-model.number="selected_room_type[room.room_type]"
                      ></v-select>
                    </v-col>
                  </v-row>
                </v-col>
                <v-col cols="12" sm="10">
                  <v-text-field label="Number of Guests" type="number" 
                    v-model.number="editedItem.guests"
                    outlined dense min="1"
                    value="1" placeholder="Number of Guests">
                  </v-text-field>
                </v-col>
              </v-row>
              <span>{{total_rooms_selected}} Rooms, {{numOfNights || 0}} nights</span>
              <v-subheader class="pl-0 title">
                Total Amount:  <span class="px-1" v-html="$nairaSign"></span> {{total_rooms_price * numOfNights || 0}}
              </v-subheader>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" class="text-capitalize" 
              text @click="close" :disabled="reserving">Close
            </v-btn>
            <v-btn color="blue darken-1" class="text-capitalize" 
              text @click="save" :loading="reserving" 
              :disabled="disabled_reserve">
              {{editedIndex === -1 ? 'Reserve' : 'Save Changes'}}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </v-toolbar>
    
    <v-container py-0>
      <v-row justify="space-between">
        <v-col cols="12" sm="2">
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line outlined dense
            hide-details
          ></v-text-field>
        </v-col>
        <v-col cols="12" sm="8">
          <v-radio-group v-model="booking_status" row hide-details mandatory>
          <v-radio label="All" value="all" color="primary"></v-radio>
          <v-radio label="No Show/Pending" color="purple" value="no-show"></v-radio>
          <v-radio label="Cancelled" color="red" value="cancelled"></v-radio>
          <v-radio label="Checked In" color="success" value="checked_in"></v-radio>
          <v-radio label="Checked Out" color="orange" value="checked_out"></v-radio>
        </v-radio-group>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row>
        <v-col>
          <v-card flat>
            <v-card-text>
              
              <v-data-table
                :headers="headers"
                :items="table_data"
                :search="search" :loading="loading"
                item-key="docId" :no-data-text="loading ? 'Loading...' : 'No reservations'"
              >
                <template v-slot:item.status_text="{item}">
                  <span :class="item.status_color">{{item.status_text}}</span>
                </template>
                <template v-slot:item.action="{ item }">
                  
                  <v-icon small 
                    @click="viewed_booking_dialog = true; viewed_booking = item">
                    mdi-eye
                  </v-icon>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-dialog
      v-model="viewed_booking_dialog"
      scrollable 
      persistent :overlay="false"
      max-width="500px"
      transition="dialog-transition">
      <v-card v-if="viewed_booking.docId">
        <v-toolbar color="white" flat >
          <v-toolbar-title>Booking Detials</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn color="info" text small @click="viewed_booking_dialog = false">Close</v-btn>
        </v-toolbar>
        <v-divider></v-divider>
        <v-card-text class="px-1">
          <v-list two-line>
            <v-list-item>

              <v-list-item-avatar color="primary" dark>
                <span class="white--text">{{viewed_booking.booking_for.customer_name.charAt(0)}}</span>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title>{{viewed_booking.booking_for.customer_name}}</v-list-item-title>
                <v-list-item-subtitle>
                  Status: 
                  {{viewed_booking.status_text}}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>

            <v-list-item @click="''">
              <v-list-item-action>
                <v-icon color="primary">mdi-email</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{viewed_booking.booking_for.customer_email}}</v-list-item-title>
                <v-list-item-subtitle>Email</v-list-item-subtitle>
              </v-list-item-content>

            </v-list-item>
            <v-divider inset></v-divider>
            <v-list-item @click="''">
              <v-list-item-action>
                <v-icon color="primary">mdi-phone</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{viewed_booking.booking_for.customer_phone}}</v-list-item-title>
                <v-list-item-subtitle>Phone</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-divider inset></v-divider>

            <v-subheader>Checkin information</v-subheader>
            <v-list-item @click="''">
              <v-list-item-content>
                <v-list-item-title>{{viewed_booking.checkin}}</v-list-item-title>
                <v-list-item-subtitle>Arrival</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item @click="''">
              <v-list-item-content>
                <v-list-item-title>{{viewed_booking.checkout}}</v-list-item-title>
                <v-list-item-subtitle>Departure</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item @click="''">
              <v-list-item-content>
                <v-list-item-title>{{viewed_booking.rooms}}</v-list-item-title>
                <v-list-item-subtitle>Rooms</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item @click="''">
              <v-list-item-content>
                <v-list-item-title>{{viewed_booking.date_created.toDate().toISOString().substr(0,10)}}</v-list-item-title>
                <v-list-item-subtitle>Booking date</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card-text>
        <v-card-actions v-if="viewed_booking.status_value != 'cancelled'">
          <v-spacer></v-spacer>
          
          <v-btn color="orange" small 
            class="text-capitalize" depressed
            :disabled="viewed_booking.status_value == 'checked_out'"
            @click="checkoutGuest(viewed_booking)" 
            :loading="checking_out">
              Checkout
          </v-btn>
          <v-btn color="success" small 
            class="text-capitalize" depressed 
            :disabled="viewed_booking.status_value == 'checked_in' ||
             viewed_booking.status_value == 'checked_out'"
            @click="checkinGuest(viewed_booking)" :loading="checking_in">
              Checkin
          </v-btn>

          <v-btn color="orange" depressed small class="text-capitalize"
            @click="deleteItem(viewed_booking)"
              :disabled="viewed_booking.status_value == 'checked_in' 
              || viewed_booking.status_value == 'checked_out'
              || viewed_booking.status_value == 'cancelled'">
              Cancel Booking
            </v-btn>
          <v-btn color="info" depressed small class="text-capitalize"
            @click="editItem(viewed_booking)"
              :disabled="viewed_booking.status_value == 'checked_in' 
              || viewed_booking.status_value == 'checked_out'
              || viewed_booking.status_value == 'cancelled'">
            Modify Booking
          </v-btn>


        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>

export default {
  data: () => ({
    items: [
      {
        text: 'Dashboard',
        to: '/'
      },
      {
        text: 'Bookings and Reservations',
        disabled: true,
        to: '/bookings'
      }
    ],
    search: '',
    headers: [
      {
        text: 'Guests',
        align: 'left',
        value: 'guest_name'
      },
      { text: 'Rooms', value: 'rooms' },
      { text: 'Channel', value: 'channel' },
      { text: 'Status', value: 'status_text' },
      { text: 'Arrival', value: 'checkin' },
      { text: 'Departure', value: 'checkout' },
      { text: 'Amount', value: 'total_price' },
      { text: 'Actions', value: 'action', sortable: false }
      // { text: 'Rooms', value: 'rooms' }
    ],
    hotel: {},
    booking_status: 'all',
    loading: true,
    expand: true,
    dialog: false,
    viewed_booking_dialog: false,
    viewed_booking: {},
    bookings: [],
    editedIndex: -1,
    editedItem: {
      guest_name: '',
      guest_phone: '',
      guest_title: '',
      checkin: today,
		  checkout: tomorrow,
      guests: 1
    },
    defaultItem: {
      guest_name: '',
      guest_phone: '',
      guest_title: '',
      checkin: new Date().toISOString().substr(0, 10),
		  checkout: new Date(new Date().getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10),
      guests: 0
    },
    selected_room_type: {},
    checkin: new Date().toISOString().substr(0, 10),
		checkout: new Date(new Date().getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10),
    reserving: false,
    new_booking: false,
    menu: false,
    menu1: false,
    menu2: false,
    checking_in: false,
    checking_out: false,
    all_rooms: [],
  }),
  watch: {
    'this_hotel': function(){
      this.initialize()
    },
    'editedItem.checkin': async function(to, from){
			if(this.this_hotel.docId && this.dialog){
				this.loading = true
				this.hotel = await this.checkAvailability([this.this_hotel])
        this.loading = false
        this.editedItem.checkout = new Date(new Date(this.editedItem.checkin)
          .getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10)
        this.selected_room_type = []
			}
		},
		'editedItem.checkout': async function(to, from){
			if(this.this_hotel.docId && this.dialog){
				this.loading = true
				// this.hotel = await this.checkAvailability([this.this_hotel])
        this.loading = false
        // console.log(to)
      }
    },
    async dialog (val) {
      if(val){
        
        this.hotel = await this.checkAvailability([this.this_hotel])
        
      }
      val || this.close()
    },
  },
  computed: {
    ...mapState([
      'auth',
      'this_hotel'
    ]),
    formTitle () {
      return this.editedIndex === -1 ? 'New Reservation' : 'Modify Reservation'
    },
    today(){
      let date = new Date().toISOString().substring(0,10)
      // console.log(date)
      return date
    },
    format_date1 () {
      return this.checkin ? moment(this.checkin).format('ddd, MM Do YYYY') : ''
    },
    format_date2 () {
      return this.checkout ? moment(this.checkout).format('ddd, MM Do YYYY') : ''
    },
    disabled_reserve(){
      return !this.editedItem.checkin || !this.editedItem.checkout ||
      !this.editedItem.guest_name || !this.editedItem.guest_phone || 
      !this.editedItem.guests || !this.total_rooms_price || !this.editedItem.guest_title
    },
    numOfNights(){
			function treatAsUTC(date) {
				var result = new Date(date);
				result.setMinutes(result.getMinutes() - result.getTimezoneOffset());
				return result;
			}

			function daysBetween(startDate, endDate) {
				var millisecondsPerDay = 24 * 60 * 60 * 1000;
				return (treatAsUTC(endDate) - treatAsUTC(startDate)) / millisecondsPerDay;
			}

			return daysBetween(this.editedItem.checkin, this.editedItem.checkout)
    },
    rooms(){
      return Object.keys(this.selected_room_type).map(d => {
        if(this.selected_room_type[d] > 0){

          let room_type = this.this_hotel.rooms.find(room => room.room_type == d)
          return {
            [d]: {
              price: parseInt(room_type.price_per_night),
              qty: this.selected_room_type[d]
            }
          }
        }
      })
    },
    total_rooms_price(){
      let foo = []
        this.rooms.forEach(b => {
          if(b){

            foo.push(Object.values(b)[0])
          }
        })

      let f = foo
        .reduce((prev, curr) => curr.price * curr.qty + prev, 0)

      // console.log(this.rooms)
      return f
    },
    total_rooms_selected(){
      return Object.values(this.selected_room_type)
        .reduce((prev, curr) => curr + prev, 0)
    },
    table_data(){
      let filter_by = this.booking_status
      if(filter_by == 'all') return this.bookings

      return this.bookings.filter(item => item.status_value == filter_by)
    }
    
  },
  methods: {
    initialize(){
      // console.log(this.this_hotel)
      this.loading = true
      this.$db.collection('bookings')
      .where('hotelId', '==',this.this_hotel.docId)
      // .where('paid', '==', true)
      .orderBy('date_created', 'desc')
      .onSnapshot(docs =>{
        this.bookings = []
        docs.forEach(doc =>{
          let book = doc.data()
         
          let room_types = Object.keys(book.rooms)
          let rooms = []
          room_types.forEach(room_type => {
            rooms.push({
              [room_type]: book.rooms[room_type].qty
            })
          })
          this.bookings.push({
            ...book,
            guest_name: book.booking_for.customer_name,
            guest_phone: book.booking_for.customer_phone,
            guest_title: book.booking_for.customer_title,
            status_text: this.getStatus(book.status).text,
            status_value: this.getStatus(book.status).value,
            status_color: this.getStatusColor(book.status),
            checkin: book.checkin,
            checkout: book.checkout,
            total_price: book.total_price,
            amount: '',
            channel: book.channel.split('_').join(' '),
            qty: Object.values(book.rooms).reduce((prev, curr) => curr.qty + prev, 0),
            guests: book.guests.adults,
            rooms: rooms.map(item => {
              return `${Object.values(item)[0]} ${Object.keys(item)[0]}`
            }).join(', '),
            room_type: this.this_hotel.rooms,
            room_types: book.rooms,
            docId: book.docId
          })
          
        })

        // get all rooms
        this.$db.collection('hotels').doc(this.this_hotel.docId).collection('rooms')
        .onSnapshot(docs => {
          let rooms = []
          docs.forEach(doc => {
            rooms.push(doc.data())
          })
          this.all_rooms = rooms
          // console.log({rooms})
        })

        this.loading = false

        if(this.$route.query.new && this.this_hotel.rooms){
          this.dialog = true
          this.$router.push('/reservations')
        }
        
        
      })

      this.hotel = this.this_hotel
    },
    roomsLeft(room){
      var foo = [0];

      for (var i = 1; i <= room.qty_left; i++) {
        foo.push(i);
      }
      return foo
    },
    getStatusColor(status){
      switch(status){
        case 'checked_in': return 'success--text';
        case 'checked_out': return 'orange--text';
        case 'no-show': return 'primary--text';
        case 'cancelled': return 'red--text';
        default: return 'primary--text'
      }
    },
    getStatus(status){
      switch(status){
        case 'checked_in': return {text: 'checked in', value: status};
        case 'checked_out': return {text: 'checked out', value: status};
        case 'no-show': return {text: 'coming', value: status};
        case 'cancelled': return {text: 'cancelled', value: status};
        default: return {text: status, value: status}
      }
    },
    allowedDates(val){
			// only allow dates greater than or equal to today
			let today = new Date().getTime() - 24*60*60*1000

			let toAllow = new Date(val).getTime()
			
			return toAllow - today >= 0
		},
		allowedDates2(val){
			// only allow dates greater than the checkin date
			let checkin = new Date(this.editedItem.checkin).getTime()

			let toAllow = new Date(val).getTime()
			let oneDay = 24 * 60 * 60 * 1000
			
			return toAllow - checkin  - oneDay >= 0
		},
    async getReservationsBtnDates(hotelId, checkin, checkout){
			// retrieve reservations made for a hotel where checkout date is >
			// <checkin> and checkin date is < <checkout>
			try {
				
				let docs = await this.$db.collection('bookings')
					.where('hotelId', '==', hotelId)
					.where('checkout_time', '>', checkin)
					.get()
	
				let arr = []
				docs.forEach(doc => arr.push(doc.data()))

        // if a booking checkin and checkout is to be edited,
        // you need to subtract that booking from the search results
        // so that it won't affect the availability
        // i.e assuming that booking has not been made, whats the availability?

        if(this.editedIndex !== -1){
          return arr.filter(item => {
            return item.checkout_time > checkin && item.checkin_time < checkout
            && item.paid && item.status != 'cancelled' && item.docId != this.editedItem.docId
          })
        }
				else {
          return arr.filter(item => {
            return item.checkout_time > checkin && item.checkin_time < checkout
            && item.paid && item.status != 'cancelled'
          })
        }

			} catch (error) {
				console.log(error)
			}
		},
		async checkAvailability(hotels){
			// check the availability of rooms for some hotels 
			// within a certain range of dates

			try {
				
				let checkin = new Date(this.editedItem.checkin).getTime()
				let checkout = new Date(this.editedItem.checkout).getTime()

				let available_hotels = await hotels.map(async hotel => {
					// console.log({hotels})
					let rd = await this.getReservationsBtnDates(hotel.docId, checkin, checkout)
					let hotel_rooms = {}
					hotel.rooms.forEach(rm => hotel_rooms[rm.room_type] = rm)
			
					let m = {}
					Object.keys(hotel_rooms).forEach(cat => {
						
						rd.map(itm => itm.rooms).forEach(t => {
							t[cat] ? m[cat] ? m[cat] += t[cat].qty : m[cat] = t[cat].qty : ''
						})
					})

					return {
						...hotel,
						rooms: hotel.rooms.map(itm => {
								return {
									...itm,
									qty_left: itm.qty - (m[itm.room_type] ? m[itm.room_type] : 0)
								}
							})
							
					}
				})

				let all = await Promise.all(available_hotels)
				// console.log({all})
				return all[0]
				
			} catch (error) {
				console.log(error)
			}
		},
    async cancelReservation(item){
      // cancel a reservation
      let batch = this.$db.batch()

      let bookingRef = this.$db.collection('bookings').doc(item.docId)
      batch.update(bookingRef, {
        status: 'cancelled',
        cancelled_at: this.$firebase.firestore.FieldValue.serverTimestamp()
      })

      await batch.commit()
      this.$eventBus.$emit('Snackbar', {
        show: true,
        message: 'Reservation cancelled',
        color: 'success'
      })
      this.viewed_booking_dialog = false
    },
    updateReservation(){
      let batch = this.$db.batch()

      let ob = {}
      this.rooms.forEach(room => ob[Object.keys(room)[0]] = Object.values(room)[0])

      let bookingRef = this.$db.collection('bookings').doc(this.editedItem.docId)
      batch.update(bookingRef, {
				customer_name: this.editedItem.guest_name,
        customer_phone: this.editedItem.guest_phone,
        customer_title: this.editedItem.guest_title,
        booking_for: {
          customer_name: this.editedItem.guest_name,
          customer_phone: this.editedItem.guest_phone,
          customer_title: this.editedItem.guest_title,
        },
				checkin: this.editedItem.checkin,
        checkout: this.editedItem.checkout,
        checkin_time: new Date(this.editedItem.checkin).getTime(),
        checkout_time: new Date(this.editedItem.checkout).getTime(),
				rooms: ob,
				guests: {
          adults: this.editedItem.guests,
          children: 0,
        },
				total_price: this.total_rooms_price * this.numOfNights,
        last_updated: this.$firebase.firestore.FieldValue.serverTimestamp(),
      })

      batch.commit().then(() => {

        this.reserving = false
        this.close()

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Reservation Modified',
          color: 'success'
        })
      })
    },
    newReservation(){
      // New Front Desk Reservation
      this.reserving = true
      let batch = this.$db.batch()

      let ob = {}
      this.rooms.forEach(room => ob[Object.keys(room)[0]] = Object.values(room)[0])

      let bookingRef = this.$db.collection('bookings').doc()
      batch.set(bookingRef, {
        docId: bookingRef.id,
				userId: false,
        hotelId: this.this_hotel.docId,
        hotel_name: this.this_hotel.name,
				customer_name: this.editedItem.guest_name,
				customer_email: 'N/A',
        customer_phone: this.editedItem.guest_phone,
        customer_title: this.editedItem.guest_title,
				booking_for: {
          customer_name: this.editedItem.guest_name,
          customer_email: 'N/A',
          customer_title: this.editedItem.guest_title,
          customer_phone: this.editedItem.guest_phone,
        },
				checkin: this.editedItem.checkin,
				checkout: this.editedItem.checkout,
				checkin_time: new Date(this.editedItem.checkin).getTime(),
				checkout_time: new Date(this.editedItem.checkout).getTime(),
				rooms: ob,
				guests: {
          adults: this.editedItem.guests,
          children: 0,
        },
				total_price: this.total_rooms_price * this.numOfNights,
        date_created: this.$firebase.firestore.FieldValue.serverTimestamp(),
        last_updated: this.$firebase.firestore.FieldValue.serverTimestamp(),
        channel: 'front_desk',
        paid: true,
        mode_of_payment: 'manual',
        status: 'no-show'
      })

      let hotelRef = this.$db.collection('hotels').doc(this.this_hotel.docId)
      batch.update(hotelRef, {
        bookings: this.$firebase.firestore.FieldValue.increment(1)
      })

      batch.commit().then(()=> {
        this.reserving = false
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Reservation Successfull',
          color: 'info'
        })

        this.close()

      }).catch(err => {
        console.log(err)
        // this.new_booking = false
        this.reserving = false
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Reservation Failed',
          color: 'error'
        })
        this.close()
      })
    },
    editItem (item) {
      this.editedIndex = this.bookings.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.items.indexOf(item)
      confirm('Are you sure you want to Cancel this booking?')
      &&
      this.cancelReservation(item)

    },

    close () {
      this.dialog = false
      this.viewed_booking_dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {


      if (this.editedIndex > -1) {

        // editing reservation
        // this.loading = true
        this.updateReservation()
        
      } else {
        // adding new reservation
        // this.loading = true
        this.newReservation()
      }
        
    },
    async checkinGuest(guest){
      // mark guest as checked in
      this.checking_in = true

      let batch = this.$db.batch()

      let bookingRef = this.$db.collection('bookings').doc(guest.docId)

      batch.update(bookingRef, {
        status: 'checked_in',
        checked_in_at: this.$firebase.firestore.FieldValue.serverTimestamp()
      })
      
      batch.commit().then(() => {
        this.checking_in = false
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Guest marked as checked in ',
          color: 'info'
        })

        this.viewed_booking_dialog = false
      })
    },
    async checkoutGuest(guest){
      // mark guest as checked out
      this.checking_out = true

      let batch = this.$db.batch()

      let guestRef = this.$db.collection('bookings').doc(guest.docId)
      batch.update(guestRef, {
        status: 'checked_out',
        checked_out_at: this.$firebase.firestore.FieldValue.serverTimestamp()
      })

      batch.commit().then(() => {
        this.checking_out = false
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Guest Checked Out Successfully',
          color: 'info'
        })

        this.viewed_booking_dialog = false
      })
    }
  },
  mounted(){
    this.initialize()

    let query = this.$route.query.search
    if(query){
      this.search = query
    }
  }
}

let today = new Date().toISOString().substr(0, 10)
let tomorrow = new Date(new Date().getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10)
import { mapState } from 'vuex'
import moment from 'moment'
</script>
