<template>
	<div>
		<v-toolbar color="white" flat>
			<v-breadcrumbs :items="breadcrumbs_items">
				<template v-slot:divider>
					<v-icon>mdi-chevron-right</v-icon>
				</template>
			</v-breadcrumbs>
			<div>
				<slot name="left"></slot>
			</div>
			<v-spacer></v-spacer>
			<div>
				<slot name="right2"></slot>
			</div>
			<div>
				<slot name="right"></slot>
			</div>
		</v-toolbar>
		<v-divider></v-divider>
	</div>
</template>
<script>
export default {
	props: {
		breadcrumbs_items: {
			type: Array,
			// required: true,
			default: function(){
				return []
			}
		}
	}
}
</script>
