<template>
  <v-container grid-list-xs fluid :class="[background]">
    <v-layout column>
      <v-flex xs6 d-flex>
        <div :style="styleObj">
          <v-layout align-center justify-center fill-height>
            <div>
              <slot name='loading_info'></slot>
              <v-progress-circular indeterminate :color="color" v-if="spinnerType == 'circle'"></v-progress-circular>
              
            </div>
          </v-layout>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
  
</template>
<script>
export default {
  props:{
    height:{
      type:String,
      default:'97vh'
    },
    spinnerType:{
      type:String,
      default:'circle'
    },
    color: {
      type: String,
      default: 'accent'
    },
    background:{
      type:String,
      default:'inherit'
    }
  },
  computed:{
    styleObj(){
      return {
        height: this.height ? this.height : '97vh',
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@mixin MainColor(){
  //background:#fdba1e;
  background:#042943;
  color:#fff;
}


</style>


