<template>
  <div>
    <t-navigation :breadcrumbs_items="breadcrumbs_items">
    </t-navigation>
    <v-container >
      <v-row>
        <v-col>
          <v-card outlined>
            <v-tabs
              v-model="tabs"
              color="primary"
              slider-color="primary">

              <v-tab href="#house-keepers">
                House Keepers
              </v-tab>
              
            </v-tabs>
            <v-divider></v-divider>

            <v-tabs-items v-model="tabs">

              <v-tab-item value="house-keepers">
                <v-card flat>
                  <v-card-text>
                    <v-toolbar flat color="white">
                      <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Search"
                        single-line
                        hide-details
                      ></v-text-field>
                      <v-spacer></v-spacer>

                      <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on }">
                          <v-btn color="primary" depressed dark class="mb-2 ml-4 ml-sm-0" v-on="on">Add</v-btn>
                        </template>
                        <v-card>
                          <v-card-title>
                            <span class="headline text-capitalize">{{ formTitle }}</span>
                          </v-card-title>

                          <v-card-text>
                            <v-container grid-list-md>
                              <v-row wrap>
                                <v-col cols="6">
                                  <v-text-field v-model.trim="editedItem.assigned_to" label="House keeper's name"></v-text-field>
                                  <v-select
                                    :items="this_hotel.rooms"
                                    v-model="editedItem.room_type"
                                    :value="editedItem.room_type"
                                    item-text="room_type"
                                    item-value="room_type"
                                    label="Room type"
                                  ></v-select>
                                </v-col>
                                <v-col cols="6">

                                  <v-text-field
                                    v-model="editedItem.room_title"
                                    :value="editedItem.room_title"
                                    label="Room number or title"
                                  ></v-text-field>
                                  <v-select
                                    :items="['Clean', 'Dirty']"
                                    v-model="editedItem.status"
                                    :value="editedItem.status"
                                    return-object
                                    label="Set room status"
                                  ></v-select>
                                </v-col>
                                <v-col cols="12">
                                  <v-select
                                    :items="days"
                                    v-model="editedItem.days"
                                    :value="editedItem.days"
                                    item-value="text"
                                    label="Select days"
                                    multiple chips
                                  ></v-select>

                                </v-col>
                              </v-row>
                            </v-container>
                          </v-card-text>

                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="close" :disabled="loading">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="save" :loading="loading" :disabled="disabled">Save</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>

                    </v-toolbar>

                    <v-data-table
                      :headers="headers"
                      :items="items"
                      :search="search"
                      class="elevation-0">
                      
                      <template v-slot:item.action="{ item }">
                        <v-icon
                          small color="primary"
                          class="mr-2"
                          @click="editItem(item)"
                        >
                          mdi-pencil
                        </v-icon>
                        <v-icon
                          small color="red lighten-1"
                          @click="deleteItem(item)"
                        >
                          mdi-delete
                        </v-icon>
                      </template>
                    </v-data-table>

                  </v-card-text>
                </v-card>
              </v-tab-item>

            </v-tabs-items>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

  </div>
</template>
<script>
export default {
  data: () => ({
    breadcrumbs_items: [
      {
        text: 'Dashboard',
        disabled: false,
        to: '/'
      },
      {
        text: 'House Keeping',
        disabled: true,
        to: '/house-keeping'
      },
      
    ],
    tabs: 'house-keepers',
    dialog: false,
    room_dialog: false,
    items: [],
    search: '',
    all_rooms: [],
    days: [
      { text: 'Sunday', value: '2019-09-01' },
      { text: 'Monday', value: '2019-09-02' },
      { text: 'Tuesday', value: '2019-09-03' },
      { text: 'Wednesday', value: '2019-09-04' },
      { text: 'Thursday', value: '2019-09-05' },
      { text: 'Friday', value: '2019-09-06' },
      { text: 'Saturday', value: '2019-09-07' }
    ],
    loading: false,
    headers: [
      {
        text: 'Staff Name',
        align: 'left',
        value: 'assigned_to'
      },
      { text: 'Room Type', value: 'room_type' },
      { text: 'Room Name/Number', value: 'room_title' },
      { text: 'Status', value: 'status' },
      { text: 'Days', value: 'days' },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    items: [],
    editedIndex: -1,
    editedItem: {
      assigned_to: '',
      room_type: '',
      room_title: '',
      status: '',
      days: ''
    },
    defaultItem: {
      assigned_to: '',
      room_type: '',
      room_title: '',
      status: '',
      days: ''
    },
  }),
  watch: {
    dialog (val) {
      val || this.close()
    },
    this_hotel(val){
      this.initialize()
    }
  },
  computed: {
    ...mapState([
      'this_hotel',
    ]),
    formTitle () {
      return this.editedIndex === -1 ? 'New House Keeping Task' : 'Edit Task'
    },
    disabled(){
      return !this.editedItem.assigned_to || !this.editedItem.room_type || 
      !this.editedItem.room_title || !this.editedItem.status
    },
  },
  methods: {
    initialize(){
      this.getHouseKeepingData()
      // this.getAllRooms()
    },
    editItem (item) {
      this.editedIndex = this.items.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      const index = this.items.indexOf(item)
      let yes = confirm('Are you sure you want to delete this item?')
      let ref = this.$db.collection('hotels').doc(this.this_hotel.docId)
        .collection('house_keeping').doc(item.docId)
      
      if(yes){
        this.items.splice(index, 1)
        ref.delete()
      }
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    async save(){

      this.loading = true

      if (this.editedIndex > -1) {

        let ref = this.$db.collection('hotels').doc(this.this_hotel.docId)
        .collection('house_keeping').doc(this.editedItem.docId)

        // editing
        Object.assign(this.items[this.editedIndex], this.editedItem)
        await ref.update({
          ...this.editedItem
        })

        this.loading = false
        this.close()
      }
      else {
        // Creating new
        
        let ref = this.$db.collection('hotels').doc(this.this_hotel.docId)
        .collection('house_keeping').doc()
        await ref.set({
          ...this.editedItem,
          docId: ref.id
        })

        this.loading = false
        this.editedItem.docId = ref.id
        this.items.push(this.editedItem)
        this.close()
      }
    },
    async getHouseKeepingData(){
      let ref = this.$db.collection('hotels').doc(this.this_hotel.docId)
        .collection('house_keeping')

      let docs = await ref.get()
      let arr = []
      docs.forEach(d => arr.push(d.data()))
      // console.log({arr})

      this.items = arr
    },
  },
  mounted(){
    this.initialize()
  }
}
import { mapState } from 'vuex'
</script>