<template>
  <div>
    <t-navigation :breadcrumbs_items="breadcrumbs_items">
    </t-navigation>
    <template v-if="!showUi">
      <v-progress-circular indeterminate color="primary" class="d-block mx-auto my-5"></v-progress-circular>
    </template>
    <template v-else>

      <v-container grid-list-xs>
        <v-toolbar flat color="white">
          <!-- <v-toolbar-title>All Orders</v-toolbar-title>
          <v-divider
            class="mx-2"
            inset
            vertical
          ></v-divider> -->

          <v-radio-group v-model="order_status" row class="hidden-xs-only">
            <v-radio label="all" value="all" color="primary"></v-radio>
            <v-radio label="Pending" value="pending" color="warning"></v-radio>
            <v-radio label="Completed" value="completed" color="success"></v-radio>
          </v-radio-group>
          <v-spacer></v-spacer>
          <v-btn color="primary" class="mb-2" 
            @click="markAsCompleted" :loading="loading" :disabled="selected.length == 0">
            Mark as completed
          </v-btn>

        </v-toolbar>

        <v-card-title>
          Guest Orders
          <div class="flex-grow-1"></div>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-radio-group v-model="order_status" row class="hidden-sm-and-up">
          <v-radio label="all" value="all" color="primary"></v-radio>
          <v-radio label="Pending" value="pending" color="warning"></v-radio>
          <v-radio label="Completed" value="completed" color="success"></v-radio>
        </v-radio-group>

        <v-data-table
          :headers="headers"
          :items="filter_orders"
          :search="search"
          v-model="selected"
          item-key="docId"
          show-select
          color="primary"
          class="elevation-1">
          
          <template v-slot:item.status="{item}">
            <span :class="item.status == 'pending' ? 'orange--text' : 'success--text'">
              {{item.status}}
            </span>
          </template>

          <template v-slot:item.action="{ item }">
            <v-icon
              small
              @click="editItem(item)"
            >
              mdi-eye
            </v-icon>
          </template>
          <template v-slot:no-data>
            <div class="text-xs-center">No recent orders</div>
          </template>
        </v-data-table>
      </v-container>

      <v-dialog v-model="dialog" max-width="500px" :persistent="loading" :fullscreen="$vuetify.breakpoint.xsOnly">
        <v-card>
          <v-toolbar color="white" flat>
            <v-list dense>
              <v-list-item>
                <v-list-item-avatar color="primary" dark>
                  <span class="white--text">{{editedItem.name.charAt(0)}}</span>
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title>{{editedItem.name}}
                    <span class="grey--text pl-3">{{editedItem.date_created}}</span>
                  </v-list-item-title>
                  <v-list-item-subtitle>{{editedItem.phone}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
            
          </v-toolbar>
          <v-divider></v-divider>

          <v-card-text v-if="editedItem.order_type" class="mt-4">
            <v-chip color="accent" text-color="white">
              {{editedItem.order_type}}
            </v-chip>
            <v-chip :color="editedItem.status == 'pending' ? 'orange' : 'success'" 
              text-color="white" class="ml-3">
              {{editedItem.status}}
            </v-chip>
            <v-subheader class="title mt-3 pl-0">Order Message</v-subheader>
            {{editedItem.message}}
            
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="close" :disabled="loading">Close</v-btn>
            <v-btn color="blue darken-1" text 
              @click="markAsCompleted" 
              :loading="loading"
              v-if="editedItem.status == 'pending'">Mark completed</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

    </template>
  </div>
</template>
<script>
export default {
  data: () => ({
    breadcrumbs_items: [
      {
        text: 'Dashboard',
        disabled: false,
        to: '/'
      },
      {
        text: 'Orders',
        disabled: true,
        to: '/orders'
      },
      
    ],
    showUi: false,
    dialog: false,
    loading: false,
    selected: [],
    order_status: 'all',
    headers: [
      // {text: 'Select', value: 'select', sortable: false},
      {
        text: 'From',
        align: 'left',
        value: 'name'
      },
      { text: 'Message', value: 'message' },
      { text: 'Type', value: 'order_type' },
      { text: 'Status', value: 'status' },
      { text: 'Time', value: 'date_created' },
      { text: 'Action', value: 'action' }
    ],
    search: '',
    orders: [],
    loading: false,
    editedIndex: -1,
    editedItem: {
      name: '',
      message: 0,
      order_type: 0,
      status: 0,
      date_created: 0
    },
    defaultItem: {
      name: '',
      message: 0,
      order_type: 0,
      status: 0,
      date_created: 0
    }
  }),
  computed: {
    ...mapState([
      'auth',
      'this_hotel'
    ]),
    filter_orders(){
      if(this.order_status == 'all') return this.orders;
      return this.orders.filter(order => order.status == this.order_status)
    },
    
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    this_hotel(val){
      this.initialize()
    },
  },

  created () {
    this.initialize()
  },

  methods: {
    async initialize () {
      this.order_status = this.$route.query.type ? this.$route.query.type : 'all'
      
      await this.getAllOrders()
      this.showUi = true
    },
    editItem (item) {
      this.editedIndex = this.orders.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    async getAllOrders(){
      // retreive orders from db
      this.$db.collection('orders').where('hotelId', '==', this.this_hotel.docId)
      .orderBy('date_created', 'desc')
      .onSnapshot(docs => {
        let arr = []
        docs.forEach(doc => {
          arr.push(doc.data())
        })
        
        this.orders = arr
        .map(order => {
          return {
            ...order,
            message: order.request.message,
            name: order.requester.name,
            phone: order.requester.phone,
            uid: order.requester.uid,
            order_type: order.order_type.split('_').join(' '),
            date_created: this.$helpers.parseDate(order.date_created.toMillis(), true)
          }
        })
      })
    },
    markAsCompleted(){
      
      // approve a set of orders
      let selected = this.editedIndex == -1 ? this.selected : [this.editedItem]
      this.loading = true
      let i = 0

      for (const item of selected) {
        i++
        this.$db.collection('orders').doc(item.docId)
        .update({
          status: 'completed',
          date_modified: this.$firebase.firestore.FieldValue.serverTimestamp()
        })
        
        if(i == selected.length){

          this.loading = false;
          this.selected = []
          this.$eventBus.$emit('Snackbar', {
            show: true,
            message: `orders have been marked as completed`,
            color: 'success'
          })
          this.close()
        }
        
      }
    }
  }
}

import { mapState, mapGetters } from 'vuex'
</script>