<template>
  <div>
    <t-navigation :breadcrumbs_items="breadcrumbs_items">
    </t-navigation>
    <v-progress-circular indeterminate color="primary" v-if="!showUi" class="d-block mx-auto my-5"></v-progress-circular>
    <v-container grid-list-xs v-else>
      <v-row>
        <v-col>

          <v-tabs color="" align-with-title v-model="tab">
            <v-tabs-slider color="yellow"></v-tabs-slider>

            <v-tab :href="'#days'">
              Shift Calendar
            </v-tab>
            <template v-for="day in days">
              <v-tab :href="`#${day}`" :key="day">
                {{day}}
              </v-tab>
            </template>
          </v-tabs>

          <v-tabs-items v-model="tab">
            <v-tab-item value="days">
              <v-card flat>
                <v-container grid-list-md>
                  <v-row>
                    <v-col>
                      <v-calendar
                        ref="calendar"
                        :now="today"
                        :value="today"
                        :events="shifts"
                        color="primary"
                        type="week"
                        event-color="primary"
                      >
                      </v-calendar>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-tab-item>

            <v-tab-item :value="day" v-for="day in days" :key="day + '-items'">
              <v-card flat>
                <v-card-text>

                  <v-toolbar flat color="white">
                    
                    <v-text-field
                      v-model="search"
                      append-icon="mdi-magnify"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-spacer></v-spacer>

                    <v-dialog v-model="dialog" max-width="500px">
                      <template v-slot:activator="{ on }">
                        <v-btn color="primary" depressed dark class="mb-2" v-on="on">Add New</v-btn>
                      </template>
                      <v-card>
                        <v-card-title>
                          <span class="headline text-capitalize">{{day}} - {{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                          <v-container grid-list-md>
                            <v-row wrap>
                              <v-col cols="12" sm="6">
                                <v-text-field v-model.trim="editedItem.name" label="Staff name"></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="6">
                                <v-select
                                  :items="shift_types"
                                  v-model.trim="editedItem.shift_type"
                                  label="Category"
                                ></v-select>
                              </v-col>
                              <v-col cols="4">
                                <v-text-field v-model.trim="editedItem.start_time" type="time" label="Start Time"></v-text-field>
                              </v-col>
                              <v-col cols="4">
                                <v-text-field v-model.trim="editedItem.end_time" type="time" label="End Time"></v-text-field>
                              </v-col>
                              <v-col cols="4">
                                <v-text-field v-model.trim="tab" readonly label="Day"></v-text-field>
                              </v-col>
                            </v-row>
                          </v-container>
                        </v-card-text>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn color="blue darken-1" text @click="close" :disabled="loading">Cancel</v-btn>
                          <v-btn color="blue darken-1" text @click="save" :loading="loading" :disabled="disabled">Save</v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>

                  </v-toolbar>

                  <v-data-table
                    :headers="headers"
                    :items="items.filter(item => item.day == day)"
                    :search="search"
                    class="elevation-1">
                    <template v-slot:items="props">
                      <td>{{ props.item.name }}</td>
                      <td class="text-xs-left">{{ props.item.shift_type.split('_').join(' ') }}</td>
                      <!-- <td class="text-xs-left">{{ props.item.shift_days.join(', ') }}</td> -->
                      <td class="text-xs-left">{{ props.item.start_time }}</td>
                      <td class="text-xs-left">{{ props.item.end_time }}</td>
                    </template>
                    <template v-slot:item.action="{ item }">
                      <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                      >
                        edit
                      </v-icon>
                      <v-icon
                        small
                        @click="deleteItem(item)"
                      >
                        delete
                      </v-icon>
                    </template>
                  </v-data-table>

                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>


        </v-col>
      </v-row>
    </v-container>
  
  </div>
</template>
<script>
export default {
  data: () => ({
    breadcrumbs_items: [
      {
        text: 'Dashboard',
        disabled: false,
        to: '/'
      },
      {
        text: 'Shift Manager',
        disabled: true,
        to: '/shift-manager'
      },
      
    ],
    showUi: false,
    dialog: false,
    tab: 'days',
    search: '',
    shift_types: [
      { text: 'Cashiers', value: 'cashiers' },
      { text: 'Room attendants', value: 'room_attendants' },
      { text: 'Kitchen staff', value: 'kitchen_staff' },
      { text: 'Bar staff', value: 'bar_staff' },
      { text: 'Cleaners', value: 'cleaners' },
      { text: 'Others', value: 'others' }
    ],
    days: [
      'sunday', 'monday', 'tuesday','wednesday',
      'thursday','friday','saturday'
    ],
    loading: false,
    headers: [
      {
        text: 'Name',
        align: 'left',
        sortable: false,
        value: 'name'
      },
      { text: 'Category', value: 'shift_type' },
      // { text: 'Days', value: 'shift_days' },
      { text: 'Sart Time', value: 'start_time' },
      { text: 'End Time', value: 'end_time' },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    items: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      shift_type: '',
      day: '',
      start_time: '08:00',
      end_time: '05:00',
    },
    defaultItem: {
      name: '',
      shift_type: '',
      day: '',
      start_time: '08:00',
      end_time: '05:00',
    },
    today: '2019-09-01',
    pagination: {
      rowsPerPage: 3
    },
  }),

  computed: {
    ...mapState([
      'auth',
      'this_hotel'
    ]),
    ...mapGetters([

    ]),
    formTitle () {
      return this.editedIndex === -1 ? 'New Shift' : 'Edit Shift'
    },
    disabled(){
      // return !!Object.values(this.editedItem).find(val => val == '')
      return !this.editedItem.name || !this.editedItem.shift_type
       || !this.editedItem.start_time || !this.editedItem.end_time
    },
    shifts(){
    
      return this.items.map((item, i) => {
        // The calendar uses a fixed date to display events (except for the actual days)
        // bcs the date is not important - but the days and time ( for any week or month)

        let get_day = function(){
          switch(item.day){
            case 'sunday':
              return 1
            case 'monday':
              return 2
            case 'tuesday':
              return 3
            case 'wednesday':
              return 4
            case 'thursday':
              return 5
            case 'friday':
              return 6
            case 'saturday':
              return 7
          }
        }

        return {
          ...item,
          name: item.name,
          start: `2019-09-${get_day()} ${item.start_time}`,
          end: `2019-09-${get_day()} ${item.end_time}`,
        }
      })
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    this_hotel(val){
      this.initialize()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    initialize () {
      this.showUi = false

      this.getShifts().then((items) => {
        
        
        this.showUi = true
      }).catch(err => {
        // console.log(err)
      })
    },
    async getShifts(){
      // get all shifts for hotel
      this.items = [];

      return this.$db.collection('shifts').doc(this.this_hotel.docId).get()
      .then(doc => {
        
        this.items = doc.exists ? doc.data().shifts : []
  
        return this.items
      })
    },
    convertTime (time) {
      // Check correct time format and split into components
      time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];

      if (time.length > 1) { // If time format correct
        time = time.slice (1);  // Remove full string match value
        time[5] = +time[0] < 12 ? 'AM' : 'PM'; // Set AM/PM
        time[0] = +time[0] % 12 || 12; // Adjust hours
      }
      return time.join (''); // return adjusted time or original string
    },
    editItem (item) {
      this.editedIndex = this.items.indexOf(item)
      item['day'] = this.tab
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem (item) {
      const index = this.items.indexOf(item)
      confirm('Are you sure you want to delete this item?') && this.items.splice(index, 1)
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      this.editedItem['day'] = this.tab

      if (this.editedIndex > -1) {

        // editing shift
        this.loading = true
        let newVals = Object.assign(this.items[this.editedIndex], this.editedItem)

        this.$db.collection('shifts').doc(this.this_hotel.docId)
        .update({
          shifts: this.items
        }).then(()=> {

          this.loading = false
          this.close()
        })
      } else {
        // Adding new shift
        this.loading = true

        this.$db.collection('shifts').doc(this.this_hotel.docId)
        .set({
          hotelId: this.this_hotel.docId,
          date_created: this.$firebase.firestore.FieldValue.serverTimestamp(),
          shifts: this.$firebase.firestore.FieldValue.arrayUnion(this.editedItem)
        }, {merge: true}).then(()=> {
          
          this.items.push(this.editedItem)
          this.loading = false
          this.close()
        })
      }
    }
  }
}
import { mapState, mapGetters } from 'vuex';
</script>