<template>
  <div>
    <t-navigation :breadcrumbs_items="breadcrumbs_items">
    </t-navigation>
    <v-container grid-list-xs>
      <v-row row wrap>
        <v-col>
          <v-card flat outlined>
            
            <v-card-text>
              <div>
                
                <v-toolbar v-if="$vuetify.breakpoint.xsOnly" flat>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" dark @click="dialog = true" 
                    depressed :loading="loading_btn" right
                    class="my-2 text-capitalize">
                    Add
                  </v-btn>
                </v-toolbar>
                

                <v-toolbar flat>
                  <v-toolbar-title></v-toolbar-title>
                  <v-tabs
                    v-model="tab"
                    color="" 
                    slider-color="yellow">
                    <v-tab href="#tab-1" class="text-capitalize">
                      Shop Items
                    </v-tab>
                    <v-tab href="#tab-2" class="text-capitalize">
                      Purchase History
                    </v-tab>
                  </v-tabs>
                  <v-spacer></v-spacer>
                  
                  <v-dialog v-model="dialog" max-width="500px" :persistent="loading_btn" scrollable>
                    
                    <v-card>
                      <v-card-title>
                        <span class="title">{{ formTitle }}</span>
                      </v-card-title>
                      <v-card-text>
                        <v-container grid-list-md>
                          <v-row wrap>
                            <v-col cols="12" sm="6">
                              <v-text-field label="Product name" v-model.trim="editedItem.name"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6">
                              <v-select
                                :items="categories"
                                v-model="editedItem.category"
                                label="Product Category"
                              ></v-select>
                            </v-col>
                            <v-col cols="12" sm="10">
                              <v-textarea label="Product description" outline v-model.trim="editedItem.description"></v-textarea>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field label="Price per unit (Naira)" type="number" min="1" v-model.number="editedItem.price"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                              <v-text-field label="Amount in-stock" type="number" min="0" v-model.number="editedItem.qty"></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="10" v-if="editedItem.productId">
                              <v-subheader>Product Image</v-subheader>
                              <v-row row wrap>
                                <v-col>
                                  <v-img v-if="editedItem.imgSrc" :src="editedItem.imgSrc" contain width="100%" height="200" />
                                  <template>
                                    <div v-if="!editedItem.imgSrc">No image</div>
                                    <!-- <v-btn color="info" depressed small class="mt-3 ml-0 d-inline text-capitalize" 
                                      @click="$helpers.trigFileSelector()"
                                      :disabled="uploading_image">
                                      {{(file || editedItem.imgSrc) ? 'Change Image' : 'Add Image'}}
                                    </v-btn> -->

                                    <v-file-input
                                      v-model="file"
                                      color="primary accent-4"
                                      counter class="mt-6"
                                      accept="image/png, image/jpeg"
                                      label="files"
                                      placeholder="Select Image"
                                      prepend-icon="mdi-paperclip"
                                      outlined
                                      :show-size="1000">
                                      <template v-slot:selection="{ index, text }">
                                        <v-chip
                                          v-if="index < 2"
                                          color="deep-purple accent-4"
                                          dark
                                          label
                                          small
                                        >
                                          {{ text }}
                                        </v-chip>

                                        <span
                                          v-else-if="index === 2"
                                          class="overline grey--text text--darken-3 mx-2"
                                        >
                                          +{{ file.length - 2 }} File(s)
                                        </span>
                                      </template>
                                    </v-file-input>

                                    <v-btn color="info" depressed v-if="file" 
                                      class="ml-0 d-inline text-capitalize" @click="uploadImage"
                                      :loading="uploading_image">
                                      Upload
                                    </v-btn>
                                  </template>
                                </v-col>
                              </v-row>
                            </v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click.native="close" :disabled="loading_btn">Cancel</v-btn>
                        <v-btn color="blue darken-1" text @click.native="save"
                          :disabled="!editedItem.name || !editedItem.description 
                            || editedItem.price < 1 || !editedItem.category" 
                          :loading="loading_btn">Save
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>

                  <v-btn color="primary" dark @click="dialog = true" 
                    :loading="loading_btn" class="mb-2 hidden-xs-only">
                    New Item
                  </v-btn>
                    
                </v-toolbar>

                <v-tabs-items v-model="tab">
                  <v-tab-item value="tab-1">
                    <v-card flat>
                      <v-card-title>
                        
                        <div class="flex-grow-1"></div>
                        <v-text-field
                          v-model="search"
                          append-icon="mdi-magnify"
                          label="Search"
                          single-line
                          hide-details
                        ></v-text-field>
                      </v-card-title>
                      <v-card-text>
                        <v-data-table
                          :headers="headers"
                          :items="items"
                          :search="search"
                          hide-default-footer>
                          <template v-slot:item.action="{ item }">
                            <v-btn icon class="mx-0" @click="editItem(item)">
                              <v-icon color="teal">mdi-pencil</v-icon>
                            </v-btn>
                            <v-btn icon class="mx-0" @click="deleteItem(item)">
                              <v-icon color="pink">mdi-delete</v-icon>
                            </v-btn>
                          </template>
                          <template slot="no-data">
                            <div class="text-center">No items</div>
                          </template>
                        </v-data-table>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item value="tab-2">
                    <v-card flat>
                      <v-card-text>
                        <v-list two-line dense>
                          <template v-for="(item, index) in formatOrders">
                            <v-subheader v-if="item.header" :key="item.header">{{ $helpers.parseDate(item.header, true) }}</v-subheader>
                            <v-divider v-else-if="item.divider" :inset="item.inset" :key="index"></v-divider>
                            <v-list-item v-else :key="item.productId + index" @click="''">
                              <v-list-item-avatar>
                                <img :src="item.imgSrc || '/no-image.png'">
                              </v-list-item-avatar>
                              <v-list-item-content>
                                <v-list-item-title v-html="item.name"></v-list-item-title>
                                <v-list-item-subtitle >Qty: {{item.qty}};  Price: {{item.price}}</v-list-item-subtitle>
                              </v-list-item-content>
                            </v-list-item>
                          </template>
                        </v-list>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
              </div>
              
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
export default {
  data: () => ({
    breadcrumbs_items: [
      {
        text: 'Dashboard',
        disabled: false,
        to: '/'
      },
      {
        text: 'Shop Manager',
        disabled: true,
        to: '/shop-manager'
      },
      
    ],
    dialog: false,
    tab: 'tab-1',
    loading_btn: false,
    headers: [
      {
        text: 'Product name',
        align: 'left',
        value: 'name'
      },
      { text: 'Description', value: 'description' },
      { text: 'Category', value: 'category' },
      { text: 'Price', value: 'price' },
      { text: 'In stock', value: 'qty' },
      { text: 'Actions', value: 'action', sortable: false }
    ],
    categories: [
      {text: 'meals', value: 'meals' },
      { text: 'Snacks and beverages', value: 'snacks' },
      { text: 'Drinks, bears, wines', value: 'drinks-bears-wines' },
      { text: 'Toiletries', value: 'toiletries' },
      { text: 'Laundary services', value: 'laundary' },
      { text: 'Spa, Gym, and other recreationals', value: 'spa-gym' },
      { text: 'Others', value: 'others' },
    ],
    items: [],
    search: '',
    all_orders: [],
    editedIndex: -1,
    editedItem: {name: '', description: '', category: 0, price: 0, qty: 0, productId: '', imgSrc: ''},
    defaultItem: { name: '', description: '', category: 0, price: 0, qty: 0, productId: '', imgSrc: ''},
    file: null,
    uploading_image: false,
    cloudinary: {
      cloud_name: 'unplugged',
      upload_preset: 'pe4iolek'
    },
  }),
  computed: {
    ...mapState([
      'auth',
      'this_hotel'
    ]),
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },
    formatOrders(){
      let arr = []
        let orders = this.all_orders
        let last_timestamp = 0
        orders.forEach((order,index) => {
          last_timestamp == order.timestamp ? '' : arr.push({header: order.timestamp})
          last_timestamp = order.timestamp
          arr.push(order)
          index != orders.length ? arr.push({divider: true, inset: true}) : ''
        })

        return arr
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    this_hotel(){
      this.initialize()
    }
  },

  methods: {
    async initialize () {
      this.items = await this.getShopItems()
      this.all_orders = await this.getOrders()
    },
    async getShopItems(){
      // retrieve the shop items
      let res = await this.$db.collection('hotels').doc(this.this_hotel.docId).collection('shopItems').get()
      let arr = []
      res.docs.forEach(doc => arr.push(doc.data()))
      return arr
    },
    async getOrders () {
			// get hotel orders
			let orders = []
			await this.$db.collection('storePurchase')
      .where('hotelRef', '==', this.this_hotel.docId)
			.get().then( docs => {
				
				docs.forEach(doc => {
          // console.log(doc.data())
					doc.data().items.forEach(item => {
            orders.push({
              timestamp: doc.data().timestamp,
              ...item
            })
          })
				})
			})
			// console.log(orders)
			return orders
    },
    editItem (item) {
      this.editedIndex = this.items.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    async deleteItem (item) {
      const index = this.items.indexOf(item)
      let yes = confirm('Are you sure you want to delete this item?') && this.items.splice(index, 1)
      if(yes){
        
        await this.$db.collection('hotels').doc(this.this_hotel.docId)
        .collection('shopItems').doc(item.productId)
        .delete()

        // delete file permanently from storage
				let imgpath = `${this.this_hotel.name.split(' ').join('-')}/shop-items-images/${item.name.split(' ').join('-')}-${item.productId}`
				let imgRef = storage.ref().child(imgpath)
				imgRef.delete().then(() => {
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Photo Removed',
						color: 'success'
					})
				}).catch(err => {
					// console.log(err)
				})

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Item deleted',
          color: 'success'
        })
        
      }
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    async save () {

      this.loading_btn = true

      if (this.editedIndex > -1) {
        // updating a product
        let edited = Object.assign(this.items[this.editedIndex], this.editedItem)

        let docRef = this.$db.collection('hotels')
        .doc(this.this_hotel.docId).collection('shopItems').doc(edited.productId)

        await docRef.update({
          last_updated: this.$firebase.firestore.FieldValue.serverTimestamp(),
          category: edited.category,
          name: edited.name,
          description: edited.description,
          price: edited.price,
          qty: edited.qty,
        })

        this.loading_btn = false
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Item updated',
          color: 'success'
        })
        this.close()


      } else {
        // Creating new product

        let docRef = this.$db.collection('hotels')
        .doc(this.this_hotel.docId).collection('shopItems').doc()

        await docRef.set({
          productId: docRef.id,
          date_created: this.$firebase.firestore.FieldValue.serverTimestamp(),
          hotelId: this.this_hotel.docId,
          category: this.editedItem.category,
          name: this.editedItem.name,
          description: this.editedItem.description,
          price: this.editedItem.price,
          qty: this.editedItem.qty,
        })

        this.editedItem.productId = docRef.id
        this.items.push(this.editedItem)

        this.loading_btn = false
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'New item created',
          color: 'success'
        })
        this.close()
      }
      
    },
    async uploadImage(){
      // upload product image and update the product
      this.uploading_image = true
      this.loading_btn = true

      let options = {
        files: [this.file],
				path: `${this.this_hotel.name.split(' ').join('-')}/shop-items-images`,
				file_names: [`${this.editedItem.name.split(' ').join('-')}-${this.editedItem.productId}`]
      }
      
      let uploaded = await this.$helpers.upload(options)
      
      await this.$db.collection('hotels').doc(this.this_hotel.docId)
        .collection('shopItems').doc(this.editedItem.productId)
        .update({
          imgSrc: uploaded[0]
        })

      this.editedItem.imgSrc = uploaded[0]
      Object.assign(this.items[this.editedIndex], this.editedItem)
      this.uploading_image = false
      this.loading_btn = false
      this.file = null
    }
  },
  created () {
    this.initialize()
    this.$eventBus.$on('Selected_Files', data => {
      
      this.editedItem.imgSrc = data.imgSrc[0],
      this.file = data.selected_files[0]
    })
  },
}
import { mapState } from 'vuex'
import { storage } from '@/plugins/firebase'
</script>